{% extends 'common/base.jinja2' %}
{% import 'common/thumbnail_item.jinja2' as thumbnail %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
    {{ stage("Submissions", "Messages", "/messages/submissions") }}
<div class="content">
  <form action="/messages/remove" method="post">
    <input type="hidden" name="token" value="{{ TOKEN() }}"/>
    <input type="hidden" id="recall" name="recall" value="submissions" />
    <input type="hidden" id="content" name="content" />

    <h3>Submission Notifications</h3>

            {% if query %}
      <ul class="thumbnail-grid">
                    {% for item in query %}
                        {% if loop.index0 < 10 %}
                            {{ thumbnail.grid_item(item, notifications=True, lazy_load=False ) }}
                        {% else %}
                            {{ thumbnail.grid_item(item, notifications=True) }}
                        {% endif %}
                    {% endfor %}
      </ul>

      <div class="notifs-actions sub-notifs-actions clear">
        <button type="button" class="button needs-js notifs-check-all do-check">Check All</button>
        <button type="button" class="button needs-js notifs-uncheck-all do-uncheck">Uncheck All</button>
        <div class="notifs-remove-buttons">
          <button class="button highlighted negative notifs-remove" data-confirm="Are you sure you want to remove the selected submissions?">Remove Selected</button>
          <button class="button negative notifs-remove-all"
                  name="remove-all-submissions" value="{{ NOW() }}"
                  data-confirm="Are you sure you want to remove all your submission notifications?">
            Remove All Notifications</button>
        </div>
        <div class="notifs-paging">
          <a class="button notifs-prev" href="/messages/submissions?backtime={{ query[0]['unixtime'] }}">Back</a>
          <a class="button notifs-next" href="/messages/submissions?nexttime={{ query[-1]['unixtime'] }}">Next</a>
        </div>
      </div>
            {% else %}
      <p style="padding-top: 2em; padding-bottom: 2em;" class="color-lighter">There are no notifications to display.</p>
            {% endif %}
  </form>
</div>
{% endblock %}