$def with (ratings)
$:{RENDER("common/stage_title.html", ["Character Profile", "Submit", "/submit"])}

<div id="submit-character-content" class="content">

  <form id="submit-form" name="submitcharacter" class="form clear" action="/submit/character" method="post" enctype="multipart/form-data">
    <div class="column files">
      <h3>Files</h3>

      <label for="submitfile">Picture</label>
      <input type="file" name="submitfile" id="submitfile" accept="image/*" required />
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (JPG): 50 MB</i></p>
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (PNG): 50 MB</i></p>
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (GIF): 50 MB</i></p>

      <label for="thumbfile">Thumbnail</label>
      <input type="file" name="thumbfile" id="thumbfile" accept="image/*" />
    </div>

    <div class="column info">
      <h3>Character Bio</h3>

      <label for="charactertitle">Name</label>
      <input type="text" class="input" name="title" id="charactertitle" maxlength="100" required />

      <label for="characterage">Age</label>
      <input type="text" class="input" name="age" id="characterage" maxlength="100" />

      <label for="charactergender">Gender</label>
      <input type="text" class="input" name="gender" id="charactergender" maxlength="100" />

      <label for="characterheight">Height</label>
      <input type="text" class="input" name="height" id="characterheight" maxlength="100" />

      <label for="characterweight">Weight</label>
      <input type="text" class="input" name="weight" id="characterweight" maxlength="100" />

      <label for="characterspecies">Species</label>
      <input type="text" class="input" name="species" id="characterspecies" maxlength="100" />

      <label for="characterrating">Rating</label>
      <select name="rating" class="input" id="characterrating" required>
        <option value="" selected="selected">&nbsp;</option>
        $for rating in ratings:
          <option value="${rating.code}">${rating.name_with_age}</option>
      </select>
      <p class="color-lighter tags-help"><i>Please apply a rating to this character according to our <a href="/help/ratings" target="_blank">ratings guidelines</a>.</i></p>
      $if len(ratings) > 1:
        <p class="color-lighter tags-help"><i>By selecting "Mature (18+)" or "Explicit (18+)", you agree that you are 18 years of age or older, and that you are abiding by laws governed by your local state and/or country as well as those in the <a href="/policy/tos" target="_blank">Weasyl Terms of Service</a></i></p>
    </div>

    <div class="column description">
      <h3>Description</h3>
      <label for="characterdesc">Description</label>
      <textarea name="content" class="markdown input expanding" rows="9" id="characterdesc"></textarea>
      <p class="color-lighter tags-help"><i>For assistance with formatting, including linking to users, see <a href="/help/markdown" target="_blank">Formatting Help</a>.</i></p>
    </div>

    <div class="column tagging">
      <h3>Tags</h3>
      <textarea name="tags" class="input tags-textarea" rows="3"></textarea>
      <p class="color-lighter tags-help"><i>When tagging, make sure to describe your character thoroughly (anthro, human, robot, and so on). Separate tags with a space. Use an underscore for multiple words in a tag, ex. red_fox</i></p>
    </div>

    <div class="column options">
      <h3>Additional Options</h3>

      <label for="submit-friends" class="input-checkbox last-input">
        <input type="checkbox" name="friends" id="submit-friends" />
        Make this submission visible only to my friends
      </label>

    </div>

    <div class="buttons clear">
      <button class="button positive" style="float: right;">Continue</button>
    </div>

  </form>
</div>
