$:{RENDER("common/stage_title.html", ["Create Commission"])}

<div class="content" style="padding:2em 40px;">
  <form name="submitcommission" action="/submit/commission" method="post">
    $:{CSRF()}
    <input type="text" name="count" value="1" /> slots<br />
    <input type="text" name="title" /> title<br />
    <textarea name="content" style="width:500px;height:100px;"></textarea> description<br />
    <input type="text" name="min_amount" /> min_amount<br />
    <input type="text" name="max_amount" /> max_amount<br />
    <select name="currency">
      <option value="">United States Dollar</option>
      <option value="e">European Union Euro</option>
      <option value="p">British Pound Sterling</option>
      <option value="y">Japanese Yen</option>
      <option value="c">Canadian Dollar</option>
      <option value="m">Mexican Peso</option>
      <option value="u">Australian Dollar</option>
    </select> currency<br />
    <input type="submit" />
  </form>
</div>
