$def with (submitid)
$:{RENDER("common/stage_title.html", ["Reupload Cover Artwork"])}

<div class="content">

  <form id="submit-form" name="submitvisual" class="form skinny clear" action="/reupload/cover" method="post" enctype="multipart/form-data">
    <input type="hidden" name="submitid" value="${submitid}" />

    <label for="coverfile">Cover Artwork</label>
    <input type="file" name="coverfile" id="coverfile" accept="image/*" />

    <div class="buttons clear">
      <button class="button positive" style="float: right;">Continue</button>
    </div>

  </form>

</div>
