{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
    {{ stage("Submission File", "Manage") }}
<div id="manage_thumbnail_content" class="content">

  <h3>Choose Submission File</h3>

  <form action="/reupload/{{ feature }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="{{ TOKEN() }}"/>
    <input type="hidden" name="targetid" value="{{ targetid }}"/>

    <div style="width:350px;margin:auto;">
      <input type="file" name="submitfile" id="submitfile" class="styled-input" />
    </div>

    <div style="text-align:center;margin-top:2em;">
      <a class="button" href="/{{ feature }}/{{ targetid }}">Go Back</a>
      <input type="submit" class="button positive" value="Reupload File" />
    </div>
  </form>

</div>
{% endblock %}