$def with (feature, targetid)
$:{RENDER("common/stage_title.html", ["Submission File", "Manage"])}

<div id="manage_thumbnail_content" class="content">

  <h3>Choose Submission File</h3>

  <form action="/reupload/${feature}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="targetid" value="${targetid}" />

    <div style="width:350px;margin:auto;">
      <input type="file" name="submitfile" id="submitfile" />
    </div>

    <div style="text-align:center;margin-top:2em;">
      <button class="button positive">Reupload File</button>
    </div>
  </form>

</div>
