$:{RENDER("common/stage_title.html", ["Submit Artwork"])}

<div id="submit-content" class="content">

  <div class="group">
    <h3><a href="/submit/visual">Visual</a></h3>
    <p>Create a submission with an image file from your computer</p>
  </div>

  <div class="group">
    <h3><a href="/submit/literary">Literary</a></h3>
    <p>Create a submission with a document from your computer or Google Drive</p>
  </div>

  <div class="group">
    <h3><a href="/submit/multimedia">Multimedia</a></h3>
    <p>Create a submission with a music or flash file from your computer, or embed existing online content</p>
  </div>

  <div class="group">
    <h3><a href="/submit/character">Character</a></h3>
    <p>Create a profile for an original character with an image file from your computer</p>
  </div>

  <div class="group">
    <h3><a href="/submit/journal">Journal Entry</a></h3>
    <p>Create a journal entry with formatted text</p>
  </div>

</div>
