$def with (folders, subtypes, ratings, form)
$:{TITLE("Visual Artwork", "Submit", "/submit")}

<div id="submit-visual-content" class="content">

  <form id="submit-form" name="submitvisual" class="form clear" action="/submit/visual" method="post" enctype="multipart/form-data">
    <div class="column files">
      <h3>Files</h3>

      <label for="submitfile">Submission</label>
      $if form.imageURL:
        <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
          Downloading from <strong title="${form.imageURL}">${form.imageURL}</strong>
        </div>
        <input type="hidden" name="imageURL" value="${form.imageURL}" />
      $else:
        <input type="file" name="submitfile" id="submitfile" accept="image/*" required />
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (JPG): 50 MB</i></p>
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (PNG): 50 MB</i></p>
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Limit (GIF): 50 MB</i></p>

      <label for="thumbfile">Thumbnail</label>
      <input type="file" name="thumbfile" id="thumbfile" accept="image/*" />
    </div>

    <div class="column info">
      <h3>Information</h3>

      <label for="submissiontitle">Title</label>
      <input type="text" class="input" name="title" value="${form.title}" id="submissiontitle" maxlength="200" required />

      <label for="submissioncat">Subcategory</label>
      <select name="subtype" class="input" id="submissioncat">
        <option value="" selected="selected">&nbsp;</option>
        $for i in subtypes:
          <option value="${i[0]}">${i[1]}</option>
      </select>

      <label for="submissionfolder">Folder</label>
      <select name="folderid" class="input" id="submissionfolder">
        <option value="" selected="selected">&nbsp;</option>
        $for i in folders:
          <option value="${i['folderid']}">${i['title']}</option>
      </select>

      <label for="submissionrating">Rating</label>
      <select name="rating" class="input" id="submissionrating" required>
        <option value="" selected="selected">&nbsp;</option>
        $for rating in ratings:
          <option value="${rating.code}">${rating.name_with_age}</option>
      </select>
      <p class="color-lighter tags-help"><i>Please apply a rating to this submission according to our <a href="/help/ratings" target="_blank">ratings guidelines</a>.</i></p>
      $if len(ratings) > 1:
        <p class="color-lighter tags-help"><i>By selecting "Mature (18+)" or "Explicit (18+)", you agree that you are 18 years of age or older, and that you are abiding by laws governed by your local state and/or country as well as those in the <a href="/policy/tos" target="_blank">Weasyl Terms of Service</a></i></p>
    </div>

    <div class="column description">
      <h3>Description</h3>
      <label for="submissiondesc">Description</label>
      <textarea name="content" class="markdown input expanding" rows="9" id="submissiondesc">${form.description.strip()}</textarea>
      <p class="color-lighter tags-help"><i>For assistance with formatting, including linking to users, see <a href="/help/markdown" target="_blank">Formatting Help</a>.</i></p>
    </div>

    <div class="column tagging">
      <h3>Tags</h3>
      <textarea name="tags" class="input tags-textarea" rows="3" required>${' '.join(form.tags)}</textarea>
      <p class="color-lighter tags-help"><i>When tagging, make sure to describe your submission thoroughly (for example, if it contains a certain type of character, use tags such as anthro, human, or robot). Separate tags with a space. Use an underscore for multiple words in a tag, ex. red_fox</i></p>
    </div>

    <div class="column options">
      <h3>Additional Options</h3>

      <label class="input-checkbox">
        <input type="checkbox" name="customthumb" />
        Use Weasyl to create a custom thumbnail
      </label>

      <label for="submit-critique" class="input-checkbox">
        <input type="checkbox" name="critique" id="submit-critique" />
        Flag this submission for critique
      </label>

      <label for="submit-friends" class="input-checkbox">
        <input type="checkbox" name="friends" id="submit-friends" />
        Make this submission visible only to my friends
      </label>

      <label for="nonotifcation" class="input-checkbox last-input">
        <input type="checkbox" name="nonotification" id="nonotifcation" />
        Don't generate notifications for my followers for this submission
      </label>

    </div>

    <div class="buttons clear">
      <button class="button positive" style="float: right;">Continue</button>
    </div>

  </form>
</div>
<script type="module" src="${resource_path('js/submit.js')}" async></script>
