$def with (profile, userinfo, relationship, result)
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")

<div id="characters_stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "characters", profile['show_favorites_tab']])}
</div>

<div class="content user-characters">
  <h3>Characters</h3>

  $if result.query:
    <ul class="thumbnail-grid">
      $for index, item in enumerate(result.query):
        $if index < 10:
          $:{_GRID_ITEM(item, lazy_load=False)}
        $else:
          $:{_GRID_ITEM(item)}
    </ul>
    $:{RENDER("common/page_navigation.html", [result])}
  $else:
    There are no characters to display.
</div>
