$def with (profile, userinfo, relationship, result, post_counts_by_type)
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
$ card_viewer = get_card_viewer()

<div id="characters_stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "characters", profile['show_favorites_tab'], post_counts_by_type])}
</div>

<div class="content user-characters">
  <h3>Characters</h3>

  $if result.query:
    $ cards = card_viewer.get_cards(result.query)
    <ul is="thumbnail-grid" class="thumbnail-grid" data-widths="${CARD_WIDTHS(cards)}">
      $for index, item in enumerate(cards):
        $:{_GRID_ITEM(item, include_byline=False, lazy_load=index >= 10)}
    </ul>
    $:{RENDER("common/page_navigation.html", [result])}
  $else:
    There are no characters to display.
</div>
