$def with (profile, userinfo, relationship, result)
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")

<div id="characters_stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "characters", profile['show_favorites_tab']])}
</div><!-- /stage -->

<div class="content user-characters">
  <h3>Characters</h3>

  $if result.query:
    <ul class="thumbnail-grid">
      $for i in result.query:
        $:{_GRID_ITEM(i)}
    </ul><!-- /.thumbnail-grid -->
    $:{RENDER("common/page_navigation.html", [result])}
  $else:
    There are no characters to display.
</div>
