$def with (profile, userinfo, relationship, query)

<div id="commissions_stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], None, profile['show_favorites_tab']])}
</div>

<div id="commissions-content" class="content">
  <div class="wrapper">
    <h3>Commissions</h3>

    $if(query):
      $for i in query:
        <div class="item">
          <h4><a href="/commission/${i['commishid']}/${SLUG(i['title'])}">${i['title']}</a></h4>
          <p class="color-lighter date"><i>Posted on</i> ${DATE(i['unixtime'])} <i>at</i> ${TIME(i['unixtime'])}</p>

          $if(i['max_amount']):
            <p><strong>Price Range:</strong> <i>From</i> ${SYMBOL(i['settings'])}${PRICE(i['min_amount'])} <i>to</i> ${SYMBOL(i['settings'])}${PRICE(i['max_amount'])}</p>
          $else:
            <p><strong>Price Range:</strong> <i>Around</i> ${SYMBOL(i['settings'])}${PRICE(i['min_amount'])}</p>

          <p><strong>Available Slots:</strong> ${i['available']}</p>
          <p class="description formatted-content">$:{MARKDOWN(i['content'])}</p>
        </div>
    $else:
      <p class="color-lighter" style="padding-bottom: 2em;">There are no available commissions to display.</p>
  </div>
</div>
