{% extends 'common/base.jinja2' %}
{% import 'user/user_tools.jinja2' as user_macro %}
{% import 'common/thumbnail_item.jinja2' as thumbnail %}
{% from 'common/page_navigation.jinja2' import page_navigation %}
{% block content %}
<div id="favorites-stage" class="stage">
  {{ user_macro.USERTOOLS(profile, userinfo, relationship) }}
  {{ user_macro.USERTABS(profile['username'], "favorites", profile['show_favorites_tab']) }}
</div>

<div id="favorites-content" class="content user-favorites">
  {% if(feature in ["submit", "char", "journal"]) %}
    {% if feature == "submit" %}
      <h3>Favorite Submissions</h3>
    {% elif feature == "char" %}
      <h3>Favorite Characters</h3>
    {% else %}
      <h3>Favorite Journals</h3>
    {% endif %}

    {% if result.query %}
      <ul class="thumbnail-grid">
        {% for item in result.query %}
          {% if loop.index0 < 10 %}
            {{ thumbnail.grid_item(item, lazy_load=False ) }}
          {% else %}
            {{ thumbnail.grid_item(item) }}
          {% endif %}
        {% endfor %}
      </ul>

      {{ page_navigation(result) }}

    {% else %}
      There are no favorites to display; you may wish to check this user's <a href="/favorites/{{ profile['username'] | LOGIN }}">favorites summary page</a>.
    {% endif %}
  {% else %}
    {% if(result['submit'] or result['char'] or result['journal']) %}
      {% if result['char'] %}
        <h3>Favorite Characters</h3>

        <ul class="grid avatar-grid">
          {% for i in result['char'] %}
            {{ thumbnail.grid_item(i, lazy_load=False ) }}
          {% endfor %}
          <li class="clear more"><a class="more" href="/favorites?userid={{ profile['userid'] }}&amp;feature=char"><i>More</i> <span>Characters</span></a></li>
        </ul>
  {% endif %}

  {% if result['submit'] %}
    <h3>Favorite Submissions</h3>

    <ul class="thumbnail-grid medium-footprint">
      {% for i in result['submit'] %}
        {{ thumbnail.grid_item(i, lazy_load=False ) }}
      {% endfor %}
      <li class="clear more"><a class="more" href="/favorites?userid={{ profile['userid'] }}&amp;feature=submit"><i>More</i> <span>Submissions</span></a></li>
    </ul>
  {% endif %}

  {% if(result['journal']) %}
        <h3>Favorite Journals</h3>

        <ul class="grid avatar-grid">
          {% for i in result['journal'] %}
            {{ thumbnail.grid_item(i, lazy_load=False ) }}
          {% endfor %}
          <li class="clear more"><a class="more" href="/favorites?userid={{ profile['userid'] }}&amp;feature=journal"><i>More</i> <span>Journals</span></a></li>
        </ul>
  {% endif %}
  {% else %}
      <h3>Favorites</h3>

      <p>There are no favorites to display.</p>
  {% endif %}
  {% endif %}

</div>
{% endblock %}