$def with (profile, userinfo, relationship, feature, result, post_counts_by_type)
$code:
  _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
  _TEXT_POST_ITEM = COMPILE("common/text_post_item.html")
  card_viewer = get_card_viewer()

<div id="favorites-stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "favorites", profile['show_favorites_tab'], post_counts_by_type])}
</div>

<div id="favorites-content" class="content user-favorites">
  $if(feature in ["submit", "char", "journal"]):
    $if(feature == "submit"):
      <h3>Favorite Submissions</h3>
    $elif(feature == "char"):
      <h3>Favorite Characters</h3>
    $else:
      <h3>Favorite Journals</h3>

    $if result.query:
      $ cards = card_viewer.get_cards(result.query)
      $ nav_layout = "pages-layout-split"
      $if feature == "journal":
        $ nav_layout += " pages-vpad"
        <div class="journals">
          $for journal in cards:
            $:{_TEXT_POST_ITEM(journal)}
        </div>
      $else:
        <ul is="thumbnail-grid" class="thumbnail-grid" data-widths="${CARD_WIDTHS(cards)}">
          $for index, card in enumerate(cards):
            $:{_GRID_ITEM(card, lazy_load=index >= 10)}
        </ul>

      $:{COMPILE("common/page_navigation.html")(result, layout=nav_layout)}
    $else:
      There are no favorites to display; you may wish to check this user's <a href="/favorites/${LOGIN(profile['username'])}">favorites summary page</a>.
  $else:
    $if(result['submit'] or result['char'] or result['journal']):
      $if(result['char']):
        <h3>Favorite Characters</h3>

        $ cards = card_viewer.get_cards(result['char'])
        <ul is="thumbnail-grid" class="thumbnail-grid medium-footprint" data-widths="${CARD_WIDTHS(cards)}">
          $for card in cards:
            $:{_GRID_ITEM(card, lazy_load=False)}
          <li class="more"><a class="more" href="/favorites?userid=${profile['userid']}&amp;feature=char"><i>More</i> <span>Characters</span></a></li>
        </ul>

      $if(result['submit']):
        <h3>Favorite Submissions</h3>

        $ cards = card_viewer.get_cards(result['submit'])
        <ul is="thumbnail-grid" class="thumbnail-grid medium-footprint" data-widths="${CARD_WIDTHS(cards)}">
          $for card in cards:
            $:{_GRID_ITEM(card, lazy_load=False)}
          <li class="more"><a class="more" href="/favorites?userid=${profile['userid']}&amp;feature=submit"><i>More</i> <span>Submissions</span></a></li>
        </ul>

      $if(result['journal']):
        <h3>Favorite Journals</h3>

        $ cards = card_viewer.get_cards(result['journal'])
        <div class="journals">
          $for journal in cards:
            $:{_TEXT_POST_ITEM(journal)}
        </div>
        <div class="more"><a class="more" href="/favorites?userid=${profile['userid']}&amp;feature=journal"><i>More</i> <span>Journals</span></a></div>

    $else:
      <h3>Favorites</h3>

      <p>There are no favorites to display.</p>

</div>
