$def with (profile, userinfo, relationship, query)

<div class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "", profile['show_favorites_tab']])}
</div>

<div class="content">
  <h3>Friends</h3>
  $if(query):
    <ul class="grid avatar-grid">
    $for i in query:
      <li class="grid-unit">
        <figure class="thumbnail">
          $ avatar = i['user_media']['avatar'][0]
          <a class="avatar" href="/~${LOGIN(i['username'])}" title="${i['username']}">
            <img src="${avatar['display_url']}" alt="avatar of ${i['username']}" />
          </a>
          <figcaption class="caption centered big">
            <h5><a class="username one-line" href="/~${LOGIN(i['username'])}" title="${i['username']}">${i['username']}</a></h5>
          </figcaption>
        </figure>

    </ul><!-- /.thumbnail-grid -->
    <div>
      <a class="button" href="/friends?userid=${profile['userid']}&amp;backid=${query[0]['userid']}">Back</a>
      <a class="button" href="/friends?userid=${profile['userid']}&amp;nextid=${query[-1]['userid']}">Next</a>
    </div>
  $else:
    <p>There are no users to display.</p>
</div>
