$def with (profile, userinfo, relationship, journals, latest)
<div id="journals_stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "journals", profile['show_favorites_tab']])}
</div><!-- /stage -->

<div class="content" id="journals-content">
  <div class="form wide">
    <h3>Journals</h3>

    $for i in journals:
      <h4><a href="/journal/${i['journalid']}/${SLUG(i['title'])}">${i['title']}</a></h4>
  </div>
</div>
