$def with (request, profile, userinfo, relationship, myself, submissions, more_submissions, favorites, featured, folders, journal, shouts, statistics, show_statistics, commishinfo, has_friends, is_unverified, post_counts_by_type)
$code:
  _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
  card_viewer = get_card_viewer()
  viewable = "users/%s" % (profile["userid"],)

<section><div id="user-header" class="stage clear">

  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}

  $# The submissions/favorite grids are above/straddling the fold, so omit lazy load.
  $if(submissions):
    $code:
      include_byline = {
        'submissions': False,
        'characters': False,
        'collections': True,
      }[more_submissions]
      cards = card_viewer.get_cards(submissions)
    <ul is="thumbnail-grid" id="user-thumbs" class="thumbnail-grid small-footprint" data-widths="${CARD_WIDTHS(cards)}">
      $for card in cards:
        $:{_GRID_ITEM(card, include_byline=include_byline, lazy_load=False)}
      <li class="more more-joined"><a class="more" href="/${more_submissions}/${LOGIN(profile['username'])}"><span>${profile['username']}'s ${more_submissions.title()}</span></a></li>
    </ul>

  $if submissions and favorites:
    <hr class="user-header-duo-sep" />

  $if favorites:
    $ cards = card_viewer.get_cards(favorites)
    <ul is="thumbnail-grid" id="fav-thumbs" class="thumbnail-grid tiny-footprint" data-widths="${CARD_WIDTHS(cards)}">
      $for card in cards:
        $:{_GRID_ITEM(card, lazy_load=False)}
      <li class="more more-joined"><a class="more" href="/favorites/${LOGIN(profile['username'])}"><span>${profile['username']}'s Favorites</span></a></li>
    </ul>

</div></section>

$:{RENDER("common/user_tabs.html", [profile['username'], "profile", profile['show_favorites_tab'], post_counts_by_type])}

<div id="user-content" class="content clear">
  $# only moderators can see the profiles of unverified users, so no need for additional ability-to-vouch checks
  $# this messes with the spacing, but, again, only moderators can see it. it's hard to fix without redoing the layout.
  $if is_unverified:
    <div id="user-mod">
      <h3>Moderation</h3>

      <p>
        This account hasn’t been <a href="/help/verification">verified</a> yet, so it’s only visible to staff.
      </p>

      <form id="error_buttons" method="post" action="${request.route_path('vouch')}">
        <input type="hidden" name="targetid" value="${profile['userid']}">
        <button class="button positive">Vouch for ${profile['username']}</button>
      </form>
    </div>

  $if(profile['profile_text']):
    <div id="user-profile" class="clear on-side">
      <h3>Profile</h3>
      <div class="formatted-content">
        $:{MARKDOWN(profile['profile_text'])}
      </div>
    </div>

  $if featured is None and submissions:
    $ featured = submissions[0]
    $ blurb = 'Most recent'
  $else:
    $ blurb = 'Featured'
  $if featured is not None and featured['sub_media'].get('cover'):
      $ cover = featured['sub_media']['cover'][0]
      <div id="user-featured">
        $if featured['contype'] in (10, 15):
          $code:
            featured_link = request.route_path(
              'submission_detail_profile',
              name=LOGIN(featured['username']),
              submitid=featured['submitid'],
              slug=SLUG(featured['title']),
            )
          <h3>${blurb}: <a href="${featured_link}">${featured['title']}</a></h3>
          <div id="uf-image">
            <a href="${featured_link}"><img src="${cover['display_url']}" alt="${blurb} image: ${featured['title']}" /></a>
        $elif featured['contype'] == 20:
          <h3>Most Recent: <a href="/character/${featured['charid']}/${SLUG(featured['title'])}">${featured['title']}</a></h3>
          <div id="uf-image">
            <a href="/character/${featured['charid']}/${SLUG(featured['title'])}"><img src="${cover['display_url']}" alt="${blurb} character: ${featured['title']}" /></a>
        </div>
      </div>

  $if userinfo['user_links']:
    <div id="user-contact" class="clear on-side">
      <h3>Contact</h3>
      <dl class="leaders">
      $for name, values in sorted(userinfo['user_links'].items(), key=lambda kv: kv[0].lower()):
        $for value in sorted(values):
          <dt>${name}</dt>
          $ info = M.SOCIAL_SITES_BY_NAME.get(name, {})
          $if value.startswith(('http://', 'https://')):
            <dd><a href="${value}" rel="me nofollow ugc">${value}</a></dd>
          $elif value.startswith('mailto:'):
            <dd><a href="${value}">${value.partition('mailto:')[2]}</a></dd>
          $elif info.get("url"):
            <dd><a href="${info["url"] % value}" rel="me">${value}</a></dd>
          $else:
            <dd>${value}</dd>
      </dl>
    </div>

  $if(journal):
    <div id="user-journal" class="clear on-side">
      <h3>Latest Journal</h3>
      <h4><a href="/journal/${journal['journalid']}/${SLUG(journal['title'])}">${journal['title']}</a></h4>
      <h5>$:{LOCAL_TIME(journal['unixtime'], '<i>on</i> {date} <i>at</i> {time}')}</h5>

      <div class="formatted-content">
        $:{MARKDOWN(journal['content'])}
      </div>

      <a class="more more-block" href="/journal/${journal['journalid']}/${SLUG(journal['title'])}"><i>View</i> <span>This Journal</span> <i>and</i> <span>${journal['comments']} Comments</span></a>
    </div>


  $if(commishinfo['class'] and commishinfo['price']):
    <div id="user-commissions" class="clear on-side">
      <h3>Commissions</h3>

      $for i in commishinfo['class']:
        <h4>${i['title']}</h4>
        <dl class="leaders">
        $for j in commishinfo['price']:
          $if(j['classid'] == i['classid'] and 'a' not in j['settings']):
            <dt>${j['title']}</dt>
            <dd>$:{'<i>from </i>' if j['amount_max'] else ''}${SYMBOL(j['settings'])} ${PRICE(j['amount_min'])}</dd>
            $if(j['amount_max']):
              <dd><i>to </i>${SYMBOL(j['settings'])} ${PRICE(j['amount_max'])}</dd>
        $for j in commishinfo['price']:
          $if(j['classid'] == i['classid'] and 'a' in j['settings']):
            <dt><i>add &#160;</i>${j['title']}</dt>
            <dd>$:{'<i>from </i>' if j['amount_max'] else ''}${SYMBOL(j['settings'])} ${PRICE(j['amount_min'])}</dd>
            $if(j['amount_max']):
              <dd><i>to </i>${SYMBOL(j['settings'])} ${PRICE(j['amount_max'])}</dd>
        </dl>

      $if(commishinfo['content']):
        <div class="formatted-content">$:{MARKDOWN(commishinfo['content'])}</div>
    </div>


  $if show_statistics:
    <div id="user-stats" class="clear on-side">
      <h3>Statistics</h3>
      <p>Joined $:{LOCAL_TIME(profile['unixtime'], '{date}')}</p>
      <dl>
        <dt id="page-views" data-viewable="${viewable}">${statistics['page_views']}</dt> <dd>Pageviews</dd>
        <dt>${statistics['followed']}</dt> <dd>Followers</dd>
        <dt>${statistics['faves_sent']}</dt> <dd>Favorites Given</dd>
        <dt>${statistics['faves_received']}</dt> <dd>Favorites Received</dd>
        <dt>${statistics['submissions']}</dt> <dd>Submissions</dd>
        <dt>${statistics['journals']}</dt> <dd>Journals</dd>
        <dt>${statistics['following']}</dt> <dd>Following</dd>
        $if myself and myself['is_mod']:
          <dt>${statistics['staff_notes']}</dt>
          <dd><a href="/staffnotes/${LOGIN(profile['username'])}">Staff Notes</a></dd>
      </dl>
    </div>
  $else:
    $# record page views even when statistics aren’t visible
    <script type="text/plain" id="page-views" data-viewable="${viewable}"></script>

  $if statistics['following'] != 0 or statistics['followed'] != 0 or has_friends():
    <div id="user-connections" class="clear on-side">
      <h3>Connections</h3>
      <a class="more more-block" href="/friends/${LOGIN(profile['username'])}"><i>View</i> <span>Friends of</span> <i>${profile['username']}</i></a>
      <a class="more more-block" href="/following/${LOGIN(profile['username'])}"><i>View Users ${profile['username']}</i> <span>is Following</span></a>
      <a class="more more-block" href="/followed/${LOGIN(profile['username'])}"><i>View Users</i> <span>who Follow</span> <i>${profile['username']}</i></a>
    </div>

  $if(folders):
    <div id="user-folders" class="clear">
      <h3>Folders</h3>
      <div id="uf-folders">
        $for i in folders:
          $ thumb_files = card_viewer.get_thumbnail_files(i)
          <a class="clear" href="/submissions?userid=${profile['userid']}&amp;folderid=${i['folderid']}">
            <div class="stack">
              <picture>
                $if thumb_files.webp is not None:
                  <source type="image/webp" srcset="${thumb_files.webp['display_url']}" />
                <img src="${thumb_files.fallback['display_url']}" alt="" />
              </picture>
            </div>
            <h5>${i['title']}</h5>
            <h6><b>${i['count']}</b> Item${'' if i['count'] == 1 else 's'}</h6>
          </a>
      </div>
    </div>

  <div id="user-shouts">
    <h3>Shouts</h3>
    $if(shouts):
      $:{RENDER("common/comment_thread.html", ["user_comments", shouts, "userid", myself, None, profile['userid']])}
    $if(myself):
      $:{RENDER("common/comment_form.html", [myself, profile['userid'], "shouts"])}
  </div>

</div>
