$def with (profile, userinfo, relationship, myself, shouts, feature)
<div id="shouts-stage" class="stage">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], feature, profile['show_favorites_tab']])}
</div>
<div id="shouts-content" class="content">
  $if feature == "staffnotes":
    <div class="report-stats">
      <h4 style="padding-top: 1.5em">Reporting Stats</h4>
      $# open reports should come first in the list
      <strong>Open:</strong>
      <em>${"0" if 'Open' not in userinfo['reportstats'] else userinfo['reportstats']['Open']}</em> |
      $for closuretype, reportcount in userinfo['reportstats'].items():
        $if closuretype != 'Open':
          <strong>${closuretype}:</strong>
          <em>${reportcount}</em> |
      <strong>Total:</strong>
      <em>${userinfo['reporttotal']}</em>
    </div>

    <h3>Staff notes for ${profile['username']}</h3>
  $else:
    <h3>${profile['username']}'s Shouts</h3>
  $if(shouts):
    $:{RENDER("common/comment_thread.html", ["shouts_comments", shouts, "userid", myself, None, profile['userid']])}
  $else:
    There are no ${'staff notes' if feature == "staffnotes" else 'comments'} to display.
  $if(myself):
    $:{RENDER("common/comment_form.html", [myself, profile['userid'], feature])}
</div>
