$def with (profile, userinfo, relationship, result, folders, currentfolder)
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")

<div id="submissions-stage" class="stage clear">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "submissions", profile['show_favorites_tab']])}

  <div class="user-submissions">

    $ username = LOGIN(profile['username'])

    $ div_class = ""
    $ grid_class = "thumbnail-grid"
    $if(folders):
      $ div_class = "sectioned-main clear"
      $ grid_class = "thumbnail-grid sectioned"
      <div class="content sectioned-sidebar">
        <h3>Folders</h3>
        $for i in folders:
          <p><a href="/submissions/${username}?folderid=${i['folder_id']}"$:{' class="current"' if i['folder_id'] == currentfolder else ''}>${i['title']}</a></p>
          $for s in i.get('subfolders', ()):
            <p style="margin-left:15px;"><a href="/submissions/${username}?folderid=${s['folder_id']}"$:{' class="current"' if s['folder_id'] == currentfolder else ''}>${s['title']}</a></p>
      </div>

    $if result.query:
      <div class="${div_class}">
        <ul class="${grid_class}">
          $for index, item in enumerate(result.query):
            $if index < 10:
              $:{_GRID_ITEM(item, lazy_load=False)}
            $else:
              $:{_GRID_ITEM(item)}
        </ul>
        <div style="padding-top: 1.4em;" class="pad-left pad-right">
          $:{RENDER("common/page_navigation.html", [result])}
        </div>
      </div>
    $else:
      <div class="${div_class}">
        <p class="pad-left pad-right" style="padding-top: 2em;">There are no submissions to display</p>
      </div>
  </div>
</div>
