{% extends 'common/base.jinja2' %}
{% import 'user/user_tools.jinja2' as user_macro %}
{% import 'common/comments.jinja2' as comment_macros %}
{% import 'common/thumbnail_item.jinja2' as thumbnail %}
{% from 'common/page_navigation.jinja2' import page_navigation %}
{% block content %}
<div id="submissions-stage" class="stage clear">
  {{ user_macro.USERTOOLS(profile, userinfo, relationship) }}
  {{ user_macro.USERTABS(profile['username'], "submissions", profile['show_favorites_tab']) }}

  <div class="user-submissions">

    {% set username = profile['username']|LOGIN %}

    {% if(currentfolder == None) %}
      {% set folderquery = "" %}
    {% else %}
      {% set folderquery = "&amp;folderid=%i"|format(currentfolder) %}
    {% endif %}

    {% set div_class = "" %}
    {% set grid_class = "thumbnail-grid" %}
    {% if folders %}
      {% set div_class = "sectioned-main clear" %}
      {% set grid_class = "thumbnail-grid sectioned" %}
      <div class="content sectioned-sidebar">
        <h3>Folders</h3>
        {% for i in folders %}
          {% if(i['subfolder']) %}
            <p style="margin-left:15px;">
            {% if i['folderid'] == currentfolder %}
              {% set current_class = 'class="current"' %}
            {% else %}
              {% set current_class = "" %}
            {% endif %}
              <a href="/submissions/{{ username }}?folderid={{ i['folderid'] }}" {{ current_class|safe }}>{{ i['title'] }}</a>
            </p>
          {% else %}
            {% if i['folderid'] == currentfolder %}
              {% set current_class = 'class="current"' %}
            {% else %}
              {% set current_class = "" %}
            {% endif %}
            <p><a href="/submissions/{{ username }}?folderid={{ i['folderid'] }}" {{ current_class|safe }}>{{ i['title'] }}</a></p>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    {% if result.query %}
      <div class="{{ div_class }}">
        <ul class="{{ grid_class }}">
          {% for item in result.query %}
            {% if loop.index0 < 10 %}
              {{ thumbnail.grid_item(item, lazy_load=False ) }}
            {% else %}
              {{ thumbnail.grid_item(item) }}
            {% endif %}
          {% endfor %}
        </ul>
        <div style="padding-top: 1.4em;" class="pad-left pad-right">
          {{ page_navigation(result) }}
        </div>
      </div>
    {% else %}
      <div class="{{ div_class }}">
        <p class="pad-left pad-right" style="padding-top: 2em;">There are no submissions to display</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}