$def with (profile, userinfo, relationship, result, folders, currentfolder, post_counts_by_type)
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
$ card_viewer = get_card_viewer()

<div id="submissions-stage" class="stage clear">
  $:{RENDER("common/user_tools.html", [profile, userinfo, relationship])}
  $:{RENDER("common/user_tabs.html", [profile['username'], "submissions", profile['show_favorites_tab'], post_counts_by_type])}

  <div class="user-submissions">

    $ username = LOGIN(profile['username'])

    $ div_class = ""
    $if(folders):
      $ div_class = "sectioned-main"
      <div class="content sectioned-sidebar">
        <h3>Folders</h3>
        $for i in folders:
          <p><a href="/submissions/${username}?folderid=${i['folder_id']}"$:{' class="current"' if i['folder_id'] == currentfolder else ''}>${i['title']}</a></p>
          $for s in i.get('subfolders', ()):
            <p style="margin-left:15px;"><a href="/submissions/${username}?folderid=${s['folder_id']}"$:{' class="current"' if s['folder_id'] == currentfolder else ''}>${s['title']}</a></p>
      </div>

    $if result.query:
      $ cards = card_viewer.get_cards(result.query)
      <div class="${div_class}">
        <ul is="thumbnail-grid" class="thumbnail-grid" data-widths="${CARD_WIDTHS(cards)}">
          $for index, item in enumerate(cards):
            $:{_GRID_ITEM(item, include_byline=False, lazy_load=index >= 10)}
        </ul>
        <div style="padding-top: 1.4em;" class="pad-left pad-right">
          $:{RENDER("common/page_navigation.html", [result])}
        </div>
      </div>
    $else:
      <div class="${div_class}">
        <p class="pad-left pad-right" style="padding-top: 2em;">There are no submissions to display</p>
      </div>
  </div>
</div>
