#ad-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1em;
}

.ad-detail {
    display: inline-block;
    margin: 1em;
    width: 300px;
}

.ad-detail-info {
    align-items: center;
    display: flex;
    margin-top: 0.3em;
    justify-content: space-between;
}

.ad-detail-target {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ad-detail-takedown {
    margin-left: 1.6em;
}

#ad-list.ad-list-detailed {
    display: block;
    margin-bottom: 0;

    .ad-detail {
        display: flex;
        width: auto;
    }

    .ad-detail-info {
        margin-left: 1em;
    }

    dt, dd {
        float: left;
    }

    dt {
        clear: left;
        font-weight: bold;
        min-width: 6em;
        padding-right: 0.6em;
        text-align: right;
    }
}
