$def with (tfa_enabled, tfa_recovery_codes_count)
$:{RENDER("common/stage_title.html", ["Two-Factor Authentication", "Settings"])}

<div class="content skinny clear">
  <div class="form skinny">
  <h3>Two-Factor Authentication (2FA) Dashboard</h3>
    <p>
      2FA provides an additional layer of protection for your account during the login process.
      When logging in, you will need to provide your password--which is <em>something you know</em>--and
      additionally a time-based token, which is <em>something you have</em>. Without both pieces--or
      factors--you or an adversary who has compromised your password will not be able to fully
      authenticate to your account. For more information about 2FA, please visit the
      <a href="/help/two_factor_authentication">2FA help page</a>.
    </p>
    <h3>2FA Status</h3>
    $if tfa_enabled:
      <p>
        2FA is currently <b>enabled</b>.
      </p>

      <br />

      <h4>Recovery Code Status</h4>
      <p>
        You currently have <b>${tfa_recovery_codes_count} valid recovery code${'s' if tfa_recovery_codes_count > 1 else ''}</b>
        assigned to your account. We advise not relying on recovery codes as a routine access method and to, if required, disable
        and re-enable 2FA to reinitialize your authenticator app to provide time-based tokens.
      </p>
      <p>
        <div style="padding-top: 1em;">
          <a class="button" href="/control/2fa/generate_recovery_codes_verify_password">Get new recovery codes...</a>
        </div>
      </p>

      <br />

      <h4>Disable 2FA</h4>
      <p>
        You may disable 2FA at any time, however this will remove a layer of security for your Weasyl account.
      </p>
      <p>
        <div style="padding-top: 1em;">
          <a class="button negative" href="/control/2fa/disable">Disable 2FA...</a>
        </div>
      </p>
    $else:
      <p>
        2FA is currently <b>disabled</b>.
      </p>
      <p>
        <div style="padding-top: 1em;">
          <a class="button positive" href="/control/2fa/init">Enable 2FA...</a>
        </div>
      </p>
  </div>
</div>
