*

!assets
!libweasyl
!weasyl

!etc
etc/*
!etc/requirements.txt

!static
static/character
static/media

!build.js
!package.json
!package-lock.json
!setup.py

!pytest.ini

**/*.egg-info
**/*.py[co]
**/__pycache__
