*

!assets
!docs
docs/build
!libweasyl
!weasyl

!poetry-requirements.txt
!poetry.lock
!pyproject.toml

!build.js
!package.json
!package-lock.json
!setup.cfg
!setup.py
!gunicorn.conf.py

!pytest.ini
!.coveragerc

**/*.egg-info
**/*.py[co]
**/__pycache__
