*

!assets
!libweasyl
!weasyl

!poetry-requirements.txt
!poetry.lock
!pyproject.toml

!build.ts
!deno.json
!deno.lock

!imagemagick-policy.xml
!setup.cfg
!setup.py
!gunicorn.conf.py

!pytest.ini
!.coveragerc

**/*.egg-info
**/*.py[co]
**/__pycache__
