*.py[co]
/temp
/backup
/log
/save
/static/character
/static/fonts
/static/journal
/static/submission
/static/tile
/static/user
/static/media
/static/SHARE
/beaker
/config/site.config.txt
/config/weasyl-staff.yaml
/.vagrant
/libweasyl
/weasyl-env
/twistd.pid
