*.py[co]
/build
/temp
/backup
/log
/node_modules
/save
/static/character
/static/fonts
/static/journal
/static/submission
/static/tile
/static/user
/static/media
/static/SHARE
/config/site.config.txt
/config/weasyl-staff.json
/.vagrant
/weasyl-env
/twistd.pid
/version.txt
