alembic==0.8.4
anyjson==0.3.3
arrow==0.7.0
dogpile.cache==0.5.7
dogpile.core==0.4.1
lxml==3.5.0
misaka==1.0.3+weasyl.6    # https://github.com/Weasyl/misaka
oauthlib==1.0.3
psycopg2==2.6.1
py-bcrypt==0.4
pytz==2015.7
sanpera==0.1.1+weasyl.6   # https://github.com/Weasyl/sanpera
sqlalchemy==1.0.12
translationstring==1.3
pyyaml==3.11
