$def with (recipient, myself)
$:{RENDER("common/stage_title.html", ["Compose", "Notes", "/notes"])}

<div id="notes_compose_content" class="content">
  <form name="notescompose" action="/notes/compose" method="post" class="form wide clear">
    <label for="compose-recipient">Recipient</label>
    <input type="text" class="input" name="recipient" id="compose-recipient" value="${recipient}" required autofocus />

    <label for="compose-title">Title</label>
    <input type="text" class="input" name="title" id="compose-title" required maxlength="100" />

    <label for="compose-content">Message</label>
    <textarea name="content" class="markdown input last-input expanding" id="compose-content" rows="8" required="required"></textarea>
    <br>

    $if myself['is_mod']:
      <div id="note-compose-staff-note">
        <label class="input-checkbox">
          <input type="checkbox" name="mod_copy" id="mod-copy" value="y">
          Copy this note to the users' staff notes
        </label>
        <div id="staff-note-area">
          <label for="staff-note">Additional staff notes</label>
          <textarea name="staff_note" class="markdown input last-input expanding" id="staff-note" rows="4"></textarea>
        </div>
      </div>
      <br>

    <button class="button positive" style="float: right;">Send</button>
  </form>
</div>
