$def with (query, myself)
$:{RENDER("common/stage_title.html", ["View Private Message", "Notes", "/notes?folder=%s" % ("outbox" if query['mine'] else "inbox")])}

<div id="note-content" class="content">

  <div class="constrained">
    <dl class="clear">
      <dt>Sender:</dt>
      <dd>
        <a href="/~${LOGIN(query['sendername'])}" class="username">${query['sendername']}</a>

        $ user_type = USER_TYPE(query['senderid'])
        $if user_type:
          <strong class="user-type-${user_type}">(${user_type})</strong>
      </dd>

      <dt>Recipient:</dt>
      <dd>
        <a href="/~${LOGIN(query['recipientname'])}" class="username">${query['recipientname']}</a>

        $ user_type = USER_TYPE(query['recipientid'])
        $if user_type:
          <strong class="user-type-${user_type}">(${user_type})</strong>
      </dd>

      <dt>Date:</dt>
      <dd>$:{LOCAL_TIME(query['unixtime'], '{date} {time}')}</dd>

      <dt>Subject:</dt>
      <dd>${query['title']}</dd>
    </dl>

    <div class="formatted-content">$:{MARKDOWN(query['content'])}</div>

    $if myself['is_mod']:
      <form action="/modcontrol/copynotetostaffnotes" method="post" class="form clear">
        <button class="button" style="float: right;">Copy Note to Staff Notes</button>
        <input type="hidden" name="noteid" value="${query['noteid']}" />
      </form>

    $if not query['mine']:
      <form name="notescompose" action="/notes/compose" method="post" class="form clear">
        <h3>Send Reply</h3>

        <label for="notereplyrecipient">Recipient</label>
        <input type="text" class="input" name="recipient" value="${LOGIN(query['sendername'])}" id="notereplyrecipient" />

        <label for="notereplytitle">Subject</label>
        <input type="text" name="title" class="input" value="${'' if query['title'][:4] == 'Re: ' else 'Re: '}${query['title']}" id="notereplytitle" />

        <label for="notereplycontent">Content</label>
        <textarea name="content" class="markdown input expanding last-input" rows="9" id="notereplycontent"></textarea>
        <br>

        $if myself['is_mod']:
          <div id="note-compose-staff-note">
            <label class="input-checkbox">
              <input type="checkbox" name="mod_copy" id="mod-copy" value="y">
              Copy this note to the users' staff notes
            </label>
            <div id="staff-note-area">
              <label for="staff-note">Additional staff notes</label>
              <textarea name="staff_note" class="markdown input last-input expanding" id="staff-note" rows="4"></textarea>
            </div>
          </div>
          <br>

        <button class="button positive" style="float: right;">Send</button>
      </form>

  </div>
</div>
