$def with (folder, notes)
$code:
  username_key, userid_key, title, table_header = {
    'inbox': ('sendername', 'senderid', 'Inbox', 'Sender'),
    'outbox': ('recipientname', 'recipientid', 'Outbox', 'Recipient'),
  }[folder]

$:{RENDER("common/stage_title.html", [title, "Notes", 0])}

<div id="notes-content" class="content">
  $if notes:
    <form action="/notes/remove" method="post" data-confirm="Are you sure you want to remove the selected messages?">
      $:{CSRF()}
      <input type="hidden" name="folder" value="${folder}" />

      <table>
        <thead>
          <tr>
            <th style="width:2em;"></th>
            <th>Message Title</th>
            <th>${table_header}</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
          $for note in notes:
            $ noteid = note['noteid']
            $ username = note[username_key]
            $ unixtime = note['unixtime']
            $ title = note['title']
            $ unread = folder == 'inbox' and note['unread']

            <tr>
              <td><input type="checkbox" name="notes" value="${noteid}" /></td>
              <td>
                <a href="/note?noteid=${noteid}"
                  $if unread:
                    class="unread"
                  >${title}</a>
              </td>
              <td>
                <a href="/~${LOGIN(username)}">${username}</a>

                $ user_type = USER_TYPE(note[userid_key])
                $if user_type:
                  <strong class="user-type-${user_type}">(${user_type})</strong>
              </td>
              <td>${DATE(unixtime)} ${TIME(unixtime)}</td>
            </tr>
        </tbody>
      </table>

      <!-- buttons at bottom of page -->
      <div class="buttons">
        <a class="button" href="/notes?folder=${folder}&amp;backid=${notes[0]['noteid']}">Back</a>
        <a class="button" href="/notes?folder=${folder}&amp;nextid=${notes[-1]['noteid']}">Next</a>

        <span style="float:right;">
          <a class="button needs-js selection-toggle" href="#">Invert Selection</a>
          <button class="button negative">Remove Selected</button>
          <a class="button" href="/notes?folder=inbox">Inbox</a>
          <a class="button" href="/notes?folder=outbox">Outbox</a>
          <a class="button" href="/notes/compose">Compose</a>
        </span>
      </div>
    </form>
    <div style="padding-top:1em;text-align:right;">
      <form action="/notes">
        <input type="hidden" name="folder" value="${folder}" />
        <input type="text" name="filter" class="input" style="width:200px;" />
        <button type="submit" class="button">Show Messages ${'From' if folder == 'inbox' else 'To'} User</button>
      </form>
    </div>

  $else:
    <p>There are no private messages to display.</p>

    <div class="buttons" style="text-align:right;">
      <a class="button" href="/notes?folder=inbox">Inbox</a>
      <a class="button" href="/notes?folder=outbox">Outbox</a>
      <a class="button" href="/notes/compose">Compose</a>
    </div>
</div>
