$def with (folder, result)
$code:
  username_key, userid_key, title, table_header = {
    'inbox': ('sendername', 'senderid', 'Inbox', 'Sender'),
    'outbox': ('recipientname', 'recipientid', 'Outbox', 'Recipient'),
  }[folder]

$:{RENDER("common/stage_title.html", [title, "Notes", 0])}

<div id="notes-content" class="content">
  <form action="/notes/remove" method="post" data-confirm="Are you sure you want to remove the selected messages?">
    <input type="hidden" name="folder" value="${folder}" />

    <table>
      <thead>
        <tr>
          <th style="width:2em;"></th>
          <th>Message Title</th>
          <th>${table_header}</th>
          <th>Time</th>
        </tr>
      </thead>

      <tbody>
        $if result.query:
          $for note in result.query:
            $ noteid = note['noteid']
            $ username = note[username_key]
            $ unixtime = note['unixtime']
            $ title = note['title']
            $ unread = folder == 'inbox' and note['unread']

            <tr>
              <td><input type="checkbox" name="notes" value="${noteid}" /></td>
              <td>
                <a href="/note?noteid=${noteid}"
                  $if unread:
                    class="unread"
                  >${title}</a>
              </td>
              <td>
                <a href="/~${LOGIN(username)}">${username}</a>

                $ user_type = USER_TYPE(note[userid_key])
                $if user_type:
                  <strong class="user-type-${user_type}">(${user_type})</strong>
              </td>
              <td>$:{LOCAL_TIME(unixtime, '{date} {time}')}</td>
            </tr>
        $else:
          <tr>
            <td></td>
            <td class="notes-empty" colspan="3">No private messages.</td>
          </tr>
      </tbody>
    </table>

    <div class="buttons clear">
      $if result.query:
        $:{COMPILE("common/page_navigation.html")(result, layout="pages-layout-left")}

      <span style="float:right;">
        <button type="button" class="button needs-js selection-toggle">Invert Selection</button>
        <button class="button negative">Remove Selected</button>
        <a class="button" href="/notes?folder=inbox">Inbox</a>
        <a class="button" href="/notes?folder=outbox">Outbox</a>
        <a class="button" href="/notes/compose">Compose</a>
      </span>
    </div>
  </form>
  <div style="padding-top:1em;text-align:right;">
    <form action="/notes">
      <input type="hidden" name="folder" value="${folder}" />
      <input type="text" name="filter" class="input" style="width:200px;" />
      <button type="submit" class="button">Show Messages ${'From' if folder == 'inbox' else 'To'} User</button>
    </form>
  </div>
</div>
