$def with (myself, query, violations)

<div id="detail-stage" class="stage">

  <h1 id="detail-title">${query['title']} <i>by</i> <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a></h1>

  <div id="detail-journal" class="content formatted-content">
    $:{MARKDOWN(query['content'])}
  </div>

</div>

<div id="detail-bar" class="bar pad-left pad-right clear">

  <div id="db-main">
    <ul id="detail-actions" class="toolset clear">
      <li><form id="submission-favorite-form" action="/favorite" data-action-base="/api/journals/${query['journalid']}/" method="post">
        <input type="hidden" name="journalid" value="${query['journalid']}" />
        $if not query['mine']:
          $if query['favorited']:
            <input type="hidden" name="action" value="unfavorite" />
            <button class="active" accesskey="f"><span class="icon icon-20 icon-star"></span> Favorited</button>
          $else:
            <input type="hidden" name="action" value="favorite" />
            <button accesskey="f"><span class="icon icon-20 icon-star"></span> Favorite</button>
      </form></li>
      <li>
        $if query['reported']:
          <a id="detail-report-button" class="active" href="#"><span class="icon icon-20 icon-report"></span> Reported</a>
        $elif not query['hidden']:
          <a id="detail-report-button" href="#"><span class="icon icon-20 icon-report"></span> Report</a>
      </li>
    </ul>
    <h2 id="detail-bar-title">${query['title']}</h2>
  </div><!-- db-main -->

  <div id="db-user">
    $ avatar = query['user_media']['avatar'][0]
    <a class="avatar" href="/~${LOGIN(query['username'])}"><img src="${avatar['display_url']}" alt="" /></a>
    <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a>
    <p class="date">$:{LOCAL_TIME(query['unixtime'], '{date} <i>at</i> {time}')}</p>
  </div>

</div>


<div id="detail-content" class="content journal">

  <div id="detail-description">
    $:{RENDER("common/detail_report_form.html", [query['journalid'], "journal", violations])}
  </div>

  <div id="detail-info">

    <div id="di-info">
      <h3>Journal Information</h3>
      $if query['friends_only']:
        <div id="detail-visibility-restricted">Friends Only</div>
      <dl>
        <dt>Views:</dt> <dd id="page-views" data-viewable="journals/${query['journalid']}">${query['page_views']}</dd>
        <dt>Comments:</dt> <dd>${len(query['comments'])}</dd>
        <dt>Favorites:</dt> <dd>${query['fave_count']}</dd>
        <dt>Rating:</dt> <dd>${R.CODE_MAP[query['rating']].name_with_age}</dd>
      </dl>
    </div>

    $if query['mine'] or myself and myself['userid'] in staff.MODS:
      <form name="removejournal" action="/remove/journal" method="post">
        <input type="hidden" name="journalid" value="${query['journalid']}" />
      </form>

    $if query['mine']:
      <div id="detail-manage">
        <h3>Journal Management</h3>

        <p><a href="/edit/journal?journalid=${query['journalid']}">Edit Journal Details</a></p>

        <form action="/remove/journal" method="post" data-confirm="Are you sure you want to remove this journal?">
          <input type="hidden" name="journalid" value="${query['journalid']}" />

          <button class="link-button">Remove Journal Entry</button>
        </form>
      </div>

    $if myself and myself['userid'] in staff.MODS:
      <div id="detail-mod">
        <h3>Journal Moderation</h3>
        $if query['hidden']:
          <div id="detail-visibility-restricted">Hidden Submission</div>
        <p><a href="/edit/journal?journalid=${query['journalid']}&amp;anyway=true">Edit Journal Details</a></p>
        <form action="/modcontrol/massaction" method="post">
          <input type="hidden" name="journals" value="${query['journalid']}">
          <select name="action" class="input">
            $for value, name in M.get_mod_actions(query, "journal").items():
              <option value="${value}">${name}</option>
          </select>
          <br>
          <button class="button positive">Moderate Journal</button>
        </form>
      </div>

    $:{RENDER("common/detail_tag_form.html", [query['journalid'], "journal", query, myself])}

  </div>


  <div id="detail-comments">
    $if query['comments']:
      <h3>Comments</h3>
      $:{RENDER("common/comment_thread.html", ["detail_comments", query['comments'], "journal", myself, query['journalid'], query['userid']])}
    $if myself:
      <h3>Leave a Comment</h3>
      $:{RENDER("common/comment_form.html", [myself, query['journalid'], "journal"])}
  </div>

</div>
