$def with (detail, history)

<div class="content">
  <h3><a href="/submission/${detail['submitid']}/${SLUG(detail['title'])}">${detail['title']}</a> tag updates</h3>

  <table id="tag-history">
    <tr>
      <th>User</th>
      <th>Tags added</th>
      <th>Tags removed</th>
      <th>When</th>
    </tr>
  $for row in history:
    <tr>
      <td><a href="/~${LOGIN(row.username)}">${row.username}</a></td>
      <td>
      $for i in row.added or []:
        +<a href="/search?q=${i}">${i}</a>
      </td>
      <td>
      $for i in row.removed or []:
        -<a href="/search?q=${i}">${i}</a>
      </td>
      <td>${DATE(row.updated_at)} <i>at</i> ${TIME(row.updated_at)}</td>
    </tr>
  </table>
</div>
