{% extends 'common/base.jinja2' %}

{% block content %}
<div class="content">
  <h3><a href="/submission/{{ detail['submitid'] }}/{{ detail['title'] | SLUG }}">{{ detail['title'] }}</a> tag updates</h3>

  <table id="tag-history">
    <tr>
      <th>User</th>
      <th>Tags added</th>
      <th>Tags removed</th>
      <th>When</th>
    </tr>
  {% for row in history %}
    <tr>
      <td><a href="/~{{ row.username| LOGIN }}">{{ row.username }}</a></td>
      <td>
      {% for i in row.added or [] %}
        +<a href="/search?q={{ i }}">{{ i }}</a>
      {% endfor %}
      </td>
      <td>
      {% for i in row.removed or [] %}
        -<a href="/search?q={{ i }}">{{ i }}</a>
      {% endfor %}
      </td>
      <td>{{ row.updated_at | DATE }} <i>at</i> {{ row.updated_at| TIME }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
