$def with (query, currencies, presets)
$:{RENDER("common/stage_title.html", ["Edit Commission Prices", "Settings"])}

<div id="commishprices-content" class="content form clear">
  <div>
    <h3>My General Commission Info</h3>
    <p>Information about commissioning you and preferences for commission content</p>
    <div class="commish-row">
      <div class="info">
        <form name="controleditcommishtext" action="/control/editcommishtext" method="post" class="clear">
          $:{CSRF()}

          <label for="commish-info">Description</label>
          <textarea class="markdown input last-input expanding" name="content" rows="8" id="commish-info">${query['content'] if query['content'] else ''}</textarea>
          <br />

          <button type="submit" class="button positive" style="float: right;">Save Description</button>
        </form>
      </div>
      <div class="commish-tags">
        <div class="di-tags">
          <h3>Preferred Tags <a class="modify typeface-default color-c" href="#">Modify</a></h3>
          <p>
            Use these tags to indicate subject matter you prefer to create, making it easier for
            commissioners to find you.
          </p>

          <div class="tags open clear">
            $if query['tags']:
              $for tag in query['tags']:
                <a href="/marketplace?q=${tag}">${tag}</a>
            $else:
              <p class="color-lighter">You have not defined any preferred tags.</p>
          </div>

          <h3 class="edit">Edit Tags</h3>
          $:{RENDER("common/detail_tag_form.html", [query['userid'], "user", query['tags']])}

        </div><!-- /di-tags -->
        <div class="di-tags">
          <h3>Opt-Out Tags <a class="modify typeface-default color-c" href="#">Modify</a></h3>
          <p>
            You will not appear in results for commission searches containing these tags.
          </p>

          <div class="tags open clear">
            $if query['opt_out']:
              $for tag in query['opt_out']:
                <a class="artist" href="/marketplace?q=${tag}">${tag}</a>
            $else:
              <p class="color-lighter">You have not defined any opt-out tags.</p>
          </div>

          <h3 class="edit">Edit Tags</h3>
          $:{RENDER("common/detail_tag_form.html", [query['userid'], "optout", query['opt_out']])}
        </div><!-- /di-tags2 -->
      </div>
    </div>
  </div>
  <hr />

  <div>
    <h3>New Commission Class</h3>
    <p>Creates a new classification with a base price</p>
    <form name="controlcreatecommishclass" action="/control/createcommishclass" method="post" class="clear">
      <div class="commish-row">
        $:{CSRF()}
        <div class="half">
          <label for="commishprices-addclass">Class Name</label>
          <input type="text" id="commishprices-addclass" class="input last-input" name="title" required="required" placeholder="ex: 'Sketches', 'Badges'" />
          <label for="commishprices-addclass-preset">Class Presets</label>
          <select class="input last-input" name="titlepreset" id="commishprices-addclass-preset">
            <option value="" selected>Any/Other</option>
            $for group_name, group_options in presets:
              <optgroup label="${group_name}">
                $for c in group_options:
                  <option value="${c}">${c}</option>
              </optgroup>
          </select>
          <h4 class="or color-lighter"><i>&mdash; Or &mdash;</i></h4>
          <label for="commishprices-addclass">Custom Class</label>
          <input type="text" id="commishprices-addclass" class="input last-input" name="title"/>
        </div>
        <div class="half">
          <label for="commishprices-addclass-price">Base Price Title</label>
          <input type="text" class="input" name="title" id="commishprices-addclass-price" required="required" placeholder="ex: 'Full Color', 'Basic Pose'" />

          <label for="commish-min-amount">Minimum Amount</label>
          <input type="text" class="input" name="min_amount" id="commish-min-amount" required="required" />

          <label for="commish-max-amount">Maximum Amount (Optional)</label>
          <input type="text" class="input" name="max_amount" id="commish-max-amount" />


          <label for="commish-currency">Currency</label>
          <select class="last-input" name="currency" id="commish-currency">
            <option value="" selected="selected">United States Dollar</option>
            <option value="e">European Union Euro</option>
            <option value="p">British Pound Sterling</option>
            <option value="y">Japanese Yen</option>
            <option value="c">Canadian Dollar</option>
            <option value="m">Mexican Peso</option>
            <option value="u">Australian Dollar</option>
          </select>
          <button type="submit" class="button positive" style="float: right;">Create Class</button>
        </div>
      </div><!-- commish-row -->
    </form>
  </div>
  <hr />
  $if(query['class']) or True:
    <div>
      <h3>Add a Price to a Class</h3>
      <p>Add a new base or add-on cost to a commission class</p>
      <form name="controlcreatecommishprice" action="/control/createcommishprice" method="post" class="clear">
        $:{CSRF()}
        <div class="commish-row">
          <div class="half">
            <label for="commish-classselect">Classification</label>
            <select class="input" name="classid" id="commish-classselect">
              <option value="">Select class:</option>
              $for i in query['class']:
              <option value="${i['classid']}">${i['title']}</option>
            </select>
            <label for="commish-title">Price Title</label>
            <input type="text" class="input" name="title" id="commish-title" required="required" placeholder="ex: 'Full Color', 'Basic Pose'" />
          </div>
          <div class="half">
            <label for="commish-min-amount">Minimum Amount</label>
            <input type="number" step="any" class="input" name="min_amount" id="commish-min-amount" required="required" />

            <label for="commish-max-amount">Maximum Amount (Optional)</label>
            <input type="number" step="any" class="input" name="max_amount" id="commish-max-amount" />

            <label for="commish-currency">Currency</label>
            <select class="input" name="currency" id="commish-currency">
              $for char, info in currencies.iteritems():
              <option value="${char}" $:{'selected="selected"' if not char else ""}>${info.name}</option>
            </select>

            <label for="commish-settings">Cost type</label>
            <select class="input last-input" name="settings" id="commish-settings">
              <option value="" selected="selected">This price is a base cost</option>
              <option value="a">This price is an additional cost</option>
            </select>
          <button type="submit" class="button positive" style="float: right;">Create Price</button>
        </div>
      </form>
      </div>
    </div>
    <hr />

    <div>
      <div class="commish-row">
        <div class="half">
          <h3>Edit/Remove a Class</h3>
          <p>Rename, reclassify, or remove a class</p>
          <form name="controleditcommishclass" action="/control/editcommishclass" method="post" class="clear">
            $:{CSRF()}
            <label for="commishprices-editclass">Class Title</label>
            <select id="commishprices-editclass" class="input" name="classid">
              <option value="">Select class:</option>
              $for i in query['class']:
              <option value="${i['classid']}">${i['title']}</option>
            </select>

            <label for="commishprices-renameclass">Rename To</label>
            <input type="text" id="commishprices-renameclass" class="input last-input" name="title" required="required" placeholder="ex: 'Sketches', 'Badges'" />

            <p><input type="checkbox" name="edit_settings" /> <strong>Change Commission Type</strong></p>
            <label for="commishprices-addclass-preset">Class Presets</label>
            <select class="input last-input" name="titlepreset" id="commishprices-addclass-preset">
              <option value="" selected>Any/Other</option>
              $for group_name, group_options in presets:
              <optgroup label="${group_name}">
                $for c in group_options:
                <option value="${c}">${c}</option>
              </optgroup>
            </select>
            <h4 class="or color-lighter"><i>&mdash; Or &mdash;</i></h4>
            <label for="commishprices-addclass">Custom Class</label>
            <input type="text" id="commishprices-addclass" class="input last-input" name="title"/>
            <button type="submit" class="button last-input positive" style="float: right; margin-left: 5px;">Edit Class</button>
            <button type="submit" class="button negative" style="float: right;">Remove Class</button>
          </form>
        </div>

        <div class="half">
          <h3>Edit/Remove a Price</h3>
          <p>Rename, revalue, or delete a price</p>
          <form name="controleditcommishprice" action="/control/editcommishprice" method="post" class="clear">
            $:{CSRF()}
            <label for="commish-edit-select">Price Title</label>
            <select class="input" name="priceid" id="commish-edit-select">
              <option value="">Select a Price:</option>
              $for i in query['price']:
                $for j in query['class']:
                  $if(i['classid'] == j['classid']):
                    <option value="${i['priceid']}">${j['title']} &#8250; ${i['title']}</option>
                    $break
            </select>

            <label for="commish-edit-title">Rename To</label>
            <input type="text" class="input last-input" name="title" id="commish-edit-title" placeholder="ex: 'Full Color', 'Basic Pose'" />

            <p><input type="checkbox" name="edit_settings" /> <strong>Edit Currency and Type:</strong></p>
            <label for="commish-edit-min-amount">Minimum Amount</label>
            <input type="number" step="any" class="input" name="min_amount" id="commish-edit-min-amount" />

            <label for="commish-edit-max-amount">Maximum Amount (Optional)</label>
            <input type="number" step="any" class="input last-input" name="max_amount" id="commish-edit-max-amount" />

            <label for="commish-edit-currency">Currency</label>
            <select class="input" name="currency" id="commish-edit-currency">
            $for char, info in currencies.iteritems():
              <option value="${char}" $:{'selected="selected"' if not char else ""}>${info.name}</option>
            </select>

            <label for="commish-settings">Cost type</label>
            <select class="input last-input" name="settings" id="commish-settings">
              <option value="" selected="selected">This price is a base cost</option>
              <option value="a">This price is an additional cost</option>
            </select>

            <button type="submit" class="button last-input positive" style="float: right; margin-left: 5px;">Edit Price</button>
            <button type="submit" class="button negative" style="float: right;">Remove Price</button>
        </div>
      </div>
    </div>
</div><!-- /content -->
