$def with (tags)
$:{RENDER("common/stage_title.html", ["Edit Community Tagging Blacklist", "Settings"])}

<div class="content form clear">
  <form method="POST" class="form skinny clear" action="/control/editsearchtagblacklist">
    $:{CSRF()}
    <h3>Community Tagging Blacklist Information</h3>
    <p>
      Other users won't be able to add tags listed here to your submissions. In
      addition to blocking individual tags, you can forbid tag patterns by using <code>*</code>
      as a wildcard. For example, <code>sun*</code> matches <em>sunrise</em> and
      <em>sunset</em>; <code>*_pen</code> matches <em>fountain_pen</em> and <em>ballpoint_pen</em>.
    </p>

    <label>Add or Remove Tags:</label><br />
    <textarea id="tags-textarea" name="tags" class="last-input">${" ".join(tags)}</textarea>
    <div style="padding-top: 1em;">
    <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
