$def with (email)
$:{TITLE("Edit Password and Email Address", "Settings", "/control")}
<div class="content">
  <p style="padding-top:2em;font-size:1.2em;">On this page you can change your associated email address, password, or both; to change only one of the items, leave the other pair of fields blank. If you are changing your password, please remember to follow the security guidelines described below.</p>

  <form name="controleditemailpassword" class="form skinny clear" action="/control/editemailpassword" method="post">
    $:{CSRF()}

    <p class="label">Current Email Address</p>
    <p id="currentemail">${email}</p>

    <label for="emailpwnewemail">New Email Address</label>
    <input type="email" class="input" name="newemail" id="emailpwnewemail" />

    <label for="emailpwcheckemail">Retype New Email Address</label>
    <input type="email" class="input last-input" name="newemailcheck" id="emailpwcheckemail" />

    <div style="height:1em;"></div><hr /><div style="height:1em;"></div>

    <label for="emailpwnewpw">New Password</label>
    <input type="password" class="input" name="newpassword" id="emailpwnewpw" maxlength="72" />
    <p class="color-lighter" style="padding-top: 0.5em;"><i>Passwords must be a minimum of 10 characters.</i></p>

    <div id="password-strength" class="password-strength password-strength-empty" data-password-input="emailpwnewpw" data-personal-inputs="emailpwnewemail,emailpwuser"></div>

    <label for="emailpwcheckpw">Retype New Password</label>
    <input type="password" class="input last-input" name="newpasscheck" id="emailpwcheckpw" />

    <div style="height:1em;"></div><hr /><div style="height:2em;"></div>

    <p>In order to verify your identity, you must enter your current login information to continue.</p>

    <label for="emailpwuser">Username</label>
    <input type="text" class="input" name="username" id="emailpwuser" />

    <label for="emailpwpw">Password</label>
    <input type="password" class="input last-input" name="password" id="emailpwpw" />

    <script src="${CDNIFY('/static/scripts/zxcvbn/zxcvbn.js')}" async></script>
    <script src="${CDNIFY('/static/scripts/zxcvbn/check.js')}" async></script>

    <button class="button positive" style="float:right;">Save</button>
    <a class="button" href="/control">Go Back</a>
  </form>
</div>
