$def with (tags)
$:{RENDER("common/stage_title.html", ["Edit Searchtag Blacklist", "Settings"])}

<div id="usersearchtagblacklist-content" class="content form clear">
  <form method="POST" class="form skinny clear" action="/control/editsearchtagblacklist">
    $:{CSRF()}
    <h3>Searchtag Blacklist Information</h3>
    <p>
      Tags you add here will not be able to be added to your submitted items by
      other users. You may still add these tags to your submissions. Wildcards are permitted.
      Acceptable formats of tags are as follows:
    </p>
    <p>
      <ul>
        <li><code>fur*</code> - Blocks <em>fur<strong>y</strong>, fur<strong>ry</strong>, fur<strong>red</strong>, etc.</li>
        <li><code>f*r</code> - Blocks <em>f<strong>u</strong>r, f<strong>a</strong>r, f<strong>o</strong>r, etc.</li>
        <li><code>*ing</code> - Blocks <em><strong>runn</strong>ing, <em><strong>jump</strong>ing, <em><strong>play</strong>ing, etc.</li>
        <li>Normal tags may also be used: <code>red_fox</code>, <code>hermaphrodite</code>, etc.</li>
      </ul>
    </p>

    <label for="detail_tag_form_content">Add or Remove Tags:</label><br />
    <textarea id="tags-textarea" name="tags">${" ".join(tags)}</textarea>
    <div style="padding-top: 1em;">
      <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
