$def with (query, currencies)
$:{RENDER("common/stage_title.html", ["Edit Commission Prices", "Settings"])}

<div id="commishprices-content" class="content form clear">

  <div class="column classes">
    <h3>Create Classification</h3>

    <form name="controlcreatecommishclass" action="/control/createcommishclass" method="post" class="clear">
      $:{CSRF()}
      <label for="commishprices-addclass-preset">Class Presets</label>
      <select class="input last-input" name="titlepreset" id="commishprices-addclass-preset">
        <option value="" selected="selected">Any/Other</option>
        <option value="Sketch">Sketch</option>
        <option value="Badge">Badge</option>
        <option value="Icon">Icon</option>
        <option value="Reference">Reference</option>
        <option value="Story">Story</option>
        <option value="Music">Music</option>
        <option value="Fullbody">Fullbody</option>
        <option value="Headshot">Headshot</option>
        <option value="Chibi">Chibi</option>
      </select>
      <h4 class="or color-lighter"><i>&mdash; Or &mdash;</i></h4>
      <label for="commishprices-addclass">Custom Class</label>
      <input type="text" id="commishprices-addclass" class="input last-input" name="title"/>
      <button type="submit" class="button last-input positive" style="float: right;">Create Class</button>
    </form>

    $if(query['class']):
      <h3>Edit Classification</h3>
      <form name="controleditcommishclass" action="/control/editcommishclass" method="post" class="clear">
        $:{CSRF()}
        <label for="commishprices-editclass">Class Title</label>
        <select id="commishprices-editclass" class="input" name="classid">
          <option value="">Select class:</option>
          $for i in query['class']:
            <option value="${i['classid']}">${i['title']}</option>
        </select>

        <label for="commishprices-renameclass">Rename To</label>
        <input type="text" id="commishprices-renameclass" class="input last-input" name="title" required="required" placeholder="ex: 'Sketches', 'Badges'" />
        <button type="submit" class="button last-input positive" style="float: right;">Edit Class</button>
      </form>

      <h3>Remove Classification</h3>
      <form name="controlremovecommishclass" action="/control/removecommishclass" method="post" class="clear">
        $:{CSRF()}
        <label for="commishprices-removeclass">Class Title</label>
        <select id="commishprices-removeclass" class="input last-input" name="classid">
          <option value="">Select class:</option>
          $for i in query['class']:
            <option value="${i['classid']}">${i['title']}</option>
        </select>
        <button type="submit" class="button negative" style="float: right;">Remove Class</button>
      </form>

  </div><!-- /classes -->

  <div class="column prices">
    <h3>Create Price</h3>

    <form name="controlcreatecommishprice" action="/control/createcommishprice" method="post" class="clear">
      $:{CSRF()}

      <label for="commish-title">Price Title</label>
      <input type="text" class="input" name="title" id="commish-title" required="required" placeholder="ex: 'Full Color', 'Basic Pose'" />

      <label for="commish-classselect">Classification</label>
      <select class="input" name="classid" id="commish-classselect">
        <option value="">Select class:</option>
        $for i in query['class']:
          <option value="${i['classid']}">${i['title']}</option>
      </select>

      <label for="commish-min-amount">Minimum Amount</label>
      <input type="text" class="input" name="min_amount" id="commish-min-amount" required="required" />

      <label for="commish-max-amount">Maximum Amount (Optional)</label>
      <input type="text" class="input" name="max_amount" id="commish-max-amount" />


      <label for="commish-currency">Currency</label>
      <select class="input" name="currency" id="commish-currency">
        $for char, info in currencies.iteritems():
          <option value="${char}" $:{'selected="selected"' if not char else ""}>${info['name']}</option>
      </select>

      <label for="commish-settings">Settings</label>
      <select class="input last-input" name="settings" id="commish-settings">
        <option value="" selected="selected">This price is a base cost</option>
        <option value="a">This price is an additional cost</option>
      </select>

      <button type="submit" class="button positive" style="float: right;">Create Price</button>
    </form>

    $if(query['price']):
      <h3>Edit Price</h3>
      <form name="controleditcommishprice" action="/control/editcommishprice" method="post" class="clear">
        $:{CSRF()}

        <label for="commish-edit-select">Price Title</label>
        <select class="input" name="priceid" id="commish-edit-select">
          <option value="">Select a Price:</option>
          $for i in query['price']:
            $for j in query['class']:
              $if(i['classid'] == j['classid']):
                <option value="${i['priceid']}">${j['title']} &#8250; ${i['title']}</option>
                $break
        </select>

        <label for="commish-edit-title">Rename To</label>
        <input type="text" class="input" name="title" id="commish-edit-title" placeholder="ex: 'Full Color', 'Basic Pose'" />

        <label for="commish-edit-min-amount">Minimum Amount</label>
        <input type="text" class="input" name="min_amount" id="commish-edit-min-amount" />

        <label for="commish-edit-max-amount">Maximum Amount (Optional)</label>
        <input type="text" class="input last-input" name="max_amount" id="commish-edit-max-amount" />

        <p><input type="checkbox" name="edit_settings" /> <strong>Edit Currency and Settings</strong></p>


        <label for="commish-edit-currency">Currency</label>
        <select class="input" name="currency" id="commish-edit-currency">
        $for char, info in currencies.iteritems():
          <option value="${char}" $:{'selected="selected"' if not char else ""}>${info['name']}</option>
        </select>

        <label for="commish-edit-settings">Settings</label>
        <select class="input last-input" name="settings" id="commish-edit-settings">
          <option value="" selected="selected">This price is a base cost</option>
          <option value="a">This price is an additional cost</option>
        </select>

        <button type="submit" class="button positive" style="float: right;">Edit Price</button>
      </form>


      <h3>Remove Price</h3>
      <form name="controlremovecommishprice" action="/control/removecommishprice" method="post" class="clear">
        $:{CSRF()}
        <label for="commish-removeprice">Price Title</label>
        <select class="input last-input" name="priceid" id="commish-removeprice">
          <option value="">Select a Price:</option>
          $for i in query['price']:
            $for j in query['class']:
              $if(i['classid'] == j['classid']):
                <option value="${i['priceid']}">${j['title']} &#8250; ${i['title']}</option>
                $break
        </select>

        <button type="submit" class="button last-input negative" style="float: right;">Remove Price</button>
      </form>

  </div><!-- /prices -->

  <div class="column info">
    <h3>Additional Information</h3>

    <form name="controleditcommishtext" action="/control/editcommishtext" method="post" class="clear">
      $:{CSRF()}

      <label for="commish-info">Description</label>
      <textarea class="markdown input last-input expanding" name="content" rows="8" id="commish-info">${query['content'] if query['content'] else ''}</textarea>
      <br />

      <button type="submit" class="button positive" style="float: right;">Save Description</button>
    </form>

    <div id="di-tags">
      <h3>Preference Tags <a class="modify typeface-default color-c" href="#">Modify</a></h3>
      <p>
        Use these tags to indicate subject matter you prefer to draw, making it easier for
        commissioners to find you!
      </p>

      <div class="tags open clear">
        $if query['tags']:
          $for i in query['tags']:
            <a href="/marketplace?q=${i}">${i}</a>
        $else:
          <p class="color-lighter">You have not defined any Artist Tags!</p>
      </div>

      <h3 class="edit">Edit Tags</h3>
      $:{RENDER("common/detail_tag_form.html", [query['userid'], "user", query['tags']])}
    </div><!-- /di-tags -->
  </div><!-- /info -->

</div><!-- /content -->
