alembic==0.9.5
anyjson==0.3.3
arrow==0.12.0
bcrypt==3.1.4
dogpile.cache==0.6.4
lxml==4.0.0
misaka==1.0.3+weasyl.6    # https://github.com/Weasyl/misaka
oauthlib==2.0.4
psycopg2cffi==2.7.7
pytz==2017.3
pyyaml==3.12
sanpera==0.1.1+weasyl.6   # https://github.com/Weasyl/sanpera
sqlalchemy==1.1.15
translationstring==1.3
