alembic==0.8.6
anyjson==0.3.3
arrow==0.7.0
bcrypt==3.1.0
dogpile.cache==0.5.7
dogpile.core==0.4.1
lxml==3.6.0
misaka==1.0.3+weasyl.6    # https://github.com/Weasyl/misaka
oauthlib==1.1.1
psycopg2==2.6.1
pytz==2016.4
pyyaml==3.11
sanpera==0.1.1+weasyl.6   # https://github.com/Weasyl/sanpera
sqlalchemy==1.0.13
translationstring==1.3
