$def with (username)
Hello!

You are receiving this message because someone attempted to change their registered account's email address to this address. This email address already has a Weasyl account associated with it by the name of "${username}". Only one Weasyl account may be associated with an email address.

No action is required from you, but we wanted to inform you of this in the event you were attempting to point two Weasyl accounts to the same email address.

In the event that you forgot your password, or are otherwise concerned about the security of your account, you may reset your password at https://www.weasyl.com/forgotpassword

https://www.weasyl.com
