Hello!

You are receiving this message because this email address was used to create an account on Weasyl under the username "{{ username }}". If you requested this service, please point your web browser to the following link:

https://www.weasyl.com/verify/account?token={{ token }}

If you did not request this service, no action is required on your behalf; you may safely ignore this email and no account will be created using your email address.

https://www.weasyl.com
