Hello!

You are receiving this email because you requested to change the email address associated with your Weasyl account named "{{ username }}" to this email address. To complete this action, log into your account and visit the following link:

https://www.weasyl.com/verify/emailchange?token={{ token }}

If you did not initiate this change request, you may safely disregard this message.

https://www.weasyl.com
