$def with (my_userid, report, blacklisted_tags)

$ features = {'submission': 'submit', 'character': 'char', 'journal': 'journal'}

$:{RENDER("common/stage_title.html", ["Reported " + report.target_type.title(), "Moderator Control Panel", "/modcontrol"])}

<div id="reports_content" class="content">
  $if blacklisted_tags:
    <div class="warning">
      <p>This user’s gallery contains submissions with the following blacklisted tags:</p>

      <ul>
        $for tag_name in blacklisted_tags:
          <li>$tag_name</li>
      </ul>
    </div>

  <h2>${report.target_type.title()} Information</h2>
  <dl>
    <dt>Title</dt>
    <dd><a href="${report.target.legacy_path(mod=True)}">${report.target.title}</a></dd>
    <dt>Content owner</dt>
    <dd>
      <a href="/~${report.target.owner.login_name}">${report.target.owner.profile.username}</a>
      (<a href="/staffnotes/${report.target.owner.login_name}">staff notes</a>,
      <a href="/modcontrol/reports?submitter=${report.target.owner.login_name}">all open reports</a>)
    </dd>
  </dl>

  <h2>Related reports</h2>
  <ul>
    $for related in report.related_reports():
      <ul>
        <a href="/modcontrol/report?reportid=${related.reportid}">
          Opened on ${DATE(related.opened_at)} at ${TIME(related.opened_at)}; status: ${related.status}.
          $if related.is_closed:
            (resolution: ${related.closure_reason.value.replace('-', ' ')})
        </a>
      </ul>
  </ul>

  <h2>Report Comments</h2>
  $:{RENDER("common/comment_flat.html", ["report_comments", report.old_style_comments, "violation"])}

  $ feature = features[report.target_type]
  $if report.is_closed:
    <h2>Report is closed</h2>
    <p>
      <strong>
        Closed by ${report.owner.profile.username} on ${DATE(report.closed_at)} at ${TIME(report.closed_at)}.
      </strong>
      The resolution was: ${report.closure_reason.value.replace('-', ' ')}.
    </p>
    <p>
      $:{MARKDOWN(report.closure_explanation)}
    </p>
  $else:
    <h2>Add a comment</h2>
    <form class="form" action="/submit/report" method="post" style="margin-bottom: 2em">
      $:{CSRF()}
      <input type="hidden" name="reportid" value="${report.reportid}">
      <input type="hidden" name="${feature}id" value="${getattr(report.target, feature + 'id')}">
      <input type="hidden" name="violation" value="0">
      <div style="width: 50em; margin-bottom: 1em;">
        <textarea class="input markdown expanding" name="content" placeholder="Comment"></textarea>
      </div>
      <button class="button positive">Comment</button>
    </form>

  $if not report.is_closed:
    <h2>Close this report</h2>
    <form name="closereport" class="form" action="/modcontrol/closereport" method="post">
      $:{CSRF()}
      <input type="hidden" name="reportid" value="${report.reportid}" />
      <input type="hidden" name="feature" value="${feature}" />
      <label for="report-closure-action">Action</label>
      <select id="report-closure-action" class="input" style="width: 20em" name="action">
        <option></option>
        <option value="action_taken">Close: action taken</option>
        <option value="no_action_taken">Close: no action taken</option>
        <option value="invalid">Close: invalid</option>
      </select>
      <label>
        <input type="checkbox" name="close_all_user_reports" value="yes">
        Close/assign all open reports against this user (${report.target.owner.profile.username})
      </label>
      <div id="note-title-box" style="width: 50em; margin: 1em 0; display: none">
        <label for="note-title">Note title</label>
        <input id="note-title" class="input" name="note_title" placeholder="Note title">
      </div>
      <div id="user-note-box" style="width: 50em; margin: 1em 0">
        <label for="user-note">Note to reported user</label>
        <textarea id="user-note" class="input markdown expanding" rows="8"
                  name="user_note" placeholder="Note to reported user"></textarea>
      </div>
      <div id="closure-explanation-box" style="width: 50em; margin: 1em 0">
        <label for="closure-explanation">Explanation for closure</label>
        <textarea id="closure-explanation" class="input markdown expanding"
                  name="explanation" placeholder="Explanation for closure"></textarea>
      </div>
      <p id="report-closure-warning" style="margin: 0.8em 0"></p>
      <div id="report_buttons">
        $if report.closerid == my_userid:
          <button class="button negative" name="unassign">Unassign from me</button>
        $else:
          <button class="button positive" name="assign">Assign to me</button>
        <button class="button enableable" $:{'disabled' if not report.is_closed else ''}>Close</button>
      </div>
    </form>
</div>
