$def with (redirect)
$:{TITLE("Authentication", "Moderation", 0)}

<div class="content">
  <form name="modcontrolsignin" class="form skinny clear" action="/modcontrol/signin" method="post">
    $:{CSRF()}
    <input type="hidden" name="redirect" value="${redirect}" />
    
    <label for="moduser">Username</label>
    <input type="text" class="input" name="username" id="moduser" />
    
    <label for="modpass">Password</label>
    <input type="password" class="input last-input" name="password" id="modpass" />
    
    <button type="submit" class="button positive" style="float: right;">Continue</button>
    <a class="button" href="/index">Return Home</a>
  </form>
</div>
