$def with (query, slots)

<div id="detail_stage" class="stage">
  <h1 class="byline"><span>${query['title']}</span> <i>by</i> <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a></h1>
  <div style="padding:0 40px;" class="formatted-content">$:{MARKDOWN(query['content'])}</div>
</div><!-- /stage -->

<div id="detail_tools" class="toolbar">
  <!--form name="favorite" action="/favorite" method="post">
    $:{CSRF()}
    <input type="hidden" name="commishid" value="${query['commishid']}" />
  </form-->
  <h2>${query['title']}</h2>
  <div class="tools clear">
    $if query['available']:
      <a href="javascript:void(0);"><img src="${CDNIFY('/static/images/icon_tools_star.png')}" alt="" />Get Dibs on Available Slot</a>
  </div><!-- /tools -->
</div><!-- /detail_tools -->

<div class="content">
  <h2>Commission Slots</h2>
  $slots
</div>
