$def with (myself, query, violations)

<div id="detail-stage" class="stage">

  <h1 id="detail-title">${query['title']} <i>by</i> <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a></h1>

  <div id="detail-journal" class="content formatted-content">
    $:{MARKDOWN(query['content'])}
  </div><!-- /detail_journal -->

</div><!-- /detail-stage -->

<div id="detail-bar" class="bar pad-left pad-right clear">

  <div id="db-main">
    <ul id="detail-actions" class="toolset clear">
      <li><form id="submission-favorite-form" action="/favorite" data-action-base="/api/journals/${query['journalid']}/" method="post">
        $:{CSRF()}
        <input type="hidden" name="journalid" value="${query['journalid']}" />
        $if not query['mine']:
          $if query['favorited']:
            <input type="hidden" name="action" value="unfavorite" />
            <button class="active"><span class="icon icon-20 icon-star"></span> Favorited</button>
          $else:
            <input type="hidden" name="action" value="favorite" />
            <button><span class="icon icon-20 icon-star"></span> Favorite</button>
      </form></li>
      <li>
        $if query['reported'] and myself and myself['userid'] in staff.MODS:
          <a id="detail-report-button" class="active" href="#"><span class="icon icon-20 icon-report"></span> Reported</a>
        $elif 'h' not in query['settings']:
          <a id="detail-report-button" href="#"><span class="icon icon-20 icon-report"></span> Report</a>
      </li>
    </ul>
    <h2 id="detail-bar-title">${query['title']}</h2>
  </div><!-- db-main -->

  <div id="db-user">
    $ avatar = query['user_media']['avatar'][0]
    <a class="avatar" href="/~${LOGIN(query['username'])}"><img src="${avatar['display_url']}" alt="" /></a>
    <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a>
    <p class="date">${DATE(query['unixtime'])} <i>at</i> ${TIME(query['unixtime'])}</p>
  </div><!-- /db-user -->

</div><!-- /detail-bar -->


<div id="detail-content" class="content journal">

  <div id="detail-description">
    $:{RENDER("common/detail_report_form.html", [query['journalid'], "journal", violations])}
  </div>

  <div id="detail-info">

    <div id="di-info">
      <h3>Journal Information</h3>
      $if query['friends_only']:
        <div id="detail-visibility-restricted">Friends Only</div>
      <dl>
        <dt>Views:</dt> <dd>${query['page_views']}</dd>
        <dt>Comments:</dt> <dd>${len(query['comments'])}</dd>
        <dt>Favorites:</dt> <dd>${query['fave_count']}</dd>
        <dt>Rating:</dt> <dd>${R.CODE_MAP[query['rating']].name_with_age}</dd>
      </dl>
    </div><!-- /di-info -->

    $if query['mine'] or myself and myself['userid'] in staff.MODS:
      <form name="removejournal" action="/remove/journal" method="post">
        $:{CSRF()}
        <input type="hidden" name="journalid" value="${query['journalid']}" />
      </form>

    $if query['mine']:
      <div id="detail-manage">
        <h3>Journal Management</h3>

        <p><a href="/edit/journal?journalid=${query['journalid']}">Edit Journal Details</a></p>

        <form action="/remove/journal" method="POST" data-confirm="Are you sure you want to remove this journal?">
          $:{CSRF()}
          <input type="hidden" name="journalid" value="${query['journalid']}" />

          <button class="link-button">Remove Journal Entry</button>
        </form>
      </div><!-- /detail-manage -->

    $if myself and myself['userid'] in staff.MODS:
      <div id="detail-mod">
        <h3>Journal Moderation</h3>
        $if query['hidden_submission']:
          <div id="detail-visibility-restricted">Hidden Submission</div>
        <p><a href="/edit/journal?journalid=${query['journalid']}&amp;anyway=true">Edit Journal Details</a></p>
        <form action="/modcontrol/massaction" method="POST">
          $:{CSRF()}
          <input type="hidden" name="journals" value="${query['journalid']}">
          <select name="action" class="input">
            $for value, name in M.MACRO_MOD_ACTIONS_FOR_SETTINGS(query['settings'], "journal"):
              <option value="${value}">${name}</option>
          </select>
          <br>
          <button class="button positive">Moderate Journal</button>
        </form>
        <br />
        <form action="/modcontrol/spam/remove" method="POST" data-confirm="Are you sure you want to submit this item as spam and hide it?">
          $:{CSRF()}
          <input type="hidden" name="journalid" value="${query['journalid']}" />

          <button class="button negative">Submit as Spam and Hide</button>
        </form>
      </div><!-- /detail-mod -->

    <div class="di-tags">
      <h3>Tags <a class="modify typeface-default color-c" href="#">Modify</a></h3>

      <div class="tags open clear">
        $if query['tags']:
          $for i in query['tags']:
            <a href="/search?find=journal&amp;q=${i}">${i}</a>
        $else:
          <p class="color-lighter">There are no tags associated with this journal</p>
      </div>

      <h3 class="edit">Edit Tags</h3>

      $:{RENDER("common/detail_tag_form.html", [query['journalid'], "journal", query['tags']])}
    </div><!-- /di-tags -->

  </div><!-- /detail-info -->


  <div id="detail-comments">
    $if query['comments']:
      <h3>Comments</h3>
      $:{RENDER("common/comment_thread.html", ["detail_comments", query['comments'], "journal", myself, query['journalid'], query['userid']])}
    $if myself:
      <h3>Leave a Comment</h3>
      $:{RENDER("common/comment_form.html", [myself, query['journalid'], "journal"])}
  </div><!-- /detail-comments -->

  $ display_ads = ads.get_display_ads(myself and myself['userid'], count=2)
  $if display_ads:
    <div id="submission-ads">
      <div class="ads-multiple">
        $for ad in display_ads:
          <a href="${ad.link_target}" class="ad-multiple"><img src="${CDNIFY(ad.image_path)}" alt="" width="${ads.IMAGE_DIMENSIONS.width}" height="${ads.IMAGE_DIMENSIONS.height}" /></a>
      </div>
    </div>
</div><!-- /detail_content -->
