$def with (updates, can_edit)
$:{TITLE("Site Updates")}

<div class="content">
    <div class="constrained text-post-list">
        $ last_date = None
        $for update in updates:
            $ created = LOCAL_ARROW(update.unixtime)
            $ date = created.date()
            $if date != last_date:
                $ last_date = date
                <div class="text-post-group-header">
                    <time datetime="${date.isoformat()}" title="${created.format()}">${created.format(u"MMMM Do, YYYY")}</time>
                </div>

            <article class="text-post-item">
                <img class="text-post-image text-post-image-small" src="${update.owner.avatar['display_url']}" title="${update.owner.profile.username}" alt="${update.owner.profile.username}’s avatar" />

                <div class="text-post-text">
                    <h4 class="text-post-title">
                        <a href="${request.path_for(update)}">${update.title}</a>
                        $if can_edit:
                            <span class="text-post-actions">
                                <a href="${request.path_for(update, operation='edit')}">Edit</a>
                            </span>
                    </h4>

                    <p class="text-post-excerpt">${MARKDOWN_EXCERPT(update.content)}</p>
                </div>
            </article>

        $if not updates:
            <p>No site updates to show.</p>
    </div>
</div>
