input[is="weasyl-combobox"] {
    + div[popover] {
        img {
            height: 1em;
            padding-right: 0.5em;
            position: relative;
            top: 0.125em;
            width: 1em;
        }

        li {
            padding-left: 0.5em;
        }

        li:hover {
            background-color: #eee;
        }

        background-color: #e4e4e4;
        border-style: solid;
        border-width: 1px;
        border-color: #aaa #bbb #ccc;
        box-shadow: 0 4px 0 #336979, inset 0 1px 2px #aaa;
        cursor: default;
        font-family: Lucida Sans, Lucida Grande, Arial, Roboto, sans-serif;
        font-size: 10pt;
        line-height: 1.75rem;
        position: absolute;
    }

    background-position: 0.5em;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}
