#edit-profile {
    .buttons {
        padding-top: 1em;
    }

    .contact-editor {
        margin-top: 2em;
    }

    .remove-contact {
        width: 3.5em;
    }

    .site-label input:placeholder-shown {
        background-color: #ddd;
        border: none;
        box-shadow: none;
    }

    tr:last-child .site-label input:placeholder-shown {
        box-shadow: 0 4px 0 #336979;
    }

    @media (min-width: 45em) {
        .column {
            width: 48%;
        }

        .info {
            float: left;
            clear: left;
        }

        .settings {
            float: left;
            padding-left: 4%;
        }

        .profile {
            padding-bottom: 4px;
        }

        .social, .profile {
            clear: both;
            width: 100%;
        }

        .site-name, .site-label {
            width: 10em;
        }
    }

    @media (min-width: 63em) {
        .column {
            width: 31%;
        }

        .settings {
            clear: none;
            padding-left: 3.5%;
            margin-left: 0;
        }

        .profile {
            margin-left: 65.5%;
            padding-left: 3.5%;
            clear: none;
            overflow: hidden;
        }

        .social {
            width: 100%;
        }
    }

    @media (min-width: 80em) {
        .column {
            width: 23%;
        }

        .settings {
            padding-left: 2%;
        }

        .profile {
            width: 50%;
            margin-left: 48%;
            padding-left: 2%;
            overflow: hidden;
        }

        .social {
            width: 100%;
        }

        .contact-editor {
            margin: 2em auto 0;
            width: 40em;
        }
    }
}
