.password-strength {
    margin-top: 0.2em;
    text-transform: lowercase;
}

.password-strength::before {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    height: 2px;
    width: 0;
}

.password-strength.password-strength-0::before {
    background-color: #b22;
    width: 20%;
}

.password-strength.password-strength-1::before {
    background-color: #d60;
    width: 40%;
}

.password-strength.password-strength-2::before {
    background-color: #ed0;
    width: 60%;
}

.password-strength.password-strength-3::before {
    background-color: #690;
    width: 80%;
}

.password-strength.password-strength-4::before {
    background-color: #099;
    width: 100%;
}
