$avatar-margin: 12px;
$avatar-side: 50px;

.text-post-list {
    overflow: hidden;
}

.text-post-group-header {
    font-weight: bold;
    margin: 2em 0 -0.4em;
}

.text-post-item {
    position: relative;
    background-color: #eee;
    display: flex;
    margin: 1em 0;
}

.text-post-item-with-byline {
    padding-left: 2*$avatar-margin + $avatar-side;
}

.text-post-item .rating {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    border-left-style: solid;
    border-left-width: 2px;
    overflow: hidden;
}

.text-post-byline {
    color: #888;
}

.text-post-image {
    align-self: start;
    height: $avatar-side;
    margin: $avatar-margin;
    width: $avatar-side;

    .text-post-byline & {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.text-post-new {
    background-color: #069bc0;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    height: 10px;
    overflow: hidden;
    width: 10px;
}

.text-post-text {
    background-color: white;
    flex: 1;
    padding: 1em;
}

.text-post-title {
    display: flex;
    font-size: 1.4em;
    justify-content: space-between;
}

.text-post-actions {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: normal;
    margin-left: 0.6em;
    margin-right: -0.4em;
    text-transform: lowercase;
}

.content .text-post-actions a {
    color: #666;
    padding: 0.2em 0.4em;

    &.negative {
        color: #a00;
    }
}

.content .text-post-actions a:hover {
    background-color: #444;
    color: white;
    text-decoration: none;

    &.negative {
        background-color: #c00;
    }
}

.text-post-excerpt {
    margin-top: 0.4em;
    color: #666;
}
