.text-post-list {
    overflow: hidden;
}

.text-post-group-header {
    font-weight: bold;
    margin: 2em 0 -0.4em;
}

.text-post-item {
    background-color: #eee;
    display: flex;
    margin: 1em 0;
}

.text-post-image {
    align-self: start;
    height: 50px;
    margin: 1em;
    width: 50px;
}

.text-post-new {
    background-color: #069bc0;
    border-radius: 50%;
    display: inline-block;
    font-size: 0;
    height: 10px;
    overflow: hidden;
    width: 10px;
}

.text-post-text {
    background-color: white;
    flex: 1;
    padding: 1em;
}

.text-post-title {
    display: flex;
    font-size: 1.4em;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

.text-post-actions {
    flex-shrink: 0;
    font-size: 12px;
    font-weight: normal;
    margin-left: 0.6em;
    margin-right: -0.4em;
    text-transform: lowercase;
}

.content .text-post-actions a {
    color: #666;
    padding: 0.2em 0.4em;

    &.negative {
        color: #a00;
    }
}

.content .text-post-actions a:hover {
    background-color: #444;
    color: white;
    text-decoration: none;

    &.negative {
        background-color: #c00;
    }
}

.text-post-excerpt {
    color: #666;
}
