$def with (query)

<div id="error_content" class="content">
  <img src="${CDNIFY('/static/images/error_404_' + query[0] + '.jpg')}" alt="" />

  <p><strong>Whoops!</strong> The page you were looking for was not found.</p>

  $if(query[2]):
    <p>( Artwork by <a href="/profile?userid=${query[2]}">${query[1]}</a> )</p>
  $else:
    <p>( Artwork by ${query[1]} )</p>

  <div id="error_buttons">
    <a href="javascript:void(0);" onclick="window.history.back();" class="button">Go Back</a>
    <a href="/index" class="button">Return to the Home Page</a>
  </div><!-- /error_buttons -->
</div><!-- /error_content -->
