$def with (error, links = None, request_id=None)
$:{RENDER("common/stage_title.html", ["System Message"])}

<div id="error_content" class="content">
  $:{error}

  $if request_id is not None:
    <p>
      If you wish to contact support
      (<a href="https://forums.weasyl.com/vbulletin/forumdisplay.php?15-Site-amp-Forum-Support">on
      the forums</a> or <a href="mailto:support@weasyl.com">by e-mail</a>)
      about this error, please include the following information: <br>
      <tt>request-id: ${request_id}</tt>
    </p>

  <div id="error_buttons">
    $if(links):
      $for i in links:
        <a href="${i[1]}" class="button">${i[0]}</a>
    $else:
      <a href="javascript:void(0);" onclick="window.history.back();" class="button">Go Back</a>
      <a href="/index" class="button">Return to the Home Page</a>
  </div><!-- /error_buttons -->
</div><!-- /content -->
