$:{TITLE("Administrator Control Panel")}

<div id="admincontrol_content" class="content" style="padding-top:2em;">
  <div class="form skinny">
    <div style="font-size:1.3em;">
      <p><a href="/admincontrol/siteupdate">Submit Site Update</a></p><br />
    </div>

    <div style="font-size:1.3em;">
      <p><a href="/site-updates/">List Site Updates</a></p><br />
    </div>

    <div style="font-size:1.3em;">
      <p><a href="/admincontrol/finduser">Search Users</a></p><br />
    </div>

    <div style="font-size:1.3em;">
      <p><a href="/admincontrol/pending_accounts">View Accounts Pending Creation</a></p><br />
    </div>

    <label>Manage User Account</label>
    <p>Username</p>
    <form action="/admincontrol/manageuser">
      <input type="text" name="name" class="input last-input" /><br />
      <button type="submit" class="button" style="float:right;">Submit</button>
    </form>
    <br />

    <label>Get Confirmation Link</label>
    <form class="form clear" action="/admincontrol/acctverifylink" method="post">
      $:{CSRF()}
      <p>Username</p>
      <input type="text" name="username" class="input last-input" />
      <p>Email</p>
      <input type="text" name="email" class="input last-input" />
      <p><button type="submit" class="button" style="float:right;">Submit</button></p>
    </form>

    <br />
  </div>
</div>
