$def with (query = None)
$:{RENDER("common/stage_title.html", ["Search Users", "Administrator Control Panel", "/admincontrol"])}

<div class="content">
  $if(query == None):
    <div class="form skinny clear">
      <h3>Search Criteria</h3>

      <form name="admincontrolfinduser" action="/admincontrol/finduser" method="post" class="clear">
        $:{CSRF()}

        <label for="adminsearchid">UserID:</label>
        <input type="text" class="input" name="userid" id="adminsearchid" />

        <label for="adminsearchuser">Username:</label>
        <input type="text" class="input" name="username" id="adminsearchuser" />

        <label for="adminsearchemail">Email Address:</label>
        <input type="text" class="input last-input" name="email" id="adminsearchemail" />

        <div>
          <h4>View information for...</h4>

          <label for="suspendedorbanned-all">All Accounts</label>
          <input id="suspendedorbanned-all" type="radio" name="suspendedorbanned" value="all" checked />

          <label for="suspendedorbanned-suspended">Only Suspended</label>
          <input id="suspendedorbanned-suspended" type="radio" name="suspendedorbanned" value="suspended" />

          <label for="suspendedorbanned-banned">Only Banned</label>
          <input id="suspendedorbanned-banned" type="radio" name="suspendedorbanned" value="banned" />

          <label for="suspendedorbanned-both">Suspended or Banned</label>
          <input id="suspendedorbanned-both" type="radio" name="suspendedorbanned" value="both" />
        </div>
        <br />
        <div>
          <h4>Only show accounts created...</h4>

          <label for="timespan-after">After</label>
          <input id="timespan-after" type="date" name="dateafter" />

          <label for="timespan-before">Before</label>
          <input id="timespan-before" type="date" name="datebefore" />
        </div>

        <button type="submit" class="button positive" style="float: right;">Search</button>
      </form>
    </div>
  $elif(query):
    <div>
      $if query.rowcount == 1:
        <h3>Search Results - ${query.rowcount} Account Found</h3>
      $else:
        <h3>Search Results - ${query.rowcount} Accounts Found</h3>

      <table>
        <tr>
          <td style="font-weight:700;">UserID</td>
          <td style="font-weight:700;">Login Name</td>
          <td style="font-weight:700;">Email Address</td>
          <td style="font-weight:700;">Staff Notes</td>
        </tr>

        $for i in query:
          <tr>
            <td>${i.userid}</td>
            <td><a href="/~${i.login_name}">${i.login_name}</a></td>
            <td>${i.email}</td>
            <td><a href="/staffnotes/${i.login_name}">${i.staff_notes} of &apos;em</a></td>
          </tr>
      </table>
    </div>
  $else:
    <div>
      <h3>Search Results</h3>
      There are no search results to display.
    </div>
</div>
