$def with (redirect)
$:{TITLE("Authentication", "Administration", 0)}

<div class="content">
  <form name="admincontrolsignin" class="form skinny clear" action="/admincontrol/signin" method="post">
    $:{CSRF()}
    <input type="hidden" name="redirect" value="${redirect}" />
    
    <label for="adminuser">Username</label>
    <input type="text" class="input" name="username" id="adminuser" />
    
    <label for="adminpw">Password</label>
    <input type="password" class="input last-input" name="password" id="adminpw" />
    
    <button type="submit" class="button highlighted" style="float: right;">Continue</button>
    <a class="button" href="/index">Return Home</a>
  </form>
</div>
