$def with (container, comments, feature="", myself=None, targetid=None, page_owner=None)
$ is_owner = myself and page_owner and myself['userid'] == page_owner
$ can_remove = is_owner or (myself and myself['userid'] in staff.MODS)
<div id="${container}" data-feature="${feature}" data-removal-privileges="${'all' if can_remove else 'own'}" class="comments">
  $ size = len(comments)
  $for i, comment in enumerate(comments):
    $if i == 0 or comment['indent'] > comments[i - 1]['indent']:
      <ul>
      <li>

    $ hidden = comment['hidden']
    <div class="comment${' hidden-comment' if hidden else ''}" id="cid${comment['commentid']}" data-id="${comment['commentid']}">
      <a href="/~${LOGIN(comment['username'])}" class="avatar">
        $ avatar = comment['user_media']['avatar'][0]
        <img src="${avatar['display_url']}" alt="" />
      </a>
      <div class="comment-content">
        <p class="actions">
          $if not hidden:
            $if myself and myself['is_verified']:
              <a href="#" class="comment-reply-link needs-js">Reply</a>
            $ has_replies = i + 1 < size and comments[i + 1]['indent'] == comment['indent'] + 1
            $ user_is_commenter = myself and comment['userid'] == myself['userid']
            $if feature and myself and (can_remove or (user_is_commenter and not has_replies)):
              <a href="#" class="comment-hide-link needs-js">Delete</a>
            <a href="#cid${comment['commentid']}">Link</a>
        </p>
        <p class="byline">
          <a href="/~${LOGIN(comment['username'])}" class="username">${comment['username']}</a>
          $ user_type = USER_TYPE(comment['userid'])
          $if user_type:
            <strong class="user-type-${user_type}">(${user_type})</strong>
          $:{LOCAL_TIME(comment['unixtime'], '<i>on</i> <b class="local-time-date">{date_text}</b> <i>at</i> {time}')}
          $if hidden and comment['hidden_by']:
            $if comment['hidden_by'] == page_owner:
              <strong>[hidden by page owner]</strong>
            $elif comment['hidden_by'] == comment['userid']:
              <strong>[hidden by commenter]</strong>
            $else:
              <strong>[hidden by moderator]</strong>
        </p>
        <div class="formatted-content">$:{MARKDOWN(comment['content'])}</div>
      </div>
    </div>
    $if i == size - 1:
      $for j in range(comment['indent'] + 1):
        </li>
        </ul>
    $else:
      $if comment['indent'] == comments[i + 1]['indent']:
        </li>
        <li>
      $elif comment['indent'] > comments[i + 1]['indent']:
        $for j in range(comment['indent'] - comments[i + 1]['indent']):
          </li>
          </ul>
        <li>
</div>
