$def with (myself, targetid, feature)

$code:
  if feature == "shouts":
    feature = "userid"
  elif feature == "submit":
    feature = "submitid"
  elif feature == "char":
    feature = "charid"
  elif feature == "journal":
    feature = "journalid"
  elif feature == "siteupdate":
    feature = "updateid"

$if myself['is_verified']:
  <form class="comment-form" action="/submit/${'shout' if feature in ['userid', 'staffnotes'] else 'comment'}" method="post">
    <input type="hidden" class="form-target-id" name="${feature}" value="${targetid}" />
    <input type="hidden" name="parentid" />

    <div class="hypothetical comment">

      $ avatar = myself['user_media']['avatar'][0]
      <a class="avatar" href="/~${LOGIN(myself['username'])}"><img src="${avatar['display_url']}" alt="${myself['username']}"></a>

      <div class="comment-content">
        <p class="byline"><a class="username" href="/~${LOGIN(myself['username'])}">${myself['username']}</a> <span id="comment_form_reply_text"></span></p>
        <textarea class="form-content markdown expanding" name="content" placeholder="Leave a comment" required maxlength="10000"></textarea>
      </div>

      <div class="comment-submit clear">
        <button class="button positive">Submit Comment</button>
        <a href="/help/markdown" class="comment-formatting-help" target="_blank">Formatting Help</a>
      </div>

    </div>
  </form>
$else:
  <p>Your account has to be verified to comment. <a href="/help/verification">How do I verify my account?</a></p>
