$def with (targetid, feature, violations)
<div id="detail-report" style="display: none;">
  <form name="submitreport" action="/submit/report" method="post" class="form clear">
    <input type="hidden" name="${feature}id" value="${targetid}" />

    $if(feature == "submit"):
      <h3>Report Submission</h3>
    $elif(feature == "char"):
      <h3>Report Character</h3>
    $else:
      <h3>Report Journal</h3>

    <label for="detail_report_violation">Violation Type:</label>
    <select id="detail_report_violation" name="violation" class="input">
      $for i in violations:
        <option value="${i[0]}" data-comment-required="${i[3]}">${i[2]}</option>
    </select>
    <span id="detail_report_reminder" style="color:#c00;visibility:hidden">* This report type requires a comment</span>

    <label for="detail_report_content">Additional Comments:</label>
    <textarea id="detail_report_content" name="content" class="markdown input expanding last-input" rows="6"></textarea>
    <br />

    <button class="button" style="float: right;">Send Report</button>
    <a id="report-cancel" class="button needs-js" href="#">Cancel</a>

  </form>
</div>
