$def with (options=None, active_users_string='')
  <footer><div id="footer">

    <nav><div id="footer-nav" class="clear">

      <div class="column clear">
        <h1><a href="/index"><img src="${CDNIFY('/static/images/logo.png')}" alt="Weasyl" /></a></h1>
        <ul class="clear">
          <li><a href="/submit">Submit</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="/control">Settings</a></li>
        </ul>
      </div>

      <div class="column clear">
        <h2 class="typeface-a color-a">About</h2>
        <ul class="clear">
          <li><a href="/help/about">About Weasyl</a></li>
          <li><a href="/site-updates/">News</a></li>
          <li><a href="/help/faq">FAQ</a></li>
          <li><a href="/staff">Staff</a></li>
          <li><a href="/thanks">Awesome People</a></li>
        </ul>
      </div>

      <div class="column clear">
        <h2 class="typeface-a color-a">Community</h2>
        <ul class="clear">
          <li><a href="https://forums.weasyl.com/vbulletin/forum.php">Forums</a></li>
          <li><a href="https://twitter.com/Weasyl">@Weasyl</a></li>
          <li><a href="https://twitter.com/WeasylDev">@WeasylDev</a></li>
          <li><a href="https://twitter.com/WeasylCritique">@WeasylCritique</a></li>
          <li><a href="https://twitter.com/WZLCritiqueNSFW">@WZLCritiqueNSFW</a></li>
        </ul>
      </div>

      <div class="column clear">
        <h2 class="typeface-a color-a">Policy</h2>
        <ul class="clear">
          <li><a href="/policy/community">Community Guidelines</a></li>
          <li><a href="/help/ratings">Ratings Guidelines</a></li>
          <li><a href="/policy/tos">Terms of Service</a></li>
          <li><a href="/policy/copyright">Copyright Policy</a></li>
          <li><a href="/policy/scoc">Staff Code of Conduct</a></li>
          <li><a href="/policy/privacy">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="column clear">
        <h2 class="typeface-a color-a">Support</h2>
        <ul class="clear">
          <li><a href="/help">Help Topics</a></li>
          <li><a href="https://forums.weasyl.com/vbulletin/forumdisplay.php?15-Site-amp-Forum-Support">Report a Bug</a></li>
          <li><a href="/help/reports">My Reports</a></li>
          <li><a href="mailto:support@weasyl.com">support@weasyl.com</a></li>
          <li><a href="mailto:sysop@weasyl.com">sysop@weasyl.com</a></li>
        </ul>
      </div>

    </div><!-- /footer-nav --></nav>

    <img id="footer-wesley" src="${CDNIFY('/static/images/wesley1.png')}" alt="" />

    <p id="footer-info">
      $if active_users_string:
        ${active_users_string}.
        <br>
      <a href="https://github.com/Weasyl/weasyl/commit/${SHA}">${SHA}</a> &middot; Copyright &copy; 2012–${arrow.now().year} Weasyl LLC<br>
      <a href="https://github.com/Weasyl/weasyl">Weasyl is an open source project</a>
    </p>

  </div><!-- /footer --></footer>

</div><!-- /page-container -->

<script src="/static/jquery-2.2.4.min.js"></script>
<script src="/static/typeahead.bundle.min.js"></script>
<script src="/static/marked.js?${SHA}"></script>
<script src="/static/scripts.js?${SHA}"></script>

<script src="${CDNIFY('/static/scripts/yall.min.js')}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    yall({
      threshold: 100
    });
  });
</script>

$if options and "imageselect" in options:
  <script src="${CDNIFY('/static/scripts/imageselect/imageselect.js?' + SHA)}"></script>
  $:{RENDER("common/image_select.html", ["square_select" in options])}

$if options and 'search' in options:
  <script src="${CDNIFY('/static/search.js?' + SHA)}"></script>

</body>
</html>
