$def with (card, *, welcomeid=None, include_byline=True, lazy_load=True)
$code:
  thumb_url = card.thumbnail.files.fallback['display_url']

<li class="item">
  $if welcomeid is not None:
    <label class="input-checkbox">

  <figure class="thumb$:{'' if include_byline else ' thumb-no-byline'}">
    <a class="thumb-bounds" href="${card.href}">
      $if card.rating == R.MATURE.code:
        <span class="rating mature">The following submission is rated Mature:</span>
      $elif card.rating == R.EXPLICIT.code:
        <span class="rating explicit">The following submission is rated Explicit:</span>

      $if card.thumbnail.files.webp is not None:
        <picture>
          <source type="image/webp" srcset="${card.thumbnail.files.webp['display_url']}" />
          <img src="${thumb_url}" alt="" width="${card.thumbnail.width}" height="${card.thumbnail.height}"$:{' loading="lazy"' if lazy_load else ''} />
        </picture>
      $else:
        <img src="${thumb_url}" alt="" width="${card.thumbnail.width}" height="${card.thumbnail.height}"$:{' loading="lazy"' if lazy_load else ''} />
    </a>

    <figcaption>
      <h6 class="title" title="${card.title}"><a href="${card.href}">${card.caption}</a></h6>
      $if include_byline:
        $code:
          byline_prefix = (
            'collected by' if card.contype == 40 else
            'character of' if card.contype == 20 else
            'by'
          )
        <p class="byline" title="$:{byline_prefix} ${card.username.display}">
          <i>$:{byline_prefix}</i>
          <a href="/~${card.username.sysname}" class="username">${card.username.display}</a>
        </p>
    </figcaption>
  </figure>

  $if welcomeid is not None:
    <input type="checkbox" name="remove" value="${welcomeid}" class="checkbox" />
    </label>
</li>
