$def with (query, card, caption)

<div class="thumbnail_list_item">
  <div class="item">
    <label class="input-checkbox">
      <input type="checkbox" name="submissions" value="${query['submitid']};${query['collectorid']}" />

      <a href="${card.href}">
        <img class="thumbnail_list_thumbnail" src="${card.thumbnail.files.fallback['display_url']}" alt="" />

        ${card.caption}</a>
      $if caption == "collection_requested":
        requested by <a class="username" href="/~${LOGIN(query['collector'])}">${query['collector']}</a>
      $else:
        submitted by <a class="username" href="/~${card.username.sysname}">${card.username.display}</a>
        $if caption == "collection_pending":
          and offered
        $else:
          $# caption == "collection_accepted"
          and collected

      $:{LOCAL_TIME(query['unixtime'], 'on {date}')}
    </label>
  </div>
</div>
