$def with (username, current, show_favorites)
  $code:
    def _CURRENT_(x, y):
      return "class=\"current\" " if x == y else ""
  $ username = LOGIN(username)
  <nav role="navigation"><ul id="user-nav" class="bar clear pad-left pad-right">
    <li><a $:{_CURRENT_("profile", current)}href="/~${username}">Profile</a></li>
    <li><a $:{_CURRENT_("submissions", current)}href="/submissions/${username}">Submissions</a></li>
    <li><a $:{_CURRENT_("journals", current)}href="/journals/${username}">Journals</a></li>
    <li><a $:{_CURRENT_("collections", current)}href="/collections/${username}">Collections</a></li>
    <li><a $:{_CURRENT_("characters", current)}href="/characters/${username}">Characters</a></li>
    <li><a $:{_CURRENT_("shouts", current)}href="/shouts/${username}">Shouts</a></li>
    $if show_favorites:
      <li><a $:{_CURRENT_("favorites", current)}href="/favorites/${username}">Favorites</a></li>
  </ul></nav>
