$def with (profile, userinfo, relationship)
  $code:
    def _STATUS_WORD_(target):
      if(target == "o"):   return "Open"
      elif(target == "s"): return "Sometimes"
      elif(target == "f"): return "Filled"
      elif(target == "c"): return "Closed"
      elif(target == "n"): return "Online"
      elif(target == "l"): return "Later"
      elif(target == "i"): return "Offline"

    def _STATUS_CLASS_(target):
      if(target in "on"):  return "color-on"
      elif(target == "s"): return "color-mid"
      else:                return ""

  $ banner = profile['user_media'].get('banner', [None])[0]
  $if banner:
    <div id="user-image">
      <img src="${banner['display_url']}" alt="" loading="lazy" />
      <svg class="img-space" width="${banner['attributes']['width']}" height="${banner['attributes']['height']}"></svg>
    </div>

  $ avatar = profile['user_media']['avatar'][0]
  <div id="user-info" class="clear">

    <div class="bar pad-left pad-right clear">
      <span class="avatar"><a href="/~${LOGIN(profile['username'])}"><img src="${avatar['display_url']}" alt="Avatar for ${profile['username']}" /></a></span>

      $if profile['banned']:
        <a href="/~${LOGIN(profile['username'])}"><h2 class="username banned">${profile['username']}</h2></a>
      $elif profile['suspended']:
        <a href="/~${LOGIN(profile['username'])}"><h2 class="username suspended">${profile['username']}</h2></a>
      $else:
        <a href="/~${LOGIN(profile['username'])}">
          <h2 class="username">
            ${profile['username']}
            $ user_type = USER_TYPE(profile['userid'])
            $if user_type:
              <span class="user-type-${user_type}" style="font-size:0.8em;">(${user_type})</span>
          </h2>
        </a>

      <ul id="user-actions" class="toolset clear">

        $if not relationship['is_self']:
          <li><form name="followuser" action="/followuser" method="post"
            $if relationship['follow']:
              data-confirm="Are you sure you wish to unfollow this user?"
          >
            <input type="hidden" name="userid" value="${profile['userid']}" />
            $if(relationship['follow']):
              <input type="hidden" name="action" value="unfollow" />
              <button type="submit" class="active"><span class="icon icon-20 icon-star"></span> Following</button>
            $else:
              <input type="hidden" name="action" value="follow" />
              <button type="submit"><span class="icon icon-20 icon-star"></span> Follow</button>
          </form></li>

          <li><form name="frienduser" action="/frienduser" method="post"
            $if relationship['friend']:
              data-confirm="Are you sure you wish to remove this friend?"
          >
            <input type="hidden" name="userid" value="${profile['userid']}" />
            <input type="hidden" name="feature" value="user" />
            $if(relationship['friendreq']):
              <input type="hidden" name="action" value="withdrawfriendrequest" />
              <button type="submit" class="active"><span class="icon icon-20 icon-heart"></span> Friend Request Sent</button>
            $elif(relationship['friend']):
              <input type="hidden" name="action" value="unfriend" />
              <button type="submit" class="active"><span class="icon icon-20 icon-heart"></span> Friends</button>
            $else:
              <input type="hidden" name="action" value="sendfriendrequest" />
              <button type="submit"><span class="icon icon-20 icon-heart"></span> Friend</button>
          </form></li>

          <li><a href="/notes/compose?recipient=${LOGIN(profile['username'])}"><span class="icon icon-20 icon-pencil"></span> Message</a></li>

          <li><form name="ignoreuser" action="/ignoreuser" method="post"
            $if not relationship['ignore']:
              data-confirm="Are you sure you wish to ignore this user?"
          >
            <input type="hidden" name="userid" value="${profile['userid']}" />
            $if(relationship['ignore']):
              <input type="hidden" name="action" value="unignore" />
              <button type="submit" class="active"><span class="icon icon-20 icon-cancel"></span> Ignored</button>
            $else:
              <input type="hidden" name="action" value="ignore" />
              <button type="submit"><span class="icon icon-20 icon-cancel"></span> Ignore</button>
          </form></li>

        <li class="stream-status">
          $if profile['streaming_status'] == "started":
            <a href="${profile['stream_url']}"><span class="icon icon-status icon-on"></span> Streaming Now</a>
          $elif profile['streaming_status'] == "later":
            <a href="${profile['stream_url']}"><span class="icon icon-status icon-mid"></span> Streaming Later</a>
        </li>
      </ul>
    </div>

    <div id="user-id" class="pad-left pad-right">
      $ info = [profile['full_name'], userinfo['age'], userinfo['gender'], userinfo['country']]
      $if([i for i in info if i]):
        <h4>
          $if(info[0]):
            <strong>${info[0]}</strong>
          $if([i for i in info[:1] if i] and info[1]):
            <span>/</span>
          ${info[1]}
          $if([i for i in info[:2] if i] and info[2]):
            <span>/</span>
          ${info[2]}
          $if([i for i in info[:3] if i] and info[3]):
            <span>/</span>
          ${info[3]}
        </h4>
      <h5>${profile['catchphrase']}</h5>
    </div>

    <div id="user-availability" class="clear pad-left pad-right">
      $if profile['settings'][0] != 'e':
        <div>
          <h6>Commissions: <strong class="${_STATUS_CLASS_(profile['settings'][0])}">${_STATUS_WORD_(profile['settings'][0])}</strong></h6>
        </div>
      <div>
        $if profile['settings'][1] != 'e':
          <h6>Trades: <strong class="${_STATUS_CLASS_(profile['settings'][1])}">${_STATUS_WORD_(profile['settings'][1])}</strong></h6>
        $if profile['settings'][2] != 'e':
          <h6>Requests: <strong class="${_STATUS_CLASS_(profile['settings'][2])}">${_STATUS_WORD_(profile['settings'][2])}</strong></h6>
      </div>

    </div>

  </div>
