$def with (entries)
$:{RENDER("common/stage_title.html", ["Edit Account Creation Email Blacklist", "Director Control Panel", "/directorcontrol"])}

<div class="content blacklisted-emails">
  $if entries:
    <form method="POST" action="/directorcontrol/emailblacklist">
      $:{CSRF()}
      <table>
        <thead>
          <tr>
            <th width="10%" style="text-align: left;">Remove</th>
            <th width="40%" style="text-align: left;">Domain Name</th>
            <th width="40%" style="text-align: left;">Reason Blacklisted</th>
            <th width="10%" style="text-align: left;">Added by</th>
          </tr>
        </thead>
        <tbody>
          $for item in entries:
            <tr>
              <td><input class="checkbox" type="checkbox" name="remove_selection" value="$item['id']"></td>
              <td>$item['domain_name']</td>
              <td>$item['reason']</td>
              <td>$item['name']</td>
            </tr>
        </tbody>
      </table>
      <button class="button positive" name="action" value="remove">Unblacklist Selected Domains</button>
    </form>
  $else:
    <p style="text-align: center;">No email domains are currently blacklisted from creating an account.</p>
</div>


<div class="content">
  <form method="POST" action="/directorcontrol/emailblacklist" class="form skinny clear">
    <label for="domain_name">Domain Name(s) to Blacklist</label>
    <textarea rows="4" class="input" name="domain_name" id="domain_name" placeholder="Enter domain names one per line... spammer.net"></textarea>

    <label for="reason">Reason Why Blacklisted</label>
    <textarea rows="4" cols="60" class="input" name="reason" id="reason"></textarea>

    $:{CSRF()}
    <div style="padding-top: 1em;">
      <button class="button negative" name="action" value="add">Blacklist Domain</button>
    </div>
  </form>
</div>
