$def with (tags)
$:{RENDER("common/stage_title.html", ["Edit Global Community Tagging Restrictions", "Director Control Panel"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/directorcontrol/globaltagrestrictions">
    $if tags:
      <h3>Current Global Community Tagging Restrictions</h3>
      <table>
        <thead>
          <tr>
            <th width="50%">Added By</th>
            <th width="50%">Tag</th>
          </tr>
        </thead>
        <tbody>
          $for title, login_name in tags.items():
            <tr>
              <td style="text-align:center">$login_name</td>
              <td style="text-align:center">$title</td>
            </tr>
        </tbody>
      </table>
    $else:
      <p style="text-align: center; font-weight: bold;">No community tags are currently restricted.</p>

    <h3>Global Community Tagging Restrictions Information</h3>
    <p>
      Tags added here will not be able to be added to the list of search tags for an item,
      except by the owner of the item in question or Weasyl staff. In addition to blocking individual tags, you can
      forbid tag patterns by using <code>*</code> as a wildcard. Wildcard patterns may only use one <code>*</code> and
      must contain at least two additional characters. For example, <code>sun*</code> matches <em>sunrise</em>
      and <em>sunset</em>; <code>*_pen</code> matches <em>fountain_pen</em> and <em>ballpoint_pen</em>.
    </p>

    <span class="label">Add or Remove Tags:</span><br />
    <textarea class="tags-textarea" name="tags">${" ".join(sorted(tags))}</textarea>
    <div style="padding-top: 1em;">
      <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
