$:{TITLE("Director Control Panel")}

<div id="directorcontrol_content" class="content" style="padding-top:2em;">
  <div class="form skinny">
    <label>Impersonate User</label>
    <p>Username</p>
    <form method="POST" action="/directorcontrol">
      $:{CSRF()}
      <input type="text" name="target_username" class="input last-input" /><br />
      <button class="button negative" name="action" value="impersonate" style="float:right;">Impersonate User</button>
    </form>

    <br />
  </div>
</div>
