$def with (entries)
$:{RENDER("common/stage_title.html", ["Blacklist Email Address", "Director Control Panel", "/directorcontrol"])}

<div class="content blacklisted-emails">
  <form method="POST" action="/directorcontrol/emailblacklist">
    $:{CSRF()}
    <table>
      <thead>
        <tr>
          <th width="10%">Remove</th>
          <th width="40%">Domain Name</th>
          <th width="40%">Reason Blacklisted</th>
          <th width="10%">Added by</th>
        </tr>
      </thead>
      <tbody>
        $for item in entries:
          <tr>
            <td style="text-align: center;"><input class="checkbox" type="checkbox" name="remove_selection" value="$item['id']"></td>
            <td style="text-align: center;">$item['domain_name']</td>
            <td style="text-align: center;">$item['reason']</td>
            <td style="text-align: center;">$item['name']</td>
          </tr>
      </tbody>
    </table>
    <button class="button positive" name="action" value="remove">Unblacklist Selected Domains</button>
  </form>
</div>


<div class="content">
  <form method="POST" action="/directorcontrol/emailblacklist" class="form skinny clear">
    <label for="domain_name">Domain Name to Blacklist</label>
    <input type="text" class="input" maxlength="252" name="domain_name" id="domain_name" required>

    <label for="reason">Reason Why Blacklisted</label>
    <textarea rows="4" cols="60" class="input" name="reason" id="reason"></textarea>

    $:{CSRF()}
    <button class="button negative" name="action" value="add">Blacklist Domain</button>
  </form>
</div>
