$def with (tags, taglist)
$:{RENDER("common/stage_title.html", ["Edit Global Searchtag Blacklist", "Director Control Panel"])}

<div id="globalsearchtagblacklist-content" class="content form clear">
  <form method="POST" class="form skinny clear" action="/directorcontrol/globalsearchtagblacklist">
    <h3>Current Global Blacklist</h3>
    <table>
      <thead>
        <tr>
          <th width="50%">Added By</th>
          <th width="50%">Searchtag</th>
        </tr>
      </thead>
      <tbody>
        $for entry in tags:
          <tr>
            <td style="text-align:center">$entry['login_name']</td>
            <td style="text-align:center">$entry['title']</td>
          </tr>
      </tbody>
    </table>
    $:{CSRF()}
    <h3>Global Searchtag Blacklist Information</h3>
    <p>
      Search tags added here will not be able to be added to the list of search tags for an item,
      except by the owner of the item in question. In addition to blocking individual tags, you can 
      forbid tag patterns by using <code>*</code> as a wildcard. Wildcard entries must have at least 
      two additional characters. For example, <code>sun*</code> matches <em>sunrise</em> and <em>sunset</em>; 
      <code>*_pen</code> matches <em>fountain_pen</em> and <em>ballpoint_pen</em>.
    </p>

    <label for="detail_tag_form_content">Add or Remove Tags:</label><br />
    <textarea id="tags-textarea" name="tags">${taglist}</textarea>
    <div style="padding-top: 1em;">
      <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
