$def with (update)
$ is_new = not update['updateid']
$:{TITLE("Submit" if is_new else "Edit", "Site Updates", "/site-updates/")}

<div class="content">
  <form id="submit-form" class="form wide" action="${'/site-updates/' if is_new else '/site-updates/%d' % (update['updateid'],)}" method="post">
    <h3>Content</h3>

    <label for="siteupdatetitle">Title</label>
    <input type="text" class="input" name="title" id="siteupdatetitle" autofocus required value="${update['title']}" />

    <label for="siteupdatecontent">Content</label>
    <textarea class="markdown input expanding last-input" name="content" rows="9" id="siteupdatecontent" required>${update['content']}</textarea>
    <br />

    <h3>Options</h3>

    <label class="input-checkbox">
      <input type="checkbox" name="wesley"$:{' checked' if update['wesley'] else ''}>
      Post as Wesley
    </label>

    <div class="buttons">
      <button class="button positive" style="float: right;">
        $if is_new:
          Post site update
        $else:
          Save site update
      </button>
    </div>
  </form>
</div>
