$def with (query, ratings)
$:{RENDER("common/stage_title.html", ["Edit Journal Entry"])}

$code:
  def _RATING(x):
    return ' selected="selected"' if query['rating'] == x else ''
  def _CHECKED(x):
    return ' checked="checked"' if x in query['settings'] else ''

<div id="edit-journal-content" class="content">

  <form name="editjournal" action="/edit/journal" method="post" class="form skinny clear">
    $:{CSRF()}
    <input type="hidden" name="journalid" value="${query['journalid']}" />

    <h3>Journal Composition</h3>

    <label for="editjournaltitle">Title</label>
    <input type="text" class="input" name="title" value="${query['title']}" id="editjournaltitle" />

    <label for="editjournalrating">Rating</label>
    <select name="rating" class="input" id="editjournalrating">
      $for rating in ratings:
        <option value="${rating.code}"$:{_RATING(rating.code)}>${rating.name_with_age}</option>
    </select>

    <label for="editjournalcontent">Content</label>
    <textarea name="content" class="markdown input expanding" rows="9" id="editjournalcontent">${query['content']}</textarea>

    <h3>Additional Options</h3>

    <label for="editjournalfriends" class="input-checkbox">
      <input type="checkbox" id="editjournalfriends" name="friends"${_CHECKED("f")} />
      Make this journal visible only to my friends
    </label>

    <div class="buttons clear" style="padding-top: 1em;">
      <button type="submit" class="button" style="float: right;">Save</button>
      <a class="button" href="/journal/${query['journalid']}/${SLUG(query['title'])}">Cancel</a>
    </div>

  </form>
</div><!-- /content -->
