[general]
notice = 9387490
warning = 12345
adpath = ui/it/il/tx/
allow_submit = true
captcha_disable_verification = false
# Whether currency exchange rates should be fetched for /marketplace
convert_currency = false

[backend]
run_periodic_tasks = false
profile_responses = false
time_endpoints = false
# this should almost always be off in prod but it's a useful default for dev
rough_shutdowns = true

[sqlalchemy]
url = postgresql+psycopg2cffi:///weasyl

[sentry]
# dsn = twisted+http://...

[smtp]
host = localhost

[recaptcha-lo.weasyl.com]
public_key = 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
private_key = 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe

[two_factor_auth]
# This key MUST be changed when in production;
# See https://cryptography.io/en/latest/fernet/ -- Fernet.generate_key()
secret_key = 2iY4trxnpmNLlQifnQ21pFF0nb-VlmpxRUI6W_uP1oQ=

[spam_filtering]
enabled = false
# Akismet.com API key -- For spam filtering
key = None
