[general]
allow_submit = true
# Whether currency exchange rates should be fetched for /marketplace
convert_currency = false

[backend]
run_periodic_tasks = false
profile_responses = false

[sqlalchemy]
url = postgresql+psycopg2cffi://weasyl@postgres/weasyl
# url = postgresql+psycopg2cffi:///weasyl

[memcached]
servers = memcached

[sentry]
# dsn = twisted+http://...

[smtp]
host = localhost

[two_factor_auth]
# This key MUST be changed when in production;
# See https://cryptography.io/en/latest/fernet/ -- Fernet.generate_key()
secret_key = 2iY4trxnpmNLlQifnQ21pFF0nb-VlmpxRUI6W_uP1oQ=
