{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
    {{ stage("Account Verification", "Help", "/help") }}
<div class="content">
  <div class="constrained">

    <a href="#about" class="faq-permalink">Link</a>
    <h3>What is account verification?</h3>

    <div class="formatted-content">
      <p>Account verification helps keep spambots off Weasyl by requiring every new account to be vouched for by an established member of the community before features like commenting, writing journals, and uploading are available.</p>
    </div>

    <a href="#getting-verified" class="faq-permalink">Link</a>
    <h3>How do I verify my account?</h3>

    <div class="formatted-content">
        {% if username %}
          {% set profile_link = '<a href="/~'+ username | LOGIN +'">https://www.weasyl.com/~' + username | LOGIN + '</a>' %}
        {% else %}
          {% set profile_link = 'your username in the top-right is a link to it' %}
        {% endif %}

      <p>Find someone you know who has a Weasyl account, and ask them to click the “Vouch” button on your profile ({{ profile_link|safe }}).</p>

      <p>If you don’t know anyone with an account, e-mail support at <a href="mailto:{{ M.MACRO_SUPPORT_ADDRESS }}">{{ M.MACRO_SUPPORT_ADDRESS }}</a>. A staff member will verify you! (Linking back to your Weasyl profile from any well-used accounts you might have on other websites, and including that information in the e-mail, will help make this process fast.)</p>
    </div>

    <a href="#verifying-others" class="faq-permalink">Link</a>
    <h3>When should I verify someone else’s account?</h3>

    <div class="formatted-content">
      <p>When you know that it won’t be used to post nonsense spam links. It’s not a high bar 😊</p>

      <p>You won’t be held responsible for the person’s future actions on the site or anything like that.</p>
    </div>

  </div>
</div>
{% endblock %}