$:{RENDER("common/stage_title.html", ["Reset Forgotten Password"])}

<div id="forgotpassword-content" class="content">

  <form class="form skinny clear" name="forgotpassword" action="/forgotpassword" method="post">
    $:{CSRF()}

    <label for="fp-email">Email Address</label>
    <input type="text" class="input" id="fp-email" name="email" required="required" style="margin-bottom: 1em" />

    <button type="submit" class="button positive" style="float: right;">Continue</button>
    <a href="/index" class="button">Return Home</a>
  </form>

</div>
