$:{RENDER("common/stage_title.html", ["Reset Forgotten Password"])}

<div id="forgotpassword-content" class="content">

  <form class="form skinny clear" name="forgotpassword" action="/forgotpassword" method="post">
    <label for="fp-email">Email Address</label>
    <input type="email" class="input" id="fp-email" name="email" required maxlength="254" autocomplete="email" />

    $:{COMPILE("common/turnstile.html")(action="password-reset")}

    <div class="form-actions clear">
      <button class="button positive" style="float: right;">Continue</button>
    </div>
  </form>

</div>
