{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
{{ stage("Reset Forgotten Password") }}

<div id="forgotpassword-content" class="content">
  {% if error %}
    <div id="error_content" class="content">
      {{ error }}
      <div id="error_buttons">
        <a href="{{ 'signin' | route_path }}">Sign In</a>
        <a href="/index" class="button">Return to the Home Page</a>
      </div>
    </div>
  {% else %}
  <form class="form skinny clear" name="forgotpassword" action="/forgotpassword" method="post">
    <input type="hidden" name="token" value="{{ TOKEN() }}"/>

    <label for="fp-email">Email Address</label>
    <input type="text" class="input" id="fp-email" name="email" required="required" style="margin-bottom: 1em" />

    <button type="submit" class="button positive" style="float: right;">Continue</button>
    <a href="/index" class="button">Return Home</a>
  </form>
  {% endif %}
</div>
{% endblock %}
