$def with (error, referer, login_page, initial = DEFAULT_LOGIN_FORM)

$if login_page: <div class="login-box">
$else: <dialog id="login-top" class="login-box content">
  $if not login_page:
    <h3>Sign In</h3>

    <button type="button" class="link-button" id="lb-close">Close</button>

  $if error is not None:
    <div class="login-error">
      <strong>Login failed:</strong> ${error.message}

      $if error.hints:
        <ul>
          $for hint in error.hints:
            <li>${hint}</li>
        </ul>
    </div>

  <form class="form" name="signin" action="/signin" method="post">
    <label for="login-user">Username</label>
    <input type="text" id="login-user" class="input" name="username" value="${initial.username}" placeholder="Username" autofocus autocomplete="username" required />

    <label for="login-pass">Password</label>
    <input type="password" id="login-pass" class="input" name="password" placeholder="Password" autocomplete="current-password" required />

    <label class="input-checkbox login-sfw">
      <input type="checkbox" name="sfwmode" value="sfw"$:{' checked' if initial.sfw else ''}> Sign in using SFW mode
    </label>

    <input type="hidden" name="referer" value="${referer}" />

    <div class="login-actions">
      <button class="button">Sign In</button>

      <span class="lb-links">
        <a href="/signup" class="lb-link">No account yet?</a>
        <a href="/forgotpassword" class="lb-link">Forgot your password?</a>
      </span>
    </div>
  </form>

$if login_page: </div>
$else: </dialog>
