$def with (error, referer, login_page)

<div id="login-box" class="clear content">
  $if not login_page:
    <h3>Sign In</h3>

    <a id="lb-close" href="#">Close</a>

  $if error:
    <div id="signin_error"><strong>Whoops!</strong> The login information you entered was not correct.</div>

  <form class="form" name="signin" action="/signin" method="post">
    <label for="login-user">Username</label>
    <input type="text" id="login-user" class="input" name="username" placeholder="Username"$:{" autofocus" if login_page else ""} autocomplete="username" required />

    <label for="login-pass">Password</label>
    <input type="password" id="login-pass" class="input" name="password" placeholder="Password" autocomplete="current-password" required />

    <label id="login-sfw" class="input-checkbox">
      <input type="checkbox" name="sfwmode" value="sfw" /> Sign in using SFW mode
    </label>

    <input type="hidden" name="referer" value="${referer}" />

    <a href="/forgotpassword" class="lb-link">Forgot your password?</a>
    <a href="/signup" class="lb-link">No account yet?</a>
    <button type="submit" class="button">Sign In</button>
  </form>

</div>
