$def with (results, form, currencies, presets, previndex, nextindex)
$:{TITLE("Marketplace")}
$code:
  def selected(s):
    return 'selected' if s else ''


<div style="background:#DDD" class="clear">
  <div class="content sectioned-sidebar">
    <h3>Marketplace Search</h3>

    <form id="marketplace-search" class="form">
      <label for="commission-class-preset">Type of Commission</label>
      <select class="input last-input" name="pc" id="commission-class-preset">
        <option value="" $:{selected(form.pc == "" and not form.c)}>Any</option>
        $for group_name, group_options in presets:
          <optgroup label="${group_name}">
            $for c in group_options:
              <option value="${c}" $:{selected(form.pc == c)}>${c}</option>
          </optgroup>
        <option value="" $:{selected(form.pc == "" and form.c)} data-select-other="">Other</option>
      </select>
      <input name="c" type="text" class="input data-select-other" value="${form.c}" data-select="commission-class-preset" title="Other commission type" placeholder="Other commission type">

      <label for="commission-type-tags">Content</label>
      <input id="commission-type-tags" name="q" title="Commission Content"
             type="text" class="input" value="${form.q}">

      <div class="form-2up clear">
        <div class="form-2up-1">
          <label for="commission-min-price">Min. Price</label>
          <input id="commission-min-price" name="min" type="number" step="any" min="0" class="input" value="${form.min}">
        </div>

        <div class="form-2up-2">
          <label for="commission-max-price">Max. Price</label>
          <input id="commission-max-price" name="max" type="number" step="any" min="0" class="input" value="${form.max}">
        </div>
      </div>

      <label for="commish-currency">Display Currency</label>
      <select class="input last-input" name="currency" id="commish-currency">
        $for char, info in currencies.items():
          <option value="${char}" $:{selected(form.currency == char)}>${info.name}</option>
      </select>

      <button class="button">Search</button>
      <p class="color-lighter tags-help"><i><a href="/help/marketplace" target="_blank">Marketplace search help</a></i></p>
    </form>
  </div>

  <div class="sectioned-main sectioned-main-floats content">
    <h3>Artist Results</h3>

    $if results:
      $for artist in results:
        <div class="clear marketplace-result">
          <a href="/~${LOGIN(artist['username'])}" class="avatar">
            $ avatar = artist['user_media']['avatar'][0]
            <img src="${avatar['display_url']}" alt="" />
          </a>
          $# artist's commission info
          <div class="artist-links">
            <a href="/~${LOGIN(artist['username'])}#user-commissions" class="username">${artist['username']}</a>
            <a href="/submissions/${LOGIN(artist['username'])}">[Gallery]</a>
            $if artist['searchquery']:
              <a href="/search?${artist['searchquery']}">[Tagged in Gallery]</a>
          </div>
          $# commission price range
          <div class="artist-prices">
            $if artist['pricemin']:
              $# display low end of price range in artist's currency
              <span>$:{'from ' if artist['pricemax'] else ''}${SYMBOL(artist['pricesettings'])} ${PRICE(artist['pricemin'])}</span>
              $if artist['pricemax'] and artist['pricemax'] != artist['pricemin']:
                $# display high end of price range in artist's currency
                <span>to ${SYMBOL(artist['pricesettings'])} ${PRICE(artist['pricemax'])}</span>
              $if artist['pricesettings'] != form.currency and artist['localmin']:
                $if artist['localmax'] and artist['localmax'] != artist['localmin']:
                  $# display converted prices (range)
                  (<span>Approx. ${SYMBOL(form.currency)} ${PRICE(artist['localmin'])}</span>
                  <span>to ${SYMBOL(form.currency)} ${PRICE(artist['localmax'])}</span>)
                $else:
                  $# display converted price (single)
                  (<span>Approx. ${SYMBOL(form.currency)} ${PRICE(artist['localmin'])}</span>)
            $else:
              Price not declared
          </div>
          $# matching commission classes
          <div class="artist-classes">
            <strong>${"Matched" if form.pc or form.c else "Types Available"}: ${artist['class']}</strong>
          </div>
          $# commission description
          <div class="formatted-content marketplace-desc-preview">
            $if artist.get('description'):
              $:{MARKDOWN(artist['description'])}
            $else:
              No description provided
            <div class="marketplace-desc-fade">
              <button class="link-button">Show More</button>
            </div>
          </div>
        </div>

      <div style="padding-top: 1.4em;" class="pad-left pad-right">
        $if previndex is not None:
          <a class="button" href="/marketplace?${QUERY_STRING(dict(form, o=previndex))}" rel="prev">Back</a>
        $if nextindex is not None:
          <a class="button" style="float:right" href="/marketplace?${QUERY_STRING(dict(form, o=nextindex))}" rel="next">Next</a>
      </div>

    $else:
      <p>No results found! Try searching with broader terms.</p>
  </div>
</div>
