{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% from 'common/macros.jinja2' import SELECTED, AVATAR %}
{% block content %}
{{ stage("Marketplace") }}

<div style="background:#DDD" class="clear">
  <div class="content sectioned-sidebar">
    <h3>Marketplace Search</h3>

    <form id="marketplace-search" method="GET" class="form">
      <label for="commission-class-preset">Type of Commission</label>
      <select class="input last-input" name="pc" id="commission-class-preset">
        <option value="" {{ SELECTED((form.pc == "" and not form.c), True) }}>Any</option>
        {% for group_name, group_options in presets %}
          <optgroup label="{{ group_name }}">
          {% for c in group_options %}
            <option value="{{ c }}" {{ SELECTED(form.pc, c) }}>{{ c }}</option>
          {% endfor %}
          </optgroup>
        {% endfor %}
        <option value="" {{ SELECTED((form.pc == "" and form.c), True) }} data-select-other="">Other</option>
      </select>
      <input name="c" type="text" class="input data-select-other" value="{{ form.c }}" data-select="commission-class-preset" title="Other commission type" placeholder="Other commission type">

      <label for="commission-type-tags">Content</label>
      <input id="commission-type-tags" name="q" title="Commission Content"
             type="text" class="input" value="{{ form.q }}">

      <div class="form-2up clear">
        <div class="form-2up-1">
          <label for="commission-min-price">Min. Price</label>
          <input id="commission-min-price" name="min" type="number" step="any" min="0" class="input" value="{{ form.min }}">
        </div>

        <div class="form-2up-2">
          <label for="commission-max-price">Max. Price</label>
          <input id="commission-max-price" name="max" type="number" step="any" min="0" class="input" value="{{ form.max }}">
        </div>
      </div>

      <label for="commish-currency">Display Currency</label>
      <select class="input last-input" name="currency" id="commish-currency">
       {% for char, info in currencies.items() %}
         <option value="{{ char }}" {{ SELECTED(form.currency, char) }}>{{ info.name }}</option>
       {% endfor %}
      </select>

      <button class="button">Search</button>
      <p class="color-lighter tags-help"><i><a href="/help/marketplace" target="_blank">Marketplace search help</a></i></p>
    </form>
  </div>

  <div class="sectioned-main content">
    <h3>Artist Results</h3>

    {% if results %}
      {% for artist in results %}
        <div class="clear marketplace-result">
          {{ AVATAR(artist) }}
          <div class="artist-links">
            <a href="/~{{ artist['username'] | LOGIN }}#user-commissions" class="username">{{ artist['username'] }}</a>
            <a href="/submissions/{{ artist['username'] | LOGIN }}">[Gallery]</a>
            {% if artist['searchquery'] %}
              <a href="/search?{{ artist['searchquery'] }}">[Tagged in Gallery]</a>
            {% endif %}
          </div>
          <div class="artist-prices">
            {% if artist['pricemin'] %}
              {# display low end of price range in artist's currency #}
              <span>{{ 'from ' if artist['pricemax'] else '' }}{{ SYMBOL(artist['pricesettings']) }} {{ "%.2f"|format(artist['pricemin']/ 100.0) }}</span>
              {% if artist['pricemax'] and artist['pricemax'] != artist['pricemin'] %}
                {# display high end of price range in artist's currency #}
                <span>to {{ SYMBOL(artist['pricesettings']) }} {{ "%.2f"|format(artist['pricemax']/ 100.0) }}</span>
              {% endif %}
              {% if artist['pricesettings'] != form.currency and artist['localmin'] %}
                {% if artist['localmax'] and artist['localmax'] != artist['localmin'] %}
                  {# display converted prices (range) #}
                  (<span>Approx. {{ SYMBOL(form.currency) }} {{ "%.2f"|format(artist['localmin']/ 100.0) }}</span>
                  <span>to {{ SYMBOL(form.currency) }} {{ "%.2f"|format(artist['localmax']/ 100.0) }}</span>)
                {% else %}
                  {# display converted price (single) #}
                  (<span>Approx. {{ SYMBOL(form.currency) }} {{ "%.2f"|format(artist['localmin']/ 100.0) }}</span>)
                {% endif %}
              {% endif %}
            {% else %}
              Price not declared
            {% endif %}
          </div>
          {# matching commission classes #}
          <div class="artist-classes">
            <strong>{{ "Matched" if form.pc or form.c else "Types Available" }}: {{ artist['class'] }}</strong>
          </div>
          {# commission description #}
          <div class="formatted-content marketplace-desc-preview">
            {% if artist.get('description') %}
              {{ artist['description'] | MARKDOWN }}
            {% else %}
              No description provided
            {% endif %}
            <div class="marketplace-desc-fade">
              <button class="link-button">Show More</button>
            </div>
          </div>
        </div>
      {% endfor %}

      <div style="padding-top: 1.4em;" class="pad-left pad-right">
        {% if previndex %}
          <a class="button" href="/marketplace?o={{ previndex }}& {{ form | urlencode }}" rel="prev">Back</a>
        {% endif %}
        {% if nextindex %}
          <a class="button" style="float:right" href="/marketplace?o={{ nextindex }}&{{ form | urlencode }}" rel="next">Next</a>
        {% endif %}
      </div>

    {% else %}
      <p>No results found! Try searching with broader terms.</p>
    {% endif %}
  </div>
</div>
{% endblock %}