$def with (submissions)
$:{TITLE("Recently Popular")}
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
$code:
  def _RATED(x):
    return ' checked' if x in meta['rated'] else ''
  def _WITHIN(x):
    return ' selected' if meta['within'] == x else ''

<div id="search-stage" class="stage clear">
  <ul class="thumbnail-grid">
    $for index, item in enumerate(submissions):
      <!-- score: ${item['score']} -->
      $if index < 10:
        $:{_GRID_ITEM(item, lazy_load=False)}
      $else:
        $:{_GRID_ITEM(item)}
  </ul>
</div>
