$def with (token, reset_target)
$:{RENDER("common/stage_title.html", ["Reset Forgotten Password"])}

<div id="resetpassword-content" class="content">

    <form class="form skinny clear" name="resetpassword" action="/resetpassword" method="post">
      <input type="hidden" name="token" value="${token}" />
      <input type="hidden" name="userid" value="${reset_target.userid}" />

      <p>Resetting password for user <strong><a href="/~${LOGIN(reset_target.username)}">${reset_target.username}</a></strong>.</p>

      <label for="password">New Password</label>
      <input type="password" class="input" id="password" name="password" minlength="10" maxlength="72" required autocomplete="new-password" />
      <p class="color-lighter" style="padding-top: 0.5em;"><i>Passwords must be a minimum of 10 characters.</i></p>

      <div id="password-strength" class="password-strength password-strength-empty" data-password-input="password" data-personal-data="${reset_target.username};${reset_target.email}"></div>

      <script src="${resource_path('js/zxcvbn.js')}" async></script>
      <script src="${resource_path('js/zxcvbn-check.js')}" async></script>

      <button class="button positive" style="float: right;">Continue</button>
      <a href="/" class="button">Return Home</a>

    </form>

</div>
