$def with (token)
$:{RENDER("common/stage_title.html", ["Reset Forgotten Password"])}

<div id="resetpassword-content" class="content">

    <form class="form skinny clear" name="resetpassword" action="/resetpassword" method="post">
      <input type="hidden" name="token" value="${token}" />

      <label for="reset-user">Username</label>
      <input type="text" class="input" id="reset-user" name="username" autofocus="autofocus" required="required" />

      <label for="reset-email">Email Address</label>
      <input type="email" class="input" id="reset-email" name="email" placeholder="john@doe.com" required="required" />

      <div class="form-2up clear">
        <div class="form-2up-1">
          <label for="password">New Password</label>
          <input type="password" class="input" id="password" name="password" maxlength="72" required />
          <p class="color-lighter" style="padding-top: 0.5em;"><i>Passwords must be a minimum of 10 characters.</i></p>
        </div>
        <div class="form-2up-2">
          <label for="passcheck" class="color-lighter">Confirm Password</label>
          <input type="password" class="input last-input" id="passcheck" name="passcheck" maxlength="72" required />
        </div>
      </div>

      <div id="password-strength" class="password-strength password-strength-empty" data-password-input="password" data-personal-inputs="reset-user,reset-email"></div>

      <script src="${CDNIFY('/static/scripts/zxcvbn/zxcvbn.js')}" async></script>
      <script src="${CDNIFY('/static/scripts/zxcvbn/check.js')}" async></script>

      <button class="button positive" style="float: right;">Continue</button>
      <a href="/index" class="button">Return Home</a>

    </form>

</div>
