$def with (method, meta, results, prev_page=None, next_page=None, subcats=None, browse_header=None, is_guest=None, rating_limit=None)
$#:{TITLE("Weasyl Search")}
$code:
  _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
  _TEXT_POST_ITEM = COMPILE("common/text_post_item.html")
  id_fields = {
    'submit': 'submitid',
    'critique': 'submitid',
    'char': 'charid',
    'journal': 'journalid',
    'user': 'userid',
  }
  card_viewer = get_card_viewer()

<div id="search-stage" class="stage clear">

  $if method == "search":
    <h2 class="page-title">Search Weasyl</h2>

    <div id="search-parameters" class="content sectioned-sidebar">
      <form action="/search" class="form">

        <label for="search-q">Search Terms</label>
        <input class="input" type="text" name="q" id="search-q" value="${meta['q']}" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>

        <label for="search-find">Find</label>

        <select class="input" id="search-find" name="find">
          <option value="submit">Submissions</option>
          <option value="char"${' selected' if meta['find'] == 'char' else ''}>Character Profiles</option>
          <option value="journal"${' selected' if meta['find'] == 'journal' else ''}>Journal Entries</option>
          <option value="user"${' selected' if meta['find'] == 'user' else ''}>Users</option>
        </select>

        <fieldset class="search-fieldset" id="search-cat-container">
          <legend><span>Submissions</span></legend>

          <label for="search-cat">Category</label>
          <select class="input" id="search-cat" name="cat">
            <option value="">(all)</option>
            <option value="1000"$:{' selected' if meta['cat'] == 1000 else ''}>Visual Artwork</option>
            <option value="2000"$:{' selected' if meta['cat'] == 2000 else ''}>Literary Artwork</option>
            <option value="3000"$:{' selected' if meta['cat'] == 3000 else ''}>Multimedia Artwork</option>
          </select>

          <label for="search-subcat">Subcategory</label>
          <select class="input" id="search-subcat" name="subcat">
            <option value="">(all)</option>
            $for i in subcats:
              $if i[0] % 1000 != 999:
                <option value="${i[0]}"$:{' selected' if meta['subcat'] == i[0] else ''}>${i[1]}</option>
          </select>

        </fieldset>

        $if not is_guest:
          <fieldset class="search-fieldset" id="search-specs-container">
            <legend><span>Posts</span></legend>

            <label for="search-within">Within</label>
            <select class="input" name="within" id="search-within">
              <option value="all">Everything</option>
              <option value="notify"$:{' selected' if meta['within'] == 'notify' else ''}>Notifications</option>
              <option value="fave"$:{' selected' if meta['within'] == 'fave' else ''}>Favorites</option>
              <option value="friend"$:{' selected' if meta['within'] == 'friend' else ''}>Friends</option>
              <option value="follow"$:{' selected' if meta['within'] == 'follow' else ''}>Following</option>
            </select>

            <fieldset class="input-group">
              <label class="input-checkbox">
                <input type="checkbox" name="rated" value="g"$:{' checked disabled' if rating_limit < R.MATURE.code else ' checked' if 'g' in meta['rated'] else ''} />
                General
              </label>
              $if rating_limit >= R.MATURE.code:
                <label class="input-checkbox">
                  <input type="checkbox" name="rated" value="a"$:{' checked' if 'a' in meta['rated'] else ''} />
                  Mature (18+)
                </label>
              $if rating_limit >= R.EXPLICIT.code:
                <label class="input-checkbox">
                  <input type="checkbox" name="rated" value="p"$:{' checked' if 'p' in meta['rated'] else ''} />
                  Explicit (18+)
                </label>
            </fieldset>
          </fieldset>

        <div class="form-actions">
          <button class="button">Search</button>
        </div>

      </form>
    </div>

    <div class="sectioned-main clear">
      $# SEARCH RESULTS (user performed a search)

      $if results:
        $if meta['find'] == 'user' and len(results) == 100:
          <p style="text-align: center; padding:1.4em 0;">
            Your search terms are too broad. Only the first 100 results will be displayed.
          </p>
        $ cards = card_viewer.get_cards(results)
        $if meta['find'] == 'journal':
          <div class="journals">
            $for journal in cards:
              $:{_TEXT_POST_ITEM(journal)}
          </div>
        $elif meta['find'] == 'user':
          <ul class="avatar-grid">
            $for card in cards:
              <li>
                <a href="${card.href}" title="${card.username.display}">
                  <figure>
                    <img src="${card.avatar.file['display_url']}">
                    <figcaption>
                      <h5 class="username one-line">${card.username.display}</h5>
                    </figcaption>
                  </figure>
                </a>
              </li>
          </ul>
        $else:
          <ul is="thumbnail-grid" class="thumbnail-grid" data-widths="${CARD_WIDTHS(cards)}">
            $for index, card in enumerate(cards):
              $:{_GRID_ITEM(card, lazy_load=index >= 10)}
          </ul>

        $if prev_page is not None or next_page is not None:
          <nav id="search-nav" class="pages-layout-split pages-vpad pad-left pad-right">
            $if prev_page is not None:
              <a id="search-back" class="button" href="/search?${QUERY_STRING(dict(meta, backid=prev_page.backid, nextid=None))}" rel="prev">Back</a>
            $if next_page is not None:
              <a id="search-next" class="button" href="/search?${QUERY_STRING(dict(meta, nextid=next_page.nextid, backid=None))}" rel="next">Next</a>
          </nav>
      $else:
        <p class="pad-left pad-right" style="padding-top: 2em;">There are no search results to display. You may want to <a class="color-a" href="/search">browse for content</a> or edit your search criteria.</p>
    </div>

  $elif method == "browse":
    $# BROWSE RESULTS (user is browsing a specific content type)
    <h2 class="page-title">${browse_header}</h2>

    <div id="browse-search-top" class="content">$# there are multiple instances of search-backup-search in this template!
      <form id="search-backup-search" action="/search" class="form">
        $if meta['find'] not in ('submit', 'critique'):
          <input type="hidden" name="find" value="${meta['find']}">

        <input name="q" placeholder="Search" title="Search Weasyl" type="search" tabindex="2" class="input" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>
      </form>
    </div>

    $if results:
      $ cards = card_viewer.get_cards(results)
      $if meta['find'] == 'journal':
        <div class="journals">
          $for journal in cards:
            $:{_TEXT_POST_ITEM(journal)}
        </div>
      $else:
        <ul is="thumbnail-grid" class="thumbnail-grid" data-widths="${CARD_WIDTHS(cards)}">
          $for index, card in enumerate(cards):
            $:{_GRID_ITEM(card, lazy_load=index >= 10)}
        </ul>

      <nav class="pages-layout-split pages-vpad pad-left pad-right">
        <a class="button" href="/search?${QUERY_STRING(dict(meta, backid=results[0][id_fields[meta['find']]]))}" rel="prev">Back</a>
        <a class="button" href="/search?${QUERY_STRING(dict(meta, nextid=results[-1][id_fields[meta['find']]]))}" rel="next">Next</a>
      </nav>
    $else:
      <p class="pad-left pad-right" style="padding-top: 2em;">There is no more content to display in this category. You may want to <a class="color-a" href="/search">browse all content</a>.</p>

  $else:
    $# BROWSE SUMMARY (user hit the "Browse" tab or didn't specify a content type)
    <h2 class="page-title">Browse Content</h2>

    <div id="browse-search-top" class="content">$# there are multiple instances of search-backup-search in this template!
      <form id="search-backup-search" action="/search" class="form">
        <input name="q" placeholder="Search" title="Search Weasyl" type="search" tabindex="2" class="input" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>
      </form>
    </div>

    $if results['submit']:
      <h3 class="pad-left">Submissions</h3>
      $ cards = card_viewer.get_cards(results['submit'])
      <ul is="thumbnail-grid" class="thumbnail-grid medium-footprint" data-widths="${CARD_WIDTHS(cards)}">
        $for i in cards:
          $:{_GRID_ITEM(i, lazy_load=False)}
        <li class="more"><a class="more" href="/search?find=submit"><i>More</i> <span>Submissions</span></a></li>
      </ul>
    $else:
      There are no submissions to display.

    $if results['char']:
      <h3 class="pad-left">Characters</h3>
      $ cards = card_viewer.get_cards(results['char'])
      <ul is="thumbnail-grid" class="thumbnail-grid medium-footprint" data-widths="${CARD_WIDTHS(cards)}">
        $for i in cards:
          $:{_GRID_ITEM(i)}
        <li class="more"><a class="more" href="/search?find=char"><i>More</i> <span>Characters</span></a></li>
      </ul>
    $else:
      There are no characters to display.

    $if results['journal']:
      <h3 class="pad-left">Journals</h3>
      <div class="journals">
        $for journal in card_viewer.get_cards(results['journal']):
          $:{_TEXT_POST_ITEM(journal)}
      </div>
      <div class="more"><a class="more" href="/search?find=journal"><i>More</i> <span>Journals</span></a></div>
    $else:
      There are no journals to display.


</div>
