$def with (method, meta, results, next_count=0, back_count=0, subcats=None, count_limit=None, browse_header=None)
$#:{TITLE("Weasyl Search")}
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")
$code:
  id_fields = {
    'submit': 'submitid',
    'critique': 'submitid',
    'char': 'charid',
    'journal': 'journalid',
    'user': 'userid',
  }

<div id="search-stage" class="stage clear">

  $if method == "search":
    <h2 class="page-title">Search Weasyl</h2>

    <div id="search-parameters" class="content sectioned-sidebar">
      <form action="/search" class="form">

        <label for="search-q">Search Terms</label>
        <input class="input" type="text" name="q" id="search-q" value="${meta['q']}" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>

        <label for="search_find">Find</label>

        <select class="input${' last-input' if meta['find'] == 'user' else ''}" id="search-find" name="find">
          <option value="submit">Submissions</option>
          <option value="char"${' selected' if meta['find'] == 'char' else ''}>Character Profiles</option>
          <option value="journal"${' selected' if meta['find'] == 'journal' else ''}>Journal Entries</option>
          <option value="user"${' selected' if meta['find'] == 'user' else ''}>Users</option>
        </select>

        <div id="search-cat-container">

          <label for="search_cat">Category</label>
          <select class="input" id="search-cat" name="cat">
            <option value="1000"$:{' selected' if meta['cat'] == 1000 else ''}>Visual Artwork</option>
            <option value="2000"$:{' selected' if meta['cat'] == 2000 else ''}>Literary Artwork</option>
            <option value="3000"$:{' selected' if meta['cat'] == 3000 else ''}>Multimedia Artwork</option>
          </select>

          <label for="search_subcat">Subcategory</label>
          <select class="input" id="search-subcat" name="subcat">
            <option></option>
            $for i in subcats:
              $if i[0] % 1000 != 999:
                <option value="${i[0]}"$:{' selected' if meta['subcat'] == i[0] else ''}>${i[1]}</option>
          </select>

        </div>

        <div id="search-specs-container" style="display:${'block' if meta['find'] != 'user' else 'none'};">

          <label for="search-within">Within</label>
          <select class="input last-input" name="within" id="search-within">
            <option value="all">Everything</option>
            <option value="notify"$:{' selected' if meta['within'] == 'notify' else ''}>Notifications</option>
            <option value="fave"$:{' selected' if meta['within'] == 'fave' else ''}>Favorites</option>
            <option value="friend"$:{' selected' if meta['within'] == 'friend' else ''}>Friends</option>
            <option value="follow"$:{' selected' if meta['within'] == 'follow' else ''}>Following</option>
          </select>

          <label class="input-checkbox">
            <input type="checkbox" name="rated" value="g"$:{' checked' if 'g' in meta['rated'] else ''} />
            General
          </label>
          <label class="input-checkbox">
            <input type="checkbox" name="rated" value="a"$:{' checked' if 'a' in meta['rated'] else ''} />
            Mature (18+)
          </label>
          <label class="input-checkbox last-input">
            <input type="checkbox" name="rated" value="p"$:{' checked' if 'p' in meta['rated'] else ''} />
            Explicit (18+)
          </label>

        </div>

        <button class="button">Search</button>

      </form>
    </div>

    <div class="sectioned-main clear">
      $# SEARCH RESULTS (user performed a search)

      $if results:
        $if meta['find'] == 'user' and len(results) == 100:
          <p style="text-align: center; padding:1.4em 0;">
            Your search terms are too broad. Only the first 100 results will be displayed.
          </p>
        <ul class="thumbnail-grid">
          $for index, result in enumerate(results):
            $:{_GRID_ITEM(result, lazy_load=index >= 10)}
        </ul>

        <div style="padding-top: 1.4em;" class="pad-left pad-right">
          $if back_count:
            <a class="button" href="/search?${QUERY_STRING(dict(meta, backid=results[0][id_fields[meta['find']]], nextid=None))}" rel="prev">Back (${back_count}$:{'+' if back_count == count_limit else ''} more)</a>
          $if next_count:
            <a class="button" style="float:right;" href="/search?${QUERY_STRING(dict(meta, nextid=results[-1][id_fields[meta['find']]], backid=None))}" rel="next">Next (${next_count}$:{'+' if next_count == count_limit else ''} more)</a>
        </div>
      $else:
        <p class="pad-left pad-right" style="padding-top: 2em;">There are no search results to display. You may want to <a class="color-a" href="/search">browse for content</a> or edit your search criteria.</p>
    </div>

  $elif method == "browse":
    $# BROWSE RESULTS (user is browsing a specific content type)
    <h2 class="page-title">${browse_header}</h2>

    <div id="browse-search-top" class="content">$# there are multiple instances of search-backup-search in this template!
      <form id="search-backup-search" action="/search" method="GET" class="form">
        $if meta['find'] not in ('submit', 'critique'):
          <input type="hidden" name="find" value="${meta['find']}">

        <input name="q" placeholder="Search" title="Search Weasyl" type="search" tabindex="2" class="input" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>
      </form>
    </div>

    $if results:
      <ul class="thumbnail-grid">
        $for index, result in enumerate(results):
          $:{_GRID_ITEM(result, lazy_load=index >= 10)}
      </ul>

      <div style="padding-top: 1.4em;" class="pad-left pad-right">
        <a class="button" href="/search?${QUERY_STRING(dict(meta, backid=results[0][id_fields[meta['find']]]))}" rel="prev">Back</a>
        <a class="button" style="float:right;" href="/search?${QUERY_STRING(dict(meta, nextid=results[-1][id_fields[meta['find']]]))}" rel="next">Next</a>
      </div>
    $else:
      <p class="pad-left pad-right" style="padding-top: 2em;">There is no more content to display in this category. You may want to <a class="color-a" href="/search">browse all content</a>.</p>

  $else:
    $# BROWSE SUMMARY (user hit the "Browse" tab or didn't specify a content type)
    <h2 class="page-title">Browse Content</h2>

    <div id="browse-search-top" class="content">$# there are multiple instances of search-backup-search in this template!
      <form id="search-backup-search" action="/search" method="GET" class="form">
        <input name="q" placeholder="Search" title="Search Weasyl" type="search" tabindex="2" class="input" />
        <p class="color-lighter tags-help"><i><a href="/help/searching" target="_blank">Search terms help</a></i></p>
      </form>
    </div>

    $if results['submit']:
      <h3 class="pad-left">Submissions</h3>
      <ul class="thumbnail-grid medium-footprint">
        $for i in results['submit']:
          $:{_GRID_ITEM(i, lazy_load=False)}
        <li class="more"><a class="more" href="/search?find=submit"><i>More</i> <span>Submissions</span></a></li>
      </ul>
    $else:
      There are no submissions to display.

    $if results['char']:
      <h3 class="pad-left">Characters</h3>
      <ul class="grid avatar-grid">
        $for i in results['char']:
          $:{_GRID_ITEM(i)}
        <li class="clear more"><a class="more" href="/search?find=char"><i>More</i> <span>Characters</span></a></li>
      </ul>
    $else:
      There are no characters to display.

    $if results['journal']:
      <h3 class="pad-left">Journals</h3>
      <ul class="grid avatar-grid">
        $for i in results['journal']:
          $:{_GRID_ITEM(i)}
        <li class="clear more"><a class="more" href="/search?find=journal"><i>More</i> <span>Journals</span></a></li>
      </ul>
    $else:
      There are no journals to display.


</div>
