$def with (username, referer, remaining_recovery_codes, error)
$:{RENDER("common/stage_title.html", ["Two-Factor Authentication", "Sign In"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/signin/2fa-auth">
    $if error == "2fa":
      <div id="signin_error"><strong>Whoops!</strong> The 2FA response token or recovery code you provided did not validate.</div>
    <h3>Two-Factor Authentication</h3>
    <p><strong>Username: ${username}</strong></p>
    <p>
      The Weasyl account identified above has two-factor authentication enabled.
      Enter the current time-based token for this user below. Or, if you no longer
      have access to the authenticator for this account, enter one of your unused
      twenty-character recovery codes. <strong>You have ${remaining_recovery_codes}
      recovery code${'s' if remaining_recovery_codes > 1 else ''} remaining.</strong>
    </p>
    $if remaining_recovery_codes == 1:
      <p>
        <strong>Note:</strong> 2FA will be disabled upon using your last recovery
        code. You may re-enable 2FA immediately afterwards, if you desire.
      </p>
    <label for="tfa-response">Time-based Token or Recovery Code</label>
    <input type="text" id="tfa-response" maxlength="24" class="input" name="tfaresponse" placeholder="012345" autofocus="autofocus" autocomplete="one-time-code" required />

    <div style="padding-top: 1em;">
      <button class="button positive">Sign In</button>
    </div>
    <input type="hidden" name="referer" value="${referer}" />
  </form>
</div>
