$def with (query)
$:{RENDER("common/stage_title.html", ["Create a Weasyl Account"])}

<div id="signup-content" class="content">

  <form name="signup" action="/signup" method="post" class="form skinny clear">
    $:{CSRF()}

    <label for="signup-username">Username</label>
    <input type="text" id="signup-username" class="input" name="username" autofocus required maxlength="25" />

    $ captcha_public_key = CAPTCHA()

    $if captcha_public_key:
      <label for="g-recaptcha-response">Captcha</label>
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
      <div class="g-recaptcha" data-sitekey="${captcha_public_key}" data-theme="light"></div>
      <noscript>
        <div>
          <div style="width: 302px; height: 422px; position: relative;">
            <div style="width: 302px; height: 422px; position: absolute;">
              <iframe src="https://www.google.com/recaptcha/api/fallback?k=${captcha_public_key}"
                      frameborder="0" scrolling="no"
                      style="width: 302px; height:422px; border-style: none;">
              </iframe>
            </div>
          </div>
          <div style="width: 300px; height: 60px; border-style: none;
                       bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
                       background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
            <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                      class="g-recaptcha-response"
                      style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
                              margin: 10px 25px; padding: 0px; resize: none;" >
            </textarea>
          </div>
        </div>
      </noscript>

    <div class="form-2up clear">
      <div class="form-2up-1">
        <label for="signup-password">Password</label>
        <input type="password" id="signup-password" class="input" name="password" maxlength="72" required />
      </div>
      <div class="form-2up-2">
        <label for="signup-passcheck" class="color-lighter">Confirm</label>
        <input type="password" id="signup-passcheck" class="input" name="passcheck" maxlength="72" required />
      </div>
    </div>
    <p class="color-lighter" style="padding-top: 0.5em;"><i>Passwords must be a minimum of 10 characters.</i></p>

    <div id="password-strength" class="password-strength password-strength-empty" data-password-input="signup-password" data-personal-inputs="signup-username,signup-email,year"></div>

    <div class="form-2up clear">
      <div class="form-2up-1">
        <label for="signup-email">Email Address</label>
        <input type="email" id="signup-email" class="input" name="email" placeholder="john@doe.com" required="required" />
      </div>
      <div class="form-2up-2">
        <label for="signup-emailcheck" class="color-lighter">Confirm</label>
        <input type="email" id="signup-emailcheck" class="input" name="emailcheck" placeholder="john@doe.com" required="required" />
      </div>
    </div>

    <label for="signup-birthday">Date of Birth</label>
    <div class="form-date clear">
      <div class="form-date-day">
        <label for="day" class="color-lighter">Day</label>
        <select class="input" name="day" id="day">
          <option value=""></option>
          $for i in xrange(1, 32):
            <option value="$i">$i</option>
        </select>
      </div>
      <div class="form-date-month">
        <label for="month" class="color-lighter">Month</label>
        <select class="input" name="month" id="month">
          <option value=""></option>
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
      <div class="form-date-year">
        <label for="year" class="color-lighter">Year</label>
        <select class="input last-input" name="year" id="year">
          <option value=""></option>
          $ current_year = arrow.now().year
          $for i in xrange(current_year, current_year - 101, -1):
            <option value="$i">$i</option>
        </select>
      </div>
    </div>

    <script src="${resource_path('js/zxcvbn.js')}" async></script>
    <script src="${resource_path('js/zxcvbn-check.js')}" async></script>

    <button type="submit" class="button positive" style="float: right;">Join Weasyl</button>
    <a class="button" href="/">Cancel</a>

    <div id="signup-terms">
      By registering an account on Weasyl, you agree that you have fully read and will abide by both the
      <a href="/policy/tos">Terms of Service</a> and the <a href="/policy/community">Community Guidelines</a>,
      and that you agree to the terms outlined in the <a href="/policy/privacy">Privacy Policy</a>.
      If you accept these policies and conditions, click the <strong>Create Account</strong> button to register;
      otherwise, click <strong>Cancel</strong> to continue browsing as a guest.
    </div>

  </form>


</div>
