$def with (myself, update, comments)
$ owner = update.get_display_owner()
<div id="home-content" class="content">
  <div class="constrained">
    <h3>${update.title}</h3>

    <figure class="thumbnail thumbnail-left clear">
      <a class="avatar" href="/~${owner.login_name}" title="${owner.profile.username}">
        <img src="${owner.avatar_display_url or resource_path('img/default-avatar.jpg')}" alt="avatar of ${owner.profile.username}" />
      </a>
      <figcaption class="caption">
        <h4 class="title"><i>Posted by</i> <a class="username" href="/~${owner.login_name}">${owner.profile.username}</a></h4>
        <h5 class="date">${DATE(update.timestamp)} <i>at</i> ${TIME(update.timestamp)}</h5>
      </figcaption>
    </figure>

    <div class="formatted-content" style="margin-top: 1em">
      $:{MARKDOWN(update.content)}
    </div>
  </div>

  <div id="site-update-comments">
    $if comments:
      <div class="constrained"><h3>Comments</h3></div>
      $:{RENDER("common/comment_thread.html", ["detail_comments", comments, "siteupdate", myself, update.updateid, update.userid])}
    $if myself:
      <div class="constrained"><h3>Leave a Comment</h3></div>
      $:{RENDER("common/comment_form.html", [myself, update.updateid, "siteupdate"])}
  </div>
</div>
