{% extends 'common/base.jinja2' %}
{% from 'common/macros.jinja2' import AVATAR %}
{% block content %}
<div class="content">
    <div class="constrained text-post-list">
        {% for update in updates %}
            {% set created = LOCAL_ARROW(update.unixtime) %}
            {% set date = created.date() %}
            {% if loop.index0 > 0 %}
              {% if LOCAL_ARROW(loop.previtem.unixtime).date() != date %}
                <div class="text-post-group-header">
                    <time datetime="{{ date.isoformat() }}" title="{{ created.format() }}">{{ created.format("MMMM Do, YYYY") }}</time>
                </div>
              {% endif %}
            {% else %}
                <div class="text-post-group-header">
                    <time datetime="{{ date.isoformat() }}" title="{{ created.format() }}">{{ created.format("MMMM Do, YYYY") }}</time>
                </div>
            {% endif %}
            <article class="text-post-item">
                {{ AVATAR(update.get_display_owner()) }}

                <div class="text-post-text">
                    <h4 class="text-post-title">
                        <a href="{{ 'site_update' | route_path(update_id=update.updateid) }}">{{ update.title }}</a>
                        {% if req.userid in staff.ADMINS %}
                            <span class="text-post-actions">
                                <a href="{{ 'site_update_edit' | route_path(update_id=update.updateid) }}">Edit</a>
                            </span>
                        {% endif %}
                    </h4>

                    <p class="text-post-excerpt">{{ update.content | MARKDOWN_EXCERPT }}</p>
                </div>
            </article>
        {% endfor %}
        {% if not updates %}
            <p>No site updates to show.</p>
        {% endif %}
    </div>
</div>
{% endblock %}