$def with (request, updates, can_edit)
$:{TITLE("Site Updates")}

<div class="content">
    <div class="constrained text-post-list">
        $ last_date = None
        $for update in updates:
            $ created = LOCAL_ARROW(update.unixtime)
            $ date = created.date()
            $ owner = update.get_display_owner()
            $if date != last_date:
                $ last_date = date
                <div class="text-post-group-header">
                    <time datetime="${date.isoformat()}" title="${created.format()}">${created.format(u"MMMM Do, YYYY")}</time>
                </div>

            <article class="text-post-item">
                <img class="text-post-image text-post-image-small" src="${owner.avatar_display_url or resource_path('img/default-avatar.jpg')}" title="${owner.profile.username}" alt="${owner.profile.username}’s avatar" />

                <div class="text-post-text">
                    <h4 class="text-post-title">
                        <a href="${request.route_path('site_update', update_id=update.updateid)}">${update.title}</a>
                        $if can_edit:
                            <span class="text-post-actions">
                                <a href="${request.route_path('site_update_edit', update_id=update.updateid)}">Edit</a>
                            </span>
                    </h4>

                    <p class="text-post-excerpt">${MARKDOWN_EXCERPT(update.content)}</p>
                </div>
            </article>

        $if not updates:
            <p>No site updates to show.</p>
    </div>
</div>
