{% extends 'common/base.jinja2' %}
{% import 'common/comments.jinja2' as comment_macros %}
{% from 'common/macros.jinja2' import AVATAR %}
{% block content %}
<div id="home-content" class="content">
  <div class="constrained">
    <h3>{{ update.title}}</h3>

    {% set owner = update.get_display_owner() %}
    <figure class="thumbnail thumbnail-left clear">
        {{ AVATAR(owner) }}
      <figcaption class="caption">
        <h4 class="title"><i>Posted by</i> <a class="username" href="/~{{ owner.login_name }}">{{owner.profile.username}}</a></h4>
        <h5 class="date">{{ update.unixtime|DATE }} <i>at</i> {{ update.unixtime|TIME }}</h5>
      </figcaption>
    </figure>

    <div class="formatted-content" style="margin-top: 1em">
      {{update.content|MARKDOWN}}
    </div>
  </div>

  <div id="site-update-comments">
   {% if comments %}
      <div class="constrained"><h3>Comments</h3></div>
      {{ comment_macros.comment_thread(req.userid, "detail_comments", comments, "siteupdate", update.updateid, update.userid)}}
   {% endif %}
    {% if myself %}
      <div class="constrained"><h3>Leave a Comment</h3></div>
      {{ comment_macros.comment_form(req.userid, update.updateid, "siteupdate")  }}
  {% endif %}
  </div>
</div>
{% endblock %}