{% macro streams_block(streams) -%}
    {% if streams %}
        <ul>
            {% for i in streams %}
                <li class="clear">
                    <figure class="thumbnail thumbnail-left">
                        <a class="avatar" href="{{ i['stream_url'] }}" title="{{ i['username'] }}">
                            <img src="{{ i['user_media']['avatar'][0]['display_url'] }}"
                                 alt="avatar of {{ i['username'] }}"/>
                        </a>
                        <figcaption class="caption">
                            <h4 class="title">
                                <a class="username" href="/~{{ i['username']|LOGIN }}">{{ i['username'] }}</a>
                                <i>since</i> {{ i['stream_time']|TIME }}
                            </h4>
                            <p>{{ i['stream_text'] }}</p>
                            <p>
                                <a href="{{ i['stream_url'] }}">{{ i['stream_url'] }}</a>
                            </p>
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="color-lighter">There are no streams to display.</div>
    {% endif %}
{%- endmacro %}