{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
{{ stage("Fix Your Password") }}

<div class="content">

  <div class="clear content" style="width: 20em; margin: 0 auto;">
    <h3>Fix Your Password</h3>
    <form class="form" action="" method="post">
      <input type="hidden" name="token" value="{{ TOKEN() }}"/>

      <p>
        As a part of improvements to Weasyl's password storage, your
        <em>current</em> password needs to be confirmed. Please enter
        your <em>current</em> password twice, and your password will
        be fixed in our system. You will only have to do this once. We
        apologize for the inconvenience!
      </p>

      <label for="login-pass">Password</label>
      <input type="password" class="input" name="password" placeholder="Password" autofocus />

      <label for="login-pass">Confirm password</label>
      <input type="password" class="input last-input" name="password_confirm" placeholder="Confirm password" />

      <button type="submit" class="button">Fix it!</button>
    </form>
  </div>

</div>
{% endblock %}