.pdf-page {
	position: relative;
}

.pdf-text-layer {
	left: 0;
	position: absolute;
	right: 0;
	white-space: pre;
}

.pdf-text-layer ::-moz-selection { background-color: rgba(0, 0, 255, 0.3); }
.pdf-text-layer ::selection { background-color: rgba(0, 0, 255, 0.3); }

#detail-stage {
	overflow: visible;
}

#detail-art-text.pdf {
	display: inline-block;
	max-width: none;
}
