$def with (error, links, request_id)
$:{RENDER("common/stage_title.html", ["System Message"])}

<div id="error_content" class="content">
  $:{error}

  $if request_id is not None:
    <p>
      If you wish to contact support
      <a href="mailto:${M.MACRO_SUPPORT_ADDRESS}">by e-mail</a>
      about this error, please include the following information: <br>
      <tt>request-id: ${request_id}</tt>
    </p>

  $if links:
    <div id="error_buttons">
      $for i in links:
        <a href="${i[1]}" class="button">${i[0]}</a>
    </div>
</div>
