$def with (request, targetid, target_username, can_vouch)
$:{RENDER("common/stage_title.html", ["Unverified Account"])}

<div id="error_content" class="content">
  <p>
    This account hasn’t been <a href="/help/verification">verified</a> yet, so it’s hidden to reduce spam.

    $if can_vouch:
      If you know its owner, please vouch for their non-spamminess!
  </p>

  $if can_vouch:
    <form id="error_buttons" method="post" action="${request.route_path('vouch')}">
      <input type="hidden" name="targetid" value="${targetid}">
      <button class="button positive">Vouch for ${target_username}</button>
    </form>
</div>
