$:{TITLE("Administrator Control Panel")}

<div class="content" style="padding-top:2em;">
  <div class="form skinny">
    <div style="font-size:1.3em;">
      <p><a href="/admincontrol/finduser">Search Users</a></p><br />
    </div>

    <div style="font-size:1.3em;">
      <p><a href="/admincontrol/pending_accounts">View Accounts Pending Creation</a></p><br />
    </div>

    <label>Manage User Account</label>
    <p>Username</p>
    <form action="/admincontrol/manageuser">
      <input type="text" name="name" class="input last-input" /><br />
      <button class="button" style="float:right;">Submit</button>
    </form>
    <br />
  </div>
</div>
