$def with (profile)
$:{TITLE("User Management", "Administrator Control Panel", "/admincontrol")}

<div class="content">

  <form name="admincontrolmanageuser" class="form constrained clear" action="/admincontrol/manageuser" method="post">
    <input type="hidden" name="userid" value="${profile['userid']}" />

    <span class="label">UserID</span>
    <p>${profile['userid']}</p>
    <span class="label">Email</span>
    <p>${profile['email']}</p>
    <span class="label">Registration Date</span>
    <p>$:{LOCAL_TIME(profile['unixtime'], '{date} {time}')}</p>
    <span class="label">IP Address at Registration</span>
    $if profile['ip_address_at_signup']:
      <p>${profile['ip_address_at_signup']}</p>
    $else:
      <p>Address was not recorded.</p>
    <span class="label">Staff Notes</span>
    <p><a href="/staffnotes/${LOGIN(profile['username'])}">${profile['staff_notes']} of ’em</a></p>

    <span class="label">Recent Login Sessions (<a href="#permissions">skip to Permissions</a>)</span>
    $if profile['user_sessions']:
      <table>
        <tr>
          <td style="font-weight:700;">Time Created</td>
          <td style="font-weight:700;">Via Address</td>
          <td style="font-weight:700;">User Agent</td>
        </tr>
        $for sess in profile['user_sessions']:
          <tr>
            <td>${arrow.get(sess.created_at).format('YYYY-MM-DD HH:mm:ss')} (PDT)</td>
            $if sess.ip_address:
              <td>${sess.ip_address}</td>
            $else:
              <td>No IP address recorded for this login session.</td>
            $if sess.user_agent:
              <td>${sess.user_agent}</td>
            $else:
              <td>No user agent recorded for this login session.</td>
          </tr>
      </table>
    $else:
      <p>No active login sessions for this user.</p>

    <fieldset id="permissions">
        <legend class="label">Permissions</legend>

        <label class="input-checkbox option-with-label">
            <input type="checkbox" name="permission-tag"$:{' checked' if profile['can_suggest_tags'] else ''} /><span class="option-label">
                Community tagging
                <div class="option-label-description">Allow this user to add tags to others’ submissions.</div>
            </span>
        </label>
    </fieldset>

    <span class="label">Username</span>
    <p><input type="checkbox" name="ch_username" />Update value</p>
    <input type="text" class="input" name="username" value="${profile['username']}" />

    <span class="label">Full Name</span>
    <p><input type="checkbox" name="ch_full_name" />Update value</p>
    <input type="text" class="input" name="full_name" value="${profile['full_name']}" />

    <span class="label">Catchphrase</span>
    <p><input type="checkbox" name="ch_catchphrase" />Update value</p>
    <input type="text" class="input" name="catchphrase" value="${profile['catchphrase']}" />

    <span class="label">Date of Birth</span>
    <p><input type="checkbox" name="ch_birthday" />Update value</p>
    <input type="date" class="input" name="birthday" value="${'' if profile['birthday'] is None else profile['birthday'].isoformat()}" />

    <span class="label">Gender</span>
    <p><input type="checkbox" name="ch_gender" />Update value</p>
    <input type="text" class="input" name="gender" value="${profile['gender']}" />

    <span class="label">Location</span>
    <p><input type="checkbox" name="ch_country" />Update value</p>
    <input type="text" class="input last-input" name="country" value="${profile['country']}" />

    $if profile['sorted_user_links']:
      <h3>Social links</h3>
      $for site, values in profile['sorted_user_links']:
        $for value in values:
          <span class="label">${site} (${value})</span>
          <p><input type="checkbox" name="remove_social" value="${site}">Remove</p>

    <button class="button highlighted" style="float: right;">Save Changes</button>
    <a class="button" href="/~${LOGIN(profile['username'])}">Profile</a>
  </form>
</div>
