$def with (query)
$:{RENDER("common/stage_title.html", ["Accounts Pending Creation", "Administrator Control Panel", "/admincontrol"])}

<div class="content">
  $if query:
    <div>
      <h3>Accounts Pending Creation</h3>
      <form action="/admincontrol/pending_accounts" method="post">
        <table>
          <tr>
            <td width="10%" style="font-weight:700;">Purge?</td>
            <td style="font-weight:700;">User Name</td>
            <td style="font-weight:700;">E-mail Address</td>
            <td style="font-weight:700;">Creation Date</td>
          </tr>

          $for i in query:
            <tr>
              <td style="padding-bottom:1em;"><button class="button negative" name="logincreatetoken" value="${i.token}">Purge</button></td>
              <td style="padding-bottom:1em;">${i.username}</td>
              $if i.invalid:
                $if i.invalid_email_addr:
                  <td style="padding-bottom:1em;"><em>Invalid <code>logincreate</code> record -- Email in use:</em> ${i.invalid_email_addr}</td>
                $else:
                  <td style="padding-bottom:1em;"><em>Invalid <code>logincreate</code> record -- Email in use, but not recorded</em></td>
              $else:
                <td style="padding-bottom:1em;">${i.email}</td>
              <td style="padding-bottom:1em;">$:{LOCAL_TIME(i.created_at, '{date}')}</td>
            </tr>
        </table>
      </form>
    </div>
  $else:
    <div>
      <h3>Accounts Pending Creation</h3>
      There are no pending accounts to display.
    </div>
</div>
