$def with (result)
$# paginated navigation buttons using a PaginatedResult
<div>
  $if result.has_counts:
    $if result.back_count:
      <a class="button" href="${result.back_url}">Back (${result.back_count} more)</a>
    $if result.next_count:
      <a class="button" style="float:right;" href="${result.next_url}">Next (${result.next_count} more)</a>
  $else:
    <a class="button" href="${result.back_url}">Back</a>
    <a class="button" style="float:right;" href="${result.next_url}">Next</a>
</div>