$def with (query, caption=None)

<div class="thumbnail_list_item">
  $if query['contype'] == 10:
    <div class="item">
      <label class="input-checkbox">
        <input type="checkbox" name="submissions" value="${query['submitid']};${query['collectorid']}" />

        <!-- thumbnail -->
        <a href="/submission/${query['submitid']}/${SLUG(query['title'])}">
          $ thumb = THUMB(query)
          <img class="thumbnail_list_thumbnail" src="${thumb['display_url']}" alt="" />
        </a>

        <!-- caption -->
        <a href="/submission/${query['submitid']}/${SLUG(query['title'])}">${query['title']}</a>
        $if caption == "collection_requested":
          requested by <a class="username" href="/~${LOGIN(query['username'])}">${query['collector']}</a>
        $else:
          submitted by <a class="username" href="/~${LOGIN(query['username'])}">${query['username']}</a>

        $if caption == "collection_pending":
          and offered on ${DATE(query['unixtime'])}
        $elif caption == "collection_requested":
          on ${DATE(query['unixtime'])}
        $elif caption == "collection_accepted":
          and collected on ${DATE(query['unixtime'])}
        $else:
          on ${DATE(query['unixtime'])} at ${TIME(query['unixtime'])}
      </label>
    </div>
</div>
