$def with (username, error)
$:{RENDER("common/stage_title.html", ["Disable 2FA", "Two-Factor Authentication", "/control/2fa/status"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/control/2fa/disable">
    $if error == "2fa":
      <div id="signin_error"><strong>Whoops!</strong> The 2FA response token or recovery code you provided did not validate.</div>
    $elif error == "verify":
      <div id="signin_error"><strong>Hey!</strong> Did you want to disable 2FA? You didn't check the verification checkbox!</div>
    <h3>Disable Two-Factor Authentication (2FA)</h3>
    <p><strong>Username: ${username.display}</strong></p>
    <p>
      You are about to disable 2FA for the above account, and remove the
      security which it provides. If you wish to re-enable 2FA, you will
      need to go through through the enabling process once again.
    </p>

    <label for="disable-tfa">2FA token or Recovery Code</label>
    <input type="text" class="input" maxlength="24" id="disable-tfa" name="tfaresponse" autocomplete="one-time-code" required />
    <div style="padding-top: 1em;">
      <label><input class="checkbox" type="checkbox" name="verify" required /> I confirm that I want to disable 2FA</label>
    </div>

    <div style="padding-top: 1em;">
      <button class="button positive">Disable 2FA</button>
    </div>
  </form>
</div>
