$def with (error)
$:{RENDER("common/stage_title.html", ["Generate Recovery Codes: Verify Password", "Two-Factor Authentication", "/control/2fa/status"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/control/2fa/generate_recovery_codes_verify_password">
    $if error == "password":
      <div id="signin_error"><strong>Whoops!</strong> You entered an incorrect password.</div>

    <h3>Verify your password</h3>
    <p>
      Before generating new recovery codes, we need to verify your current Weasyl password.
    </p>
    <br />
    <p>
      <strong>Note</strong>: For the security of your account, entering your password
      will clear all other active login sessions for your account.
    </p>

    <label for="login-pass">Confirm your Password</label>
    <input type="password" id="login-pass" class="input" name="password" placeholder="Password" required />

    <div style="padding-top: 1em;">
      <button class="button positive">Continue</button>
    </div>
  </form>
</div>
