$def with (username, tfa_secret, qrcode, error)
$:{RENDER("common/stage_title.html", ["Enable 2FA: Step 2", "Two-Factor Authentication", "/control/2fa/status"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/control/2fa/init_qrcode">
    $if error == "2fa":
      <div id="signin_error"><strong>Whoops!</strong> The 2FA response token you provided did not validate.</div>

    <h3>Two-Factor Authentication</h3>
    <p><strong>Username: ${username.display}</strong></p>
    <p>
      In order to proceed from this point onwards, you will need a compatible app such as
      <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a> for Android and iOS devices,
      or <a href="http://www.nongnu.org/oath-toolkit/">OATH Toolkit</a> for Linux,
      to generate time-based tokens each time you log into your Weasyl account.
    </p>

    <h3>Scan with your authenticator</h3>
    <div>
      <img src="data:image/svg+xml;utf8,${qrcode}">
    </div>
    <h3>Or manually enter your key</h3>
    <p>
      Your TOTP secret key is: ${tfa_secret[0:4] + ' ' + tfa_secret[4:8] + ' ' + tfa_secret[8:12] + ' ' + tfa_secret[12:16]}
    </p>

    <label for="tfa-init-verify">Enter 2FA token</label>
    <input type="text" id="tfa-init-verify" maxlength="7" name="tfaresponse" placeholder="012345" autocomplete="one-time-code" required inputmode="numeric" />

    <div style="padding-top: 1em;">
      <button class="button positive">Continue</button>
    </div>
  </form>
</div>
