{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% block content %}
{{ stage(title, "Two-Factor Authentication", "/control/2fa/status") }}
<div class="content form clear">
  <div class="constrained">
   {% if error == "password" %}
      <div id="signin_error"><strong>Whoops!</strong> You entered an incorrect password.</div>
   {% elif error == "2fa" %}
      <div id="signin_error"><strong>Whoops!</strong> The 2FA response token you provided did not validate.</div>
   {% elif error == "verify" %}
      <div id="signin_error"><strong>Hey!</strong> Did you want to enable 2FA? You didn't check the verification checkbox!</div>
   {% endif %}
   {% if step == 1 %}
    <h3>Two-Factor Authentication</h3>
    <p>
      This process will guide you through enabling Two-Factor Authentication (2FA), a method of enhancing the security of
      your Weasyl account. For more information about 2FA, please visit the <a href="/help/two_factor_authentication">2FA help page</a>. As part of this
      process, you will:
      <ol>
        <li>Confirm that you have access to this account;</li>
        <li>Set-up your authenticator application; and finally</li>
        <li>Be presented a set of recovery codes used to regain access if you lose your authenticator.</li>
      </ol>
    </p>

    <hr />

    <a href="#begin-setup" class="faq-permalink">Link</a>
    <h3 id="begin-setup">Begin setting up 2FA</h3>

    <p><strong>Username: {{ username }}</strong></p>
    <p>
      You are about to enable 2FA for the Weasyl account identified above.
      In order to proceed through this process, you will need a compatible app such as
      <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a> for Android and iOS devices,
      or <a href="http://www.nongnu.org/oath-toolkit/">OATH Toolkit</a> for Linux,
      to generate time-based tokens each time you log into your Weasyl account.
    </p>
    <p>
      To begin, we need to confirm that you have control over this account. Please enter your password to continue.
    </p>

    <form method="POST" class="form skinny clear" action="/control/2fa/init">
      <input type="hidden" name="token" value="{{ TOKEN() }}"/>

      <label for="login-pass">Confirm your Password</label>
      <input type="password" id="login-pass" class="input" name="password" placeholder="Password" required />

      <div style="padding-top: 1em;">
        <a class="button negative" href="/control/2fa/status">Cancel</a>
        <button class="button positive">Continue</button>
      </div>
    </form>
   {% elif step == 2 %}
     <form method="POST" class="form skinny clear" action="/control/2fa/init_qrcode">
       <h3>Two-Factor Authentication</h3>
       <p><strong>Username: {{ username }}</strong></p>
       <p>
         In order to proceed from this point onwards, you will need a compatible app such as
         <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a> for Android and iOS devices,
         or <a href="http://www.nongnu.org/oath-toolkit/">OATH Toolkit</a> for Linux,
         to generate time-based tokens each time you log into your Weasyl account.
       </p>

       <h3>Scan with your authenticator</h3>
       <div>
         <img src="data:image/svg+xml;utf8,{{ qrcode|safe }}">
       </div>
       <h3>Or manually enter your key</h3>
       <p>
         Your TOTP secret key is: {{ tfa_secret[0:4] + ' ' + tfa_secret[4:8] + ' ' + tfa_secret[8:12] + ' ' + tfa_secret[12:16] }}
       </p>

       <label for="tfa-init-verify">Enter 2FA token</label>
       <input type="text" id="tfa-init-verify" maxlength="7" name="tfaresponse" placeholder="012345" autocomplete="off" required/>

       <input type="hidden" name="token" value="{{ TOKEN() }}"/>

       <div style="padding-top: 1em;">
         <a class="button negative" href="/control/2fa/status">Cancel</a>
         <button class="button positive">Continue</button>
       </div>
     </form>
   {% elif step == 3 %}
     <h3>Final Step: Verify Receipt of Two-Factor Authentication (2FA) Recovery Codes</h3>
      <h4>You've almost enabled 2FA for your account. One final step remains!</h4>

      <br/>

      <p>
        <strong>Print these codes, and secure them as you would your password.</strong>
        In the event you lose access to your authenticator app, you will need these
        codes to regain access to your Weasyl account. Recovery codes can be
        refreshed at any time from your settings page.
      </p>
      <p>
        <strong>Warning:</strong> For security reasons, Weasyl staff will be unable to assist you if
        you lose access to your recovery codes.
        <br/>
        As a precaution against being locked out your account if all recovery codes are used, 2FA will
        automatically be disabled if--and only if--all recovery codes are consumed during the login process.
        Generating a new set of codes will prevent this from occurring. If this occurs, you will need
        to set-up 2FA again.
      </p>
    </div>

   <form method="POST" class="form skinny clear" action="/control/2fa/init_verify">
     <h3>Your recovery codes are:</h3>
     <ol>
       {% for code in tfa_recovery_codes %}
         <li>{{ code[0:4] + ' ' + code[4:8] + ' ' + code[8:12] + ' ' + code[12:16] + ' ' + code[16:20] }}</li>
       {% endfor %}
     </ol>

     <br/>

     <p>
       These codes are one-time use, and upon successful use will not be able to be reused or retrieved.
       Codes may be used in any order. Cross each code off when used.
     </p>

     <label for="tfa-init-verify">Enter 2FA token</label>
     <input type="text" id="tfa-init-verify" maxlength="7" name="tfaresponse" placeholder="012345" autocomplete="off" required/><br/>
     <label><input class="checkbox" type="checkbox" name="verify" required/> I have printed or saved the above recovery codes and want to enable 2FA.</label>

     <input type="hidden" name="token" value="{{ TOKEN() }}"/>

     <div style="padding-top: 1em;">
       <a class="button negative" href="/control/2fa/status">Cancel</a>
       <button class="button positive">Enable 2FA</button>
     </div>
   </form>
   {% endif %}
</div>
</div>
{% endblock %}