$def with (tfa_recovery_codes, error)
$:{RENDER("common/stage_title.html", ["Enable 2FA: Final Step", "Two-Factor Authentication", "/control/2fa/status"])}

<div class="content form clear">
  <div class="constrained">
    $if error == "2fa":
      <div id="signin_error">
        <strong>Whoops!</strong> The 2FA response token you provided did not validate.
      </div>
    $elif error == "verify":
      <div id="signin_error">
        <strong>Hey!</strong> Did you want to enable 2FA? You didn't check the verification checkbox!
      </div>

    <h3>Final Step: Verify Receipt of Two-Factor Authentication (2FA) Recovery Codes</h3>
    <h4>You've almost enabled 2FA for your account. One final step remains!</h4>

    <br />

    <p>
      <strong>Print these codes, and secure them as you would your password.</strong>
      In the event you lose access to your authenticator app, you will need these
      codes to regain access to your Weasyl account. Recovery codes can be
      refreshed at any time from your settings page.
    </p>
    <p>
      <strong>Warning:</strong> For security reasons, Weasyl staff will be unable to assist you if
      you lose access to your recovery codes.
      <br />
      As a precaution against being locked out your account if all recovery codes are used, 2FA will
      automatically be disabled if--and only if--all recovery codes are consumed during the login process.
      Generating a new set of codes will prevent this from occurring. If this occurs, you will need
      to set-up 2FA again.
    </p>
  </div>

  <form method="POST" class="form skinny clear" action="/control/2fa/init_verify">
    <h3>Your recovery codes are:</h3>
    <ol>
      $for code in tfa_recovery_codes:
        <li>${code[0:4] + ' ' + code[4:8] + ' ' + code[8:12] + ' ' + code[12:16] + ' ' + code[16:20]}</li>
    </ol>

    <br />

    <p>
      These codes are one-time use, and upon successful use will not be able to be reused or retrieved.
      Codes may be used in any order. Cross each code off when used.
    </p>

    <label for="tfa-init-verify">Enter 2FA token</label>
    <input type="text" id="tfa-init-verify" maxlength="7" name="tfaresponse" placeholder="012345" autocomplete="one-time-code" required inputmode="numeric" /><br />
    <label><input class="checkbox" type="checkbox" name="verify" required /> I have printed or saved the above recovery codes and want to enable 2FA.</label>

    <div style="padding-top: 1em;">
      <a class="button negative" href="/control/2fa/status">Cancel</a>
      <button class="button positive">Enable 2FA</button>
    </div>
  </form>
</div>
