$def with (username, error)
$:{RENDER("common/stage_title.html", ["Enable 2FA: Step 1", "Two-Factor Authentication", "/control/2fa/status"])}

<div class="content form clear">
  <div class="constrained">
    $if error == "password":
      <div id="signin_error"><strong>Whoops!</strong> You entered an incorrect password.</div>

    <h3>Two-Factor Authentication</h3>
    <p>
      This process will guide you through enabling Two-Factor Authentication (2FA), a method of enhancing the security of
      your Weasyl account. For more information about 2FA, please visit the <a href="/help/two_factor_authentication">2FA help page</a>. As part of this
      process, you will:
      <ol>
        <li>Confirm that you have access to this account;</li>
        <li>Set-up your authenticator application; and finally</li>
        <li>Be presented a set of recovery codes used to regain access if you lose your authenticator.</li>
      </ol>
    </p>

    <hr />

    <h3>Begin setting up 2FA</h3>

    <p><strong>Username: ${username.display}</strong></p>
    <p>
      You are about to enable 2FA for the Weasyl account identified above.
      In order to proceed through this process, you will need a compatible app such as
      <a href="https://support.google.com/accounts/answer/1066447?hl=en">Google Authenticator</a> for Android and iOS devices,
      or <a href="http://www.nongnu.org/oath-toolkit/">OATH Toolkit</a> for Linux,
      to generate time-based tokens each time you log into your Weasyl account.
    </p>
    <p>
      To begin, we need to confirm that you have control over this account. Please enter your password to continue.
    </p>

    <form method="post" class="form skinny clear" action="/control/2fa/init">
      <label for="login-pass">Confirm your Password</label>
      <input type="password" id="login-pass" class="input" name="password" placeholder="Password" required />

      <div style="padding-top: 1em;">
        <button class="button positive">Continue</button>
      </div>
    </form>
  </div>
</div>
