$def with (feature, query)
$:{TITLE("Submissions", "Messages", "/messages/submissions")}
$ _GRID_ITEM = COMPILE("common/thumbnail_grid_item.html")

<div class="content">
  <form action="/messages/remove" method="post">
    $:{CSRF()}
    <input type="hidden" id="recall" name="recall" value="submissions" />
    <input type="hidden" id="content" name="content" />

    <h3>Submission Notifications</h3>

    $if query:
      <ul class="thumbnail-grid">
        $for index, item in enumerate(query):
          $if index < 10:
            $:{_GRID_ITEM(item, 1, lazy_load=False)}
          $else:
            $:{_GRID_ITEM(item, 1)}
      </ul>

      <div class="notifs-actions sub-notifs-actions clear">
        <button type="button" class="button needs-js notifs-check-all do-check">Check All</button>
        <button type="button" class="button needs-js notifs-uncheck-all do-uncheck">Uncheck All</button>
        <div class="notifs-remove-buttons">
          <button class="button highlighted negative notifs-remove" data-confirm="Are you sure you want to remove the selected submissions?">Remove Selected</button>
          <button class="button negative notifs-remove-all"
                  name="remove-all-submissions" value="${NOW()}"
                  data-confirm="Are you sure you want to remove all your submission notifications?">
            Remove All Notifications</button>
        </div>
        <div class="notifs-paging">
          <a class="button notifs-prev" href="/messages/submissions?backtime=${query[0]['unixtime']}">Back</a>
          <a class="button notifs-next" href="/messages/submissions?nexttime=${query[-1]['unixtime']}">Next</a>
        </div>
      </div>
    $else:
      <p style="padding-top: 2em; padding-bottom: 2em;" class="color-lighter">There are no notifications to display.</p>
  </form>
</div>
