$def with (query, ratings)
$:{RENDER("common/stage_title.html", ["Edit Character"])}

$code:
  def _RATING(x):
    return ' selected="selected"' if query['rating'] == x else ''
  def _CHECKED(x):
    return ' checked="checked"' if x else ''

<div id="edit-character-content" class="content">

  <form name="editcharacter" action="/edit/character" method="post" class="form skinny clear">
    <input type="hidden" name="charid" value="${query['charid']}" />

    <h3>Character Information</h3>

    <label for="editchartitle">Name</label>
    <input type="text" class="input" name="title" value="${query['title']}" id="editchartitle" maxlength="100" />
    <label for="editcharage">Age</label>
    <input type="text" class="input" name="age" value="${query['age']}" id="editcharage" maxlength="100" />
    <label for="editchargender">Gender</label>
    <input type="text" class="input" name="gender" value="${query['gender']}" id="editchargender" maxlength="100" />
    <label for="editcharheight">Height</label>
    <input type="text" class="input" name="height" value="${query['height']}" id="editcharheight" maxlength="100" />
    <label for="editcharweight">Weight</label>
    <input type="text" class="input" name="weight" value="${query['weight']}" id="editcharweight" maxlength="100" />
    <label for="editcharspecies">Species</label>
    <input type="text" class="input" name="species" value="${query['species']}" id="editcharspecies" maxlength="100" />

    <label for="editcharrating">Rating</label>
    <select name="rating" id="editcharrating" class="input">
      $for rating in ratings:
        <option value="${rating.code}"$:{_RATING(rating.code)}>${rating.name_with_age}</option>
    </select>
    $if len(ratings) > 1:
      <p class="color-lighter tags-help"><i>By selecting "Mature (18+)" or "Explicit (18+)", you agree that you are 18 years of age or older, and that you are abiding by laws governed by your local state and/or country as well as those in the <a href="/policy/tos" target="_blank">Weasyl Terms of Service</a></i></p>

    <label for="editcharcontent">Description</label>
    <textarea name="content" class="markdown input expanding" id="editcharcontent" rows="9">${query['content']}</textarea>
    <p class="color-lighter tags-help"><i>For assistance with formatting, including linking to users, see <a href="/help/markdown" target="_blank">Formatting Help</a>.</i></p>

    <h3>Additional Options</h3>

    <label for="editcharfriends" class="input-checkbox">
      <input type="checkbox" id="editcharfriends" name="friends"${_CHECKED(query['friends_only'])} />
      Make this character visible only to my friends
    </label>

    <div class="buttons clear" style="padding-top: 1em;">
      <button class="button" style="float: right;">Save</button>
    </div>

  </form>
</div>
