{% extends 'common/base.jinja2' %}
{% from 'common/stage_title.jinja2' import stage %}
{% from 'common/macros.jinja2' import SELECTED, CHECKED %}
{% block content %}
{{ stage("Edit Character") }}

<div id="edit-character-content" class="content">

  <form name="editcharacter" action="/edit/character" method="post" class="form skinny clear">
    <input type="hidden" name="token" value="{{ TOKEN() }}"/>
    <input type="hidden" name="charid" value="{{ query['charid'] }}"/>

    <h3>Character Information</h3>

    <label for="editchartitle">Name</label>
    <input type="text" class="input" name="title" value="{{ query['title'] }}" id="editchartitle" maxlength="100" />
    <label for="editcharage">Age</label>
    <input type="text" class="input" name="age" value="{{ query['age'] }}" id="editcharage" maxlength="100" />
    <label for="editchargender">Gender</label>
    <input type="text" class="input" name="gender" value="{{ query['gender'] }}" id="editchargender" maxlength="100" />
    <label for="editcharheight">Height</label>
    <input type="text" class="input" name="height" value="{{ query['height'] }}" id="editcharheight" maxlength="100" />
    <label for="editcharweight">Weight</label>
    <input type="text" class="input" name="weight" value="{{ query['weight'] }}" id="editcharweight" maxlength="100" />
    <label for="editcharspecies">Species</label>
    <input type="text" class="input" name="species" value="{{ query['species'] }}" id="editcharspecies" maxlength="100" />

    <label for="editcharrating">Rating</label>
    <select name="rating" id="editcharrating" class="input">
      {% for rating in ratings %}
        <option value="{{ rating.code }}" {{ SELECTED(rating.code, query['rating']) }}>{{ rating.name_with_age }}</option>
      {% endfor %}
    </select>

    <label for="editcharcontent">Description</label>
    <textarea name="content" class="markdown input expanding" id="editcharcontent" rows="9">{{ query['content'] }}</textarea>

    <h3>Additional Options</h3>

    <label for="editcharfriends" class="input-checkbox">
      <input type="checkbox" id="editcharfriends" name="friends" {{ CHECKED("f", query['settings']) }} />
      Make this character visible only to my friends
    </label>

    <div class="buttons clear" style="padding-top: 1em;">
      <button type="submit" class="button" style="float: right;">Save</button>
      <a class="button" href="/character/{{ query['charid'] }}/{{ query['title'] | SLUG }}">Cancel</a>
    </div>

  </form>
</div>
{% endblock %}
