$def with (query, folders, subtypes, ratings)
$:{RENDER("common/stage_title.html", ["Edit Submission"])}

$code:
  def _RATING(x):
    return ' selected="selected"' if query['rating'] == x else ''
  def _FOLDER(x):
    return ' selected="selected"' if query['folderid'] == x else ''
  def _SUBTYPE(x):
    return ' selected="selected"' if query['subtype'] == x else ''
  def _CHECKED(x):
    return ' checked="checked"' if query[x] else ''

<div id="edit-submission-content" class="content">

  <form id="editsubmission" action="/edit/submission" method="post" class="form skinny">
    <input type="hidden" name="submitid" value="${query['submitid']}" />

    <h3>Submission Information</h3>

    <label for="editsubmissiontitle">Title</label>
    <input type="text" name="title" class="input" value="${query['title']}" id="editsubmissiontitle" maxlength="200" />

    $if 'other' == query['embed_type']:
      <label for="embedlink">Embed Link</label>
      <input type="url" name="embedlink" class="input" value="${query['embed'].embedlink.href}" id="embedlink" required />

    $if 'google-drive' == query['embed_type']:
      <label for="embedlink">Embed Link</label>
      <input type="url" class="input" name="embedlink" id="embedlink"
             value="${query['google_doc_embed']}" required />
      <p class="supported" style="padding-top: 0.5em">
        <i class="color-lighter"><a href="/help/google-drive-embed" target="_blank">How do I find the embed link?</a></i>
      </p>

    <label for="editsubmissionfolder">Folder</label>
    <select name="folderid" id="editsubmissionfolder" class="input">
      <option value="">No folder selected</option>
      $for i in folders:
        <option value="${i['folderid']}"$:{_FOLDER(i['folderid'])}>${i['title']}</option>
    </select>

    <label for="editsubmissionsubcat">Subcategory</label>
    <select name="subtype" id="editsubmissionsubcat" class="input">
      $for i in subtypes:
        <option value="${i[0]}"$:{_SUBTYPE(i[0])}>${i[1]}</option>
    </select>

    <label for="editsubmissionrating">Rating</label>
    <select name="rating" id="editsubmissionrating" class="input">
      $for rating in ratings:
        <option value="${rating.code}"$:{_RATING(rating.code)}>${rating.name_with_age}</option>
    </select>
    $if len(ratings) > 1:
      <p class="color-lighter tags-help"><i>By selecting "Mature (18+)" or "Explicit (18+)", you agree that you are 18 years of age or older, and that you are abiding by laws governed by your local state and/or country as well as those in the <a href="/policy/tos" target="_blank">Weasyl Terms of Service</a></i></p>

    <label for="editsubmissiondesc">Description</label>
    <textarea name="content" rows="9" class="markdown input expanding" id="editsubmissiondesc">${query['content']}</textarea>
    <p class="color-lighter tags-help"><i>For assistance with formatting, including linking to users, see <a href="/help/markdown" target="_blank">Formatting Help</a>.</i></p>

    <h3>Additional Options</h3>

    <label for="editsubmissionfriends" class="input-checkbox">
      <input type="checkbox" id="editsubmissionfriends" name="friends"$:{_CHECKED("friends_only")} />
      Make this submission visible only to my friends
    </label>
    <label for="editsubmissioncrit" class="input-checkbox">
      <input type="checkbox" id="editsubmissioncrit" name="critique"$:{_CHECKED("critique")} />
      Flag this submission for critique
    </label>

    <div class="buttons clear" style="padding-top: 1em;">
      <button class="button" style="float: right;">Save</button>
    </div>

  </form>
</div>
