$def with (query)
$:{RENDER("common/stage_title.html", ["Journal Spam Queue", "Moderator Control Panel", "/modcontrol"])}

<div id="spam_queue_content" class="content">
  $if query:
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Journal Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        $for user, journal_id, title, content in query:
          <tr>
            <td>${user} - <a href="/staffnotes/${user}">Staff notes</a></td>
            <td>
              <b>Journal detail page: <a href="/journal/${journal_id}?anyway=true">View journal</a></b>
              <br /><br />
              <b>Journal Title</b>: ${title}
              <br /><br />
              <b>Journal Body</b>:
              <br /><br />
              ${content}
            </td>
            <td>
              <form action="/modcontrol/spamqueue/journal" method="post">
                $:{CSRF()}
                <input type="hidden" name="journalid" value="${journal_id}" />
                <button class="button positive" name="directive" value="approve">Approve</button>
                <br /><br />
                <button class="button negative" name="directive" value="reject">Reject</button>
              </form>
            </td>
          </tr>
      </tbody>
    </table>
  $else:
    There are no entries in the journal spam queue.
</div>
