$def with (query)
$:{RENDER("common/stage_title.html", ["Submission Spam Queue", "Moderator Control Panel", "/modcontrol"])}

<div id="spam_queue_content" class="content">
  $if query:
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Submission Content</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        $for user, submission_id, title, content in query:
          <tr>
            <td>${user} - <a href="/staffnotes/${user}">Staff notes</a></td>
            <td>
              <b>Submission detail page: <a href="/submission/${submission_id}?anyway=true">View submission</a></b>
              <br /><br />
              <b>Submission Title</b>: ${title}
              <br /><br />
              <b>Submission Body</b>:
              <br /><br />
              ${content}
            </td>
            <td>
              <form action="/modcontrol/spamqueue/submission" method="post">
                $:{CSRF()}
                <input type="hidden" name="submitid" value="${submission_id}" />
                <button class="button positive" name="directive" value="approve">Approve</button>
                <br /><br />
                <button class="button negative" name="directive" value="reject">Reject</button>
              </form>
            </td>
          </tr>
      </tbody>
    </table>
  $else:
    There are no entries in the submission spam queue.
</div>
