$def with (name, query)
$:{TITLE("User Content", "Moderator Control Panel", "/modcontrol")}
$code:
  def _PARSE_SETTINGS(i):
    names = []
    if i['hidden']:
      names.append("Hidden")
    else:
      names.append("Not hidden")
    if i['friends_only']:
      names.append("Friends only")
    if i['critique']:
      names.append("Critique requested")
    return "; ".join(names)

  card_viewer = get_card_viewer()

<div class="content content-by-user-page">
  <form action="/modcontrol/massaction" method="post">
    <table class="content-by-user">

      $for i in query:
        <tr>
          <td class="checkbox-cell">
            <div class="checkbox-cell-wrapper">
              <label class="input-checkbox clear">
                $if i['contype'] == 10:
                  <input type="checkbox" name="submissions" value="${i['submitid']}">
                $elif i['contype'] == 20:
                  <input type="checkbox" name="characters" value="${i['charid']}">
                $elif i['contype'] == 30:
                  <input type="checkbox" name="journals" value="${i['journalid']}">
              </label>
            </div>
          </td>
          <td class="thumb-cell">
            $if 'sub_media' in i:
              $ thumb = card_viewer.get_thumbnail_files(i).fallback
              <img src="${thumb['display_url']}" alt="" class="thumb" />
            $else:
              <span class="journal-thumb">&lt;journal&gt;</span>
          </td>
          <td class="title-cell">
            $if i['contype'] == 10:
              <a href="/submission/${i['submitid']}/${SLUG(i['title'])}?anyway=true" target="_blank" class="title">${i['title']}</a>
            $elif i['contype'] == 20:
              <a href="/character/${i['charid']}/${SLUG(i['title'])}?anyway=true" target="_blank" class="title">${i['title']}</a>
            $elif i['contype'] == 30:
              <a href="/journal/${i['journalid']}/${SLUG(i['title'])}?anyway=true" target="_blank" class="title">${i['title']}</a>
          </td>
          <td class="rating-cell">
            <span class="rating ${R.CODE_TO_NAME[i['rating']]}">${R.CODE_TO_NAME[i['rating']]}</span>
          </td>
          <td class="time-cell">
            <span class="time">$:{LOCAL_TIME(i['unixtime'], '{date} at {time}')}</span>
          </td>
          <td class="visibility-cell">
            <span class="visibility">${_PARSE_SETTINGS(i)}</span>
          </td>
        </tr>
    </table>

    <div class="content-by-user-actions">
      <button type="button" class="button needs-js do-check">Check All</button>
      <button type="button" class="button needs-js do-uncheck">Uncheck All</button>
      <div class="content-by-user-moderate">
        <select name="action" class="input action-selection">
          $for value, name in M.MACRO_MOD_ACTIONS.items():
            <option value="${value}">${name}</option>
        </select>
        <button class="button positive">Moderate Selection</button>
      </div>
    </div>
  </form>
</div>
