$def with (query)
$:{TITLE("User Management", "Moderator Control Panel", "/modcontrol")}

<div class="content">
  <h3>
    ${query['username']}
    (<a href="/~${LOGIN(query['username'])}">Profile</a>,
    <a href="/staffnotes/${LOGIN(query['username'])}">${query['staff_notes']} staff notes</a>)
  </h3>

  $ avatar = query['user_media']['avatar'][0]
  $if avatar['display_url'] != resource_path('img/default-avatar.jpg'):
    <div class="clear" style="margin-top:20px;">
      <img src="${avatar['display_url']}" alt="" />
      <form action="/modcontrol/removeavatar" method="post">
        <input type="hidden" name="userid" value="${query['userid']}" />
        <button class="button negative">Remove Avatar</button><br />
      </form>
    </div>
  $else:
    <p style="margin-top:20px;">This user does not have an avatar.</p>

  $ banner = query['user_media'].get('banner', [None])[0]
  $if banner:
    <div class="clear" style="margin-top:20px;">
      <img src="${banner['display_url']}" alt="" />
      <form action="/modcontrol/removebanner" method="post">
        <input type="hidden" name="userid" value="${query['userid']}" />
        <button class="button negative">Remove Banner</button><br />
      </form>
    </div>
  $else:
    <p style="margin-top:20px;">This user does not have a banner.</p>

  <div class="clear" style="margin-top:20px;">
    <form action="/modcontrol/editprofiletext" method="post">
      <input type="hidden" name="userid" value="${query['userid']}" />
      <textarea name="content" style="height:200px;width:500px;">${query['profile_text']}</textarea><br />
      <button class="button negative">Edit Profile Text</button><br />
    </form>
  </div>

  <div class="clear" style="margin-top:20px;">
    <form action="/modcontrol/editcatchphrase" method="post">
      <input type="hidden" name="userid" value="${query['userid']}" />
      <input type="text" name="content" style="width:500px;" value="$:{query['catchphrase']}" /><br />
      <button class="button negative">Edit Catchphrase</button><br />
    </form>
  </div>

  <p>
    <a href="/control/streaming?target=${query['userid']}">Edit Streaming Settings</a>.
  </p>
</div>
