$:{TITLE("Remove Comment", "Moderation", "/modcontrol")}
<div class="content">
  <form class="form skinny clear" action="/modcontrol/removecomment" method="post">
    $:{CSRF()}
    <label>Comment Type</label>
    <select name="feature" class="input">
      <option value="shout">Shout</option>
      <option value="submit">Submission Comment</option>
      <option value="journal">Journal Comment</option>
      <option value="char">Character Comment</option>
    </select>
    <label>CommentID</label>
    <input type="text" name="commentid" class="input last-input" />

    <button type="submit" class="button" style="float: right;">Remove Comment</button>
  </form>
</div>
