$def with (method, query, violations)
$:{RENDER("common/stage_title.html", ["Reported Content", "Moderator Control Panel", "/modcontrol"])}
$code:
  _status_class = {
    'open': 'report-status-open',
    'review': 'report-status-review',
    'closed': '',
  }

  _context_map = {
    1: 'Profile',
    2: 'Submission',
    3: 'Journal',
    4: 'Comment'
  }

  def value(field, value):
    ret = 'value="%s" ' % (value,)
    if method[field] == value:
      ret += 'selected'
    return ret

<div id="reports_content" class="content">
  $if query:
    <table class="reports">
      <colgroup>
        <col>
        <col class="reports-column-direct-link">
        <col>
        <col>
        <col class="reports-column-reporters">
        <col>
        <col>
      </colgroup>

      <thead>
        <tr>
          <th>Title</th>
          <th>Direct Link</th>
          <th>Content Owner</th>
          <th>Violation(s)</th>
          <th>Reporters</th>
          <th>Opened On</th>
          <th>Report Status</th>
        </tr>
      </thead>

      <tbody>
      $for report, report_count, report_violations in query:
        <tr class="${_status_class.get(report.status)}">
          <td><a href="/modcontrol/report?reportid=${report.reportid}">${report.target.title}</a></td>
          <td>
            <a href="${report.target.legacy_path(mod=True)}">
              View ${report.target_type}
              $if report.target.hidden:
                (Hidden)
            </a>
          </td>
          <td><a href="/~${report.target.owner.login_name}">${report.target.owner.profile.username}</a></td>
          <td>${'; '.join(report_violations)}</td>
          <td>${report_count}</td>
          <td>$:{LOCAL_TIME(report.opened_at, '{date} {time}')}</td>
          $ status = report.status
          $if status == 'review':
            <td>
              Under review by <a href="/~${report.owner.login_name}">${report.owner.profile.username}</a>
            </td>
          $elif status == 'closed':
            <td>
              Closed by <a href="/~${report.owner.login_name}">${report.owner.profile.username}</a>
              (${report.closure_reason.value.replace('-', ' ')}
              $:{LOCAL_TIME(report.closed_at, 'on {date} at {time}')})
            </td>
          $else:
            <td>Open</td>
        </tr>
      </tbody>

    </table>
  $else:
    There are no reports to display.
  <div id="report-filters" class="form">
    <span style="float: right">
      <form action="/modcontrol/reports">
        <label for="status">Report status</label>
        <select name="status" class="input">
          <option value=""></option>
          <option $:{value('status', 'open')}>Open/assigned reports</option>
          <option $:{value('status', 'closed')}>Closed reports</option>
          <option $:{value('status', 'all')}>All reports</option>
        </select>
        <label for="violation">Violation Type:</label>
        <select id="violation" name="violation" class="input">
          <option $:{value('violation', -1)}>All</option>
          $for i in violations:
            $if i[0] < 2000 or i[0] > 4000:
              $continue
            <option $:{value('violation', i[0])}>${_context_map[i[0] // 1000]}: ${i[2]}</option>
        </select>
        <label for="submitter">Owner username</label>
        <input type="text" name="submitter" class="input" value="${method['submitter']}">
        <div style="padding-top: 1em">
          <button style="float: right" class="button positive">Filter</button>
        </div>
      </form>
    </span>
  </div>

</div>
