$def with (templates)
$:{RENDER("common/stage_title.html", ["User Suspensions", "Moderator Control Panel", "/modcontrol"])}

<div class="content clear" style="padding-top: 2em;">
  <div class="form wide clear">
    <div class="formatted-content">
      <h4>Standard Sanctions</h4>
      <p>Enter a userid or username, and select a predefined infraction and sanction. Reason, duration, and action will be filled in.</p>

      <h4>Suspend User</h4>
      <p>Enter a userid or username, reason for suspending, and a release date or duration. The user will be automatically unbanned after they attempt to sign in to their account on or after the release date.</p>

      <h4>Permanently Ban User</h4>
      <p>Enter a userid or username and a reason for banning.</p>

      <h4>Release User</h4>
      <p>Enter a userid or username. The user will be released from their ban or suspension.</p>
    </div>

    <form name="modcontrolsuspenduser" action="/modcontrol/suspenduser" method="post">
      <div class="form-2up clear">
        <div class="form-2up-1">
          <label for="suspendid">UserID</label>
          <input type="text" class="input" name="userid" id="suspendid" />
        </div>
        <div class="form-2up-2">
          <label for="suspenduser">Username</label>
          <input type="text" class="input" name="username" id="suspenduser" />
        </div>
      </div>

      <label for="template_id">Predefined Action</label>
      <select id="template_id" class="input">
        <option value="none">Custom Action</option>
        $for key in sorted(templates):
          <option value="${key}">${templates[key]['name']}</option>
      </select>

      <label for="suspendaction">Action</label>
      <select name="mode" class="input" id="suspendaction">
        <option value="x">Release User</option>
        <option value="s">Temporarily Suspend User</option>
        <option value="b">Permanently Ban User</option>
      </select>

      <label for="suspendreason">Reason</label>
      <textarea name="reason" class="markdown input expanding" rows="9" id="suspendreason"></textarea>

      <label>Duration/Release Date</label>

      <label class="input-checkbox"><input type="radio" id="datetype" name="datetype" value="r" checked="checked" /> Duration</label>

      <div class="form-2up clear">
        <div class="form-2up-1">
          <input type="number" class="input" id="duration" name="duration" min="1" max="1000"/>
        </div>
        <div class="form-2up-2">
          <select class="input" id="durationunit" name="durationunit">
            <option value="d" selected="selected">Days</option>
            <option value="w">Weeks</option>
            <option value="m">Months</option>
            <option value="y">Years</option>
          </select>
        </div>
      </div>

      <script>
        var banTemplates = $:{INLINE_JSON(templates)};
        var templateId = document.getElementById("template_id");
        var suspendAction = document.getElementById("suspendaction");
        var suspendDuration = document.getElementById("duration");
        var suspendReason = document.getElementById("suspendreason");

        function fillCustomAction(value) {
          var tmpl = banTemplates[value];

          if (tmpl.days < 0) {
            suspendAction.selectedIndex = 2;
            suspendDuration.value = "";
          } else {
            suspendAction.selectedIndex = 1;
            suspendDuration.value = tmpl.days;
          }

          suspendReason.textContent = tmpl.reason.trim();
        }

        templateId.addEventListener("change", function() {
          fillCustomAction(templateId.value);
        });
      </script>

      <br/>

      <label class="input-checkbox"><input type="radio" id="datetype" name="datetype" value="a" /> Release Date</label>

      <div class="clear">
        <input type="date" name="release-date" min="${arrow.utcnow().shift(days=1).date().isoformat()}">
      </div>

      <button type="submit" class="button" style="float: right;">Ban / Suspend / Release User</button>
    </form>
  </div>
</div>
