$def with (error = None)

$:{RENDER("common/stage_title.html", ["Password Reset Required"])}

<div id="force_resetpassword_content" class="content" style="padding-top: 2em;">
  <div class="form skinny clear">
    $if(error == "passwordMismatch"):
      <div id="force_resetpassword_error"><strong>Whoops!</strong> Your entries in the <strong>new password</strong> and <strong>retype new password</strong> fields did not match.</div>
    $elif(error == "passwordInsecure"):
      <div id="force_resetpassword_error"><strong>Whoops!</strong> The password you entered did not clear our password security check.</div>
    $else:
      <div id="force_resetpassword_error">An administrator has required that you reset your password before you can continue using the site.</div>

    <form name="forceresetpassword" action="/force/resetpassword" method="post">
      $:{CSRF()}

      <label for="password">New Password:</label>
      <input id="password" type="password" class="input" name="password" />

      <label for="passcheck">Retype New Password:</label>
      <input id="passcheck" type="password" class="input last-input" name="passcheck" />

      <div class="buttons">
        <button type="submit" class="button positive" style="float: right;">Continue</button>
        <a href="/signout?token=${TOKEN()[:8]}" class="button">Cancel and Sign Out</a>
      </div><!-- /buttons -->
    </form>

  </div><!-- /skinny -->
</div><!-- /content -->
