$def with (profile, userinfo)
$:{RENDER("common/stage_title.html", ["Edit Profile", "Settings"])}

$code:
  def _SELECTED(x, y):
    return ' selected="selected"' if profile['settings'][x] == y else ''
  def _CONF_SELECTED(x):
    return ' selected="selected"' if x in profile['config'] else ''

<div id="edit-profile" class="content">

  <form name="controleditprofile" class="form clear" action="/control/editprofile" method="post">
    <div class="column info clear">
      <h3>Profile Settings</h3>

      <p class="label">Username</p>
      <p id="editprofile-username">${profile['username']} <a href="/control/username">[change]</a></p>

      <label for="editprofile-fullname">Full Name</label>
      <input type="text" id="editprofile-fullname" class="input" name="full_name" value="${profile['full_name']}" maxlength="100" />

      $ birthdate = userinfo['birthday']
      <p class="label">Age</p>
      <label class="input-checkbox">
        <input type="checkbox" name="show_age" value="true"$:{' checked' if userinfo['show_age'] and birthdate is not None else ''} data-shows="birthdate">
        Show my age on my profile
      </label>
      <fieldset id="birthdate"$:{'' if birthdate is None else ' disabled'}>
        <legend class="label">Birthdate</legend>
        <div class="form-date">
          <label class="form-date-month">
            <span class="sublabel">Month</span>
            <select class="input" name="birthdate-month" autocomplete="bday-month">
              <option$:{' selected' if birthdate is None else ''}></option>
              $for i, month_name in enumerate(arrow.locales.EnglishLocale.month_names[1:], start=1):
                <option value="${i}"$:{' selected' if birthdate is not None and birthdate.month == i else ''}>${month_name}</option>
            </select>
          </label>
          <label class="form-date-year">
            <span class="sublabel">Year</span>
            $ current_year = arrow.utcnow().year
            <input class="input" name="birthdate-year" type="number" min="${current_year - 125}" max="${current_year - 12}" value="${'' if birthdate is None else birthdate.year}" autocomplete="bday-year">
          </label>
        </div>
      </fieldset>

      <label for="editprofile-gender">Gender</label>
      <input type="text" id="editprofile-gender" class="input" name="gender" value="${userinfo['gender']}" maxlength="100" />

      <label for="editprofile-country">Location</label>
      <input type="text" id="editprofile-country" class="input" name="country" value="${userinfo['country']}" maxlength="50" />

      <label for="editprofile-catchphrase">Catchphrase</label>
      <input type="text" id="editprofile-catchphrase" class="input" name="catchphrase" value="${profile['catchphrase']}" maxlength="200" />

      <label for="editprofile-profile-display">Profile thumbnail bar displays&hellip;</label>
      <select id="editprofile-profile-display" class="input" name="profile_display">
        <option value="">Submissions</option>
        <option value="A"$:{_CONF_SELECTED('A')}>Characters</option>
        <option value="O"$:{_CONF_SELECTED('O')}>Collections</option>
      </select>
    </div>

    <div class="column settings clear">
      <h3>Commission Settings</h3>

      <label for="editprofile-setcommish">Commissions</label>
      <select id="editprofile-setcommish" class="input" name="set_commish">
        <option value="o"${_SELECTED(0, 'o')}>I am currently accepting commissions</option>
        <option value="s"${_SELECTED(0, 's')}>I may sometimes accept commissions</option>
        <option value="f"${_SELECTED(0, 'f')}>My commission queue is currently filled</option>
        <option value="c"${_SELECTED(0, 'c')}>I am not accepting commissions right now</option>
        <option value="e"${_SELECTED(0, 'e')}>This is not applicable to me</option>
      </select>

      <label for="editprofile-settrade">Trades</label>
      <select id="editprofile-settrade" class="input" name="set_trade">
        <option value="o"${_SELECTED(1, 'o')}>I am currently accepting trades</option>
        <option value="s"${_SELECTED(1, 's')}>I may sometimes accept trades</option>
        <option value="c"${_SELECTED(1, 'c')}>I am not accepting trades right now</option>
        <option value="e"${_SELECTED(1, 'e')}>This is not applicable to me</option>
      </select>

      <label for="editprofile-setrequest">Requests</label>
      <select id="editprofile-setrequest" class="input" name="set_request">
        <option value="o"${_SELECTED(2, 'o')}>I am currently accepting requests</option>
        <option value="s"${_SELECTED(2, 's')}>I may sometimes accept requests</option>
        <option value="c"${_SELECTED(2, 'c')}>I am not accepting requests right now</option>
        <option value="e"${_SELECTED(2, 'e')}>This is not applicable to me</option>
      </select>

      <h3>Streaming Status</h3>

      <p>
        <a href="/control/streaming">Streaming settings have been moved to their own page.</a>
      </p>

    </div>

    <div class="column profile">
      <h3>Profile Text</h3>
      <label for="editprofile-profiletext">Profile Text</label>
      <textarea name="profile_text" id="editprofile-profiletext" class="markdown input expanding" rows="9" maxlength="100000">${profile['profile_text']}</textarea>
    </div>

    <div class="column social clear">
      <h3>Contact and Social Media</h3>
      <p>
        For frequently used social media sites
        $ sites = (site['name'] for site in M.SOCIAL_SITES.values() if 'url' in site and not site.get('hidden', False))
        ($:{', '.join('<strong>%s</strong>' % site for site in sorted(sites, key=lambda s: s.lower()))}),
        fill in the site as displayed, and your username in the second blank.
        Weasyl will do the rest.
      </p>
      <p>
        For other sites, you can use any site name you like, and add the full
        URL or username to the second blank. You can use <tt>http</tt>,
        <tt>https</tt>, and <tt>mailto</tt> URLs.
      </p>
      <p style="margin-bottom: 2em">
        To delete an entry, just remove either the site field or URL field, and
        ‘Save’.
      </p>

      $for site, values in userinfo['sorted_user_links']:
        $for value in values:
          <div class="group">
            <input type="text" class="input site-name" name="site_names" value="${site}" placeholder="Site" list="known-social-sites">
            <input type="text" class="input" name="site_values" value="${value}" placeholder="Username or URL">
          </div>
      <div class="group" id="new-social-group">
        <input type="text" class="input site-name" name="site_names" placeholder="Site" list="known-social-sites">
        <input type="text" class="input" name="site_values" placeholder="Username or URL">
      </div>
      $# This is used for the auto-completion.
      <datalist id="known-social-sites">
        $for site in M.SOCIAL_SITES.values():
          $if not site.get('hidden'):
            <option value="${site['name']}"></option>
      </datalist>
    </div>

    <div class="buttons clear">
      <button class="button positive" style="float: right;">Save</button>
    </div>

  </form>
</div>
