$def with (profile, userinfo)
$:{RENDER("common/stage_title.html", ["Edit Profile", "Settings"])}

$code:
  def _SELECTED(x, y):
    return ' selected="selected"' if profile['settings'][x] == y else ''
  def _CONF_SELECTED(x):
    return ' selected="selected"' if x in profile['config'] else ''

<div id="edit-profile" class="content">

  <form name="controleditprofile" class="form clear" action="/control/editprofile" method="post">
    $:{CSRF()}

    <div class="column info clear">
      <h3>Profile Settings</h3>

      <label for="editprofile-fullname">Full Name</label>
      <input type="text" id="editprofile-fullname" class="input" name="full_name" value="${profile['full_name']}" maxlength="100" />

      <label for="editprofile-showage">Age</label>
      <select id="editprofile-showage" class="input" name="show_age">
        <option value="true"${' selected="selected"' if userinfo['show_age'] else ''}>Display my age</option>
        <option value=""${' selected="selected"' if not userinfo['show_age'] else ''}>Do not display my age</option>
      </select>

      <label for="editprofile-gender">Gender</label>
      <input type="text" id="editprofile-gender" class="input" name="gender" value="${userinfo['gender']}" maxlength="100" />

      <label for="editprofile-country">Location</label>
      <input type="text" id="editprofile-country" class="input" name="country" value="${userinfo['country']}" maxlength="50" />

      <label for="editprofile-catchphrase">Catchphrase</label>
      <input type="text" id="editprofile-catchphrase" class="input" name="catchphrase" value="${profile['catchphrase']}" maxlength="200" />

      <label for="editprofile-profile-display">Profile thumbnail bar displays&hellip;</label>
      <select id="editprofile-profile-display" class="input" name="profile_display">
        <option value="">Submissions</option>
        <option value="A"$:{_CONF_SELECTED('A')}>Characters</option>
        <option value="O"$:{_CONF_SELECTED('O')}>Collections</option>
      </select>
    </div>

    <div class="column settings clear">
      <h3>Commission Settings</h3>

      <label for="editprofile-setcommish">Commissions</label>
      <select id="editprofile-setcommish" class="input" name="set_commish">
        <option value="o"${_SELECTED(0, 'o')}>I am currently accepting commissions</option>
        <option value="s"${_SELECTED(0, 's')}>I may sometimes accept commissions</option>
        <option value="f"${_SELECTED(0, 'f')}>My commission queue is currently filled</option>
        <option value="c"${_SELECTED(0, 'c')}>I am not accepting commissions right now</option>
        <option value="e"${_SELECTED(0, 'e')}>This is not applicable to me</option>
      </select>

      <label for="editprofile-settrade">Trades</label>
      <select id="editprofile-settrade" class="input" name="set_trade">
        <option value="o"${_SELECTED(1, 'o')}>I am currently accepting trades</option>
        <option value="s"${_SELECTED(1, 's')}>I may sometimes accept trades</option>
        <option value="c"${_SELECTED(1, 'c')}>I am not accepting trades right now</option>
        <option value="e"${_SELECTED(1, 'e')}>This is not applicable to me</option>
      </select>

      <label for="editprofile-setrequest">Requests</label>
      <select id="editprofile-setrequest" class="input" name="set_request">
        <option value="o"${_SELECTED(2, 'o')}>I am currently accepting requests</option>
        <option value="s"${_SELECTED(2, 's')}>I may sometimes accept requests</option>
        <option value="c"${_SELECTED(2, 'c')}>I am not accepting requests right now</option>
        <option value="e"${_SELECTED(2, 'e')}>This is not applicable to me</option>
      </select>

      <h3>Streaming Status</h3>

      <p>
        <a href="/control/streaming">Streaming settings have been moved to their own page.</a>
      </p>

    </div>

    <div class="column profile">
      <h3>Profile Text</h3>
      <label for="editprofile-profiletext">Profile Text</label>
      <textarea name="profile_text" id="editprofile-profiletext" class="markdown input expanding" rows="9">${profile['profile_text']}</textarea>
    </div>

    <div class="buttons">
      <button type="submit" class="button positive" style="float: right;">Save</button>
      <a class="button" href="/control">Return to Settings</a>
    </div>

    <div class="column social clear">
      <h3>Contact and Social Media</h3>
      <p>
        For frequently used social media sites
        $ sites = (site['name'] for site in M.SOCIAL_SITES.itervalues() if 'url' in site)
        ($:{', '.join('<strong>%s</strong>' % site for site in sorted(sites, key=lambda s: s.lower()))}),
        fill in the site as displayed, and your username in the second blank.
        Weasyl will do the rest.
      </p>
      <p>
        For other sites, you can use any site name you like, and add the full
        URL or username to the second blank. You can use <tt>http</tt>,
        <tt>https</tt>, and <tt>mailto</tt> URLs.
      </p>
      <p style="margin-bottom: 2em">
        To delete an entry, just remove either the site field or URL field, and
        ‘Save’.
      </p>

      $for site, values in userinfo['sorted_user_links']:
        $for value in values:
          <div class="group">
            <input type="text" class="input site-name" name="site_names" value="${site}" placeholder="Site">
            <input type="text" class="input" name="site_values" value="${value}" placeholder="Username or URL">
          </div>
      <div class="group">
        <input type="text" class="input site-name" name="site_names" placeholder="Site">
        <input type="text" class="input" name="site_values" placeholder="Username or URL">
      </div>
      <div class="group">
        <button type="submit" class="button postitive" name="more" id="add-contact-button">
          New
        </button>
      </div>
      <script>
        /* This is used for the auto-completion. */
        var socialSiteList = [
        $for site in M.SOCIAL_SITES_BY_NAME:
          {val: $:{INLINE_JSON(site)}},
        ];
      </script>
    </div>

    <div class="buttons">
      <button type="submit" class="button positive" style="float: right;">Save</button>
      <a class="button" href="/control">Return to Settings</a>
    </div>

  </form>
</div>
