$def with (email, username)
$:{TITLE("Edit Password and Email Address", "Settings", "/control")}
<div class="content">
  <p style="padding-top:2em;font-size:1.2em;">On this page you can change your associated email address, password, or both; to change only one of the items, leave the other field blank.</p>

  <form name="controleditemailpassword" class="form skinny clear" action="/control/editemailpassword" method="post">
    <p class="label">Current Email Address</p>
    <p id="currentemail">${email}</p>

    <label for="emailpwnewemail">New Email Address</label>
    <input type="email" class="input" name="newemail" id="emailpwnewemail" autocomplete="email" autofocus />

    <label for="emailpwnewpw">New Password</label>
    <input type="password" class="input" name="newpassword" id="emailpwnewpw" minlength="10" maxlength="72" autocomplete="new-password" />
    <p class="color-lighter" style="padding-top: 0.5em;"><i>Passwords must be a minimum of 10 characters.</i></p>

    <div id="password-strength" class="password-strength password-strength-empty" data-password-input="emailpwnewpw" data-personal-inputs="emailpwnewemail" data-personal-data="${username};${email}"></div>

    <div style="height:1em;"></div><hr /><div style="height:2em;"></div>

    <p>In order to verify your identity, you must enter your current login information to continue.</p>

    <label for="emailpwpw">Password</label>
    <input type="password" class="input last-input" name="password" id="emailpwpw" autocomplete="current-password" required />

    <script src="${resource_path('js/zxcvbn.js')}" async></script>
    <script src="${resource_path('js/zxcvbn-check.js')}" async></script>

    <button class="button positive" style="float:right;">Save</button>
  </form>
</div>
