$def with (query, currencies, presets, profile)
$code:
  def _SELECTED(x, y):
    return ' selected="selected"' if profile['settings'][x] == y else ''

$:{RENDER("common/stage_title.html", ["Edit Commission Settings", "Settings"])}
<div id="commishprices-content" class="content form clear">
  <div>
    <h3>My General Commission Info</h3>
    <p>Information about commissioning you and preferences for commission content</p>
    <div class="commish-row">
      <div class="info">
        <form action="/control/editcommishinfo" method="post" class="clear">
          <!-- Copied from edit_profile.html. TODO(hyena): Only put this in one place, probably here. -->
          <label for="editprofile-setcommish">Commissions</label>
          <select id="editprofile-setcommish" class="input" name="set_commish">
            <option value="o"${_SELECTED(0, 'o')}>I am currently accepting commissions</option>
            <option value="s"${_SELECTED(0, 's')}>I may sometimes accept commissions</option>
            <option value="f"${_SELECTED(0, 'f')}>My commission queue is currently filled</option>
            <option value="c"${_SELECTED(0, 'c')}>I am not accepting commissions right now</option>
            <option value="e"${_SELECTED(0, 'e')}>This is not applicable to me</option>
          </select>
          <p class="color-lighter tags-help"><i>You will appear in <a href="/marketplace">Marketplace</a> results if your commission status is “currently accepting” or “may sometimes accept”.</i></p>

          <label for="editprofile-settrade">Trades</label>
          <select id="editprofile-settrade" class="input" name="set_trade">
            <option value="o"${_SELECTED(1, 'o')}>I am currently accepting trades</option>
            <option value="s"${_SELECTED(1, 's')}>I may sometimes accept trades</option>
            <option value="c"${_SELECTED(1, 'c')}>I am not accepting trades right now</option>
            <option value="e"${_SELECTED(1, 'e')}>This is not applicable to me</option>
          </select>

          <label for="editprofile-setrequest">Requests</label>
          <select id="editprofile-setrequest" class="input" name="set_request">
            <option value="o"${_SELECTED(2, 'o')}>I am currently accepting requests</option>
            <option value="s"${_SELECTED(2, 's')}>I may sometimes accept requests</option>
            <option value="c"${_SELECTED(2, 'c')}>I am not accepting requests right now</option>
            <option value="e"${_SELECTED(2, 'e')}>This is not applicable to me</option>
          </select>
          <label for="commish-info">Your Commission Info</label>
          <textarea class="markdown input last-input expanding" name="content" rows="8" id="commish-info">${query['content'] if query['content'] else ''}</textarea>
          <br />

          <div class="commish-tags">
            <label for="preferred-tags">Preferred Tags</label>
            <textarea id="preferred-tags" name="preferred-tags" class="input tags-textarea">${' '.join(query['tags'])}</textarea>
            <p class="color-lighter tags-help"><i>Use these tags to indicate subject matter you prefer to create, making it easier for commissioners to find you.</i></p>

            <label for="optout-tags">Opt-Out Tags</label>
            <textarea id="optout-tags" name="optout-tags" class="input tags-textarea">${' '.join(query['opt_out'])}</textarea>
            <p class="color-lighter tags-help"><i>You will not appear in results for commission searches containing these tags.</i></p>
          </div>

          <div class="form-actions">
            <button class="button positive" style="float: right;">Save Info</button>
          </div>
        </form>
      </div>
      <div id="user-commissions" class="clear on-side">
        <h3>Preview</h3>
        $for i in query['class']:
          <h4>${i['title']}</h4>
          <dl class="leaders">
          $for j in query['price']:
            $if(j['classid'] == i['classid'] and 'a' not in j['settings']):
              <dt>${j['title']}</dt>
              <dd>$:{'<i>from </i>' if j['amount_max'] else ''}${SYMBOL(j['settings'])} ${PRICE(j['amount_min'])}</dd>
              $if(j['amount_max']):
                <dd><i>to </i>${SYMBOL(j['settings'])} ${PRICE(j['amount_max'])}</dd>
          $for j in query['price']:
            $if(j['classid'] == i['classid'] and 'a' in j['settings']):
              <dt><i>add &#160;</i>${j['title']}</dt>
              <dd>$:{'<i>from </i>' if j['amount_max'] else ''}${SYMBOL(j['settings'])} ${PRICE(j['amount_min'])}</dd>
              $if(j['amount_max']):
                <dd><i>to </i>${SYMBOL(j['settings'])} ${PRICE(j['amount_max'])}</dd>
          </dl>
      </div>
    </div>
  </div>
  <hr />

  <div>
    <h3>New Commission Type</h3>
    <p>Creates a new type of commission with a base price</p>
    <form name="controlcreatecommishclass" action="/control/createcommishclass" method="post" class="clear">
      <div class="commish-row">
        <div class="half">
          <label for="commishprices-addclass-preset">Type Presets</label>
          <select class="input last-input" name="titlepreset" id="commishprices-addclass-preset">
            <option value="" selected>Custom</option>
            $for group_name, group_options in presets:
              <optgroup label="${group_name}">
                $for c in group_options:
                  <option value="${c}">${c}</option>
              </optgroup>
          </select>
          <h4 class="or color-lighter"><i>&mdash; Or &mdash;</i></h4>
          <label for="commishprices-addclass">Custom Type</label>
          <input type="text" id="commishprices-addclass" class="input last-input" name="title"/>
        </div>
        <div class="half">
          <label for="commishprices-addclass-price">Base Price Title</label>
          <input type="text" class="input" name="price_title" id="commishprices-addclass-price" required="required" placeholder="ex: 'Full Color', 'Basic Pose'" />

          <label for="commish-min-amount">Minimum Amount</label>
          <input type="number" step="any" min="0" class="input" name="min_amount" id="commish-min-amount" required="required" />

          <label for="commish-max-amount">Maximum Amount (Optional)</label>
          <input type="number" step="any" min="0" class="input" name="max_amount" id="commish-max-amount" />


          <label for="commish-currency">Currency</label>
          <select class="input last-input" name="currency" id="commish-currency" required="required">
              <option value="">Please select</option>
            $for char, info in currencies.items():
              <option value="${char if char else '$'}">${info.name}</option>
          </select>
          <button class="button positive" style="float: right;">Create Type</button>
        </div>
      </div><!-- commish-row -->
    </form>
  </div>
  <hr />
  $if(query['class']):
    <div>
      <h3>Add a Price to a Type</h3>
      <p>Add a new base or add-on cost to a commission type</p>
      <form name="controlcreatecommishprice" action="/control/createcommishprice" method="post" class="clear">
        <div class="commish-row">
          <div class="half">
            <label for="commish-classselect">Type</label>
            <select class="input" name="classid" required="required" id="commish-classselect">
              <option value="">Select class:</option>
              $for i in query['class']:
              <option value="${i['classid']}">${i['title']}</option>
            </select>
            <label for="commish-title">Price Title</label>
            <input type="text" class="input" name="title" id="commish-title" required="required" placeholder="ex: 'Full Color', 'Basic Pose'" />
          </div>
          <div class="half">
            <label for="commish-min-amount">Minimum Amount</label>
            <input type="number" step="any" min="0" class="input" name="min_amount" id="commish-min-amount" required="required" />

            <label for="commish-max-amount">Maximum Amount (Optional)</label>
            <input type="number" step="any" min="0" class="input" name="max_amount" id="commish-max-amount" />

            <label for="commish-currency">Currency</label>
            <select class="input" name="currency" id="commish-currency" required="required">
              <option value="">Please select</option>
              $for char, info in currencies.items():
              <option value="${char if char else '$'}">${info.name}</option>
            </select>

              <label>Cost type</label>
              <label class="input-checkbox">
                <input type="radio" name="settings" value="" checked="checked">This price is a base cost
              </label>
              <label class="input-checkbox">
                <input type="radio" name="settings" value="a">This price is an additional cost
              </label>
            <button class="button positive" style="float: right;">Create Price</button>
          </div>
        </div>
      </form>
    </div>

    <hr />

    <div>
      <div class="commish-row">
        <div class="half">
          <h3>Edit/Remove a Type</h3>
          <p>Rename or remove an existing commission type</p>
          <form name="controleditcommishclass" method="post" class="clear">
            <label for="commishprices-editclass">Type Name</label>
            <select id="commishprices-editclass" class="input" required="required" name="classid">
              <option value="">Select type:</option>
              $for i in query['class']:
              <option value="${i['classid']}">${i['title']}</option>
            </select>

            <label for="commishprices-renameclass">Rename To</label>
            <input type="text" id="commishprices-renameclass" class="input last-input" name="title" required="required" placeholder="ex: 'Sketch', 'Badge'" />
            <button formaction="/control/editcommishclass" class="button last-input positive" style="float: right; margin-left: 5px;">Edit Type</button>
            <button formaction="/control/removecommishclass" class="button negative" formnovalidate="formnovalidate" style="float: right;">Remove Type</button>
          </form>
        </div>

        <div class="half">
          <h3>Edit/Remove a Price</h3>
          <p>Rename, revalue, or delete a price</p>
          <label for="commish-edit-select">Price Title</label>
          <select class="input" name="priceid" required="required" id="commish-edit-select">
            <option value="">Select a Price:</option>
            $for i in query['price']:
              $for j in query['class']:
                $if(i['classid'] == j['classid']):
                  <option value="${i['priceid']}">${j['title']} &#8250; ${i['title']}</option>
                  $break
          </select>

          $for price in query['price']:
            <form name="controleditcommishprice" method="post" class="clear select-priceid"
                  data-priceid="${price['priceid']}" style="display:none;">
              <input type="hidden" name="priceid" value="${price['priceid']}">
              <label for="commish-edit-title">Rename To</label>
              <input type="text" class="input" name="title" required="required" id="commish-edit-title"
                     placeholder="ex: 'Full Color', 'Basic Pose'" value="${price['title']}"/>

              <label for="commish-edit-min-amount">Minimum Amount</label>
              <input type="number" step="any" min="0" class="input" name="min_amount" id="commish-edit-min-amount"
                     value="${PRICE(price['amount_min'])}"/>

              <label for="commish-edit-max-amount">Maximum Amount (Optional)</label>
              <input type="number" step="any" min="0" class="input" name="max_amount" id="commish-edit-max-amount"
                     value="${PRICE(price['amount_max']) if price['amount_max'] else ''}"/>

              <label for="commish-edit-currency">Currency</label>
              <select class="input" name="currency" id="commish-edit-currency">
              $for char, info in currencies.items():
                <option value="${char}" $:{'selected="selected"' if char in price['settings'] else ""}>${info.name}</option>
              </select>

              <label>Cost type</label>
              <label class="input-checkbox">
                <input type="radio" name="settings" value=""
                       $:{'checked="checked"' if 'a' not in price['settings'] else ""}>This price is a base cost
              </label>
              <label class="input-checkbox">
                <input type="radio" name="settings" value="a"
                       $:{'checked="checked"' if 'a' in price['settings'] else ""}>This price is an additional cost
              </label>

              <button formaction="/control/editcommishprice" class="button last-input positive" style="float: right; margin-left: 5px;">Edit Price</button>
              <button formaction="/control/removecommishprice" formnovalidate="formnovalidate" class="button negative" style="float: right;">Remove Price</button>
            </form>
        </div>
      </div>
    </div>
</div>
