$def with (tags)
$:{RENDER("common/stage_title.html", ["Edit Community Tagging Restrictions", "Settings"])}

<div class="content form clear">
  <form method="post" class="form skinny clear" action="/control/tagrestrictions">
    <h3>Community Tagging Restrictions Information</h3>
    <p>
      Other users won't be able to add tags listed here to your submissions. In
      addition to blocking individual tags, you can forbid tag patterns by using <code>*</code>
      as a wildcard. Wildcard patterns may only use one <code>*</code> and must contain at
      least two additional characters. For example, <code>sun*</code> matches <em>sunrise</em> and
      <em>sunset</em>; <code>*_pen</code> matches <em>fountain_pen</em> and <em>ballpoint_pen</em>.
    </p>
    <p>
      You can still add these tags to your own submissions.
    </p>
    <span class="label">Add or Remove Tags:</span><br />
    <textarea class="input tags-textarea" name="tags">${" ".join(tags)}</textarea>
    <div style="padding-top: 1em;">
      <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
