$def with (profile, target)
$:{RENDER("common/stage_title.html", ["Edit Streaming Settings", "Settings"])}

$code:
  def _SELECTED(x):
    return ' selected="selected"' if profile['streaming_status'] == x else ''

<div class="content">
  <form name="streaming" class="form skinny clear" action="" method="post">
    <input type="hidden" name="target" value="${target}">

    <h3>
      Streaming Settings
      $if target:
        for ${profile['username']}
    </h3>

    <label for="set_stream">Status</label>
    <select id="set_stream" class="input" name="set_stream">
    $if profile['streaming_status'] != 'started':
      <option value=""$:{_SELECTED('stopped')}>I am not streaming right now</option>
      <option value="later"$:{_SELECTED('later')}>I will start streaming later</option>
      <option value="start">I am now streaming</option>
    $else:
      <option value="still" selected="selected">I am still streaming right now</option>
      <option value="later">I will start streaming again later</option>
      <option value="">I am no longer streaming</option>
    </select>

    <label for="stream_length">Stream Length</label>
    <input type="number" class="input" id="stream_length" name="stream_length" placeholder="ex: 60" min="1" max="360" />
    <p class="color-lighter" style="margin-top: 0.5em;"><i>
      Required if you set the stream status to "now streaming". This
      must be length of time, in minutes, during which that you expect to be
      streaming. Your streaming status will be automatically turned off after
      this time. This value is limited to 6 hours, or 360 minutes.
    </i></p>

    <label for="stream_url">Stream Location</label>
    <input type="url" class="input" id="stream_url" name="stream_url" value="${profile['stream_url']}" />

    <label for="stream_text">Stream Description</label>
    <input type="text" class="input" id="stream_text" name="stream_text" value="${profile['stream_text']}" />

    <button class="button positive" style="float: right; margin-top: 1em;">Update</button>
  </form>

</div>
