$def with (config, jsonb_settings, current_rating, allowed_ratings)
$:{RENDER("common/stage_title.html", ["Site Preferences", "Settings"])}
$code:
  def _CHECKED(x):
    return ' checked="checked"' if x in config else ''
  def _SELECTED(x):
    return ' selected="selected"' if x in config else ''
  def _RATING(current, x):
    return ' selected="selected"' if current == x else ''

<div class="content">
  <form name="controleditpreferences" class="form skinny" action="/control/editpreferences" method="post">
    <label for="custom_thumbs">Custom Thumbnails</label>
    <select name="custom_thumbs" class="input" id="custom_thumbs">
      <option value="enable"$:{' selected' if not jsonb_settings.disable_custom_thumbs else ''}>
        Show artists' custom thumbnails for visual submissions
      </option>
      <option value="disable"$:{' selected' if jsonb_settings.disable_custom_thumbs else ''}>
        Use only generated thumbnails for all visual submissions
      </option>
    </select>
    <p class="input-detail color-lighter">This does not apply to your own submissions.</p>

    <p>
      <label for="siterating">Maximum Viewable Content Rating</label>
      <select name="rating" class="input" id="siterating"$:{'' if len(allowed_ratings) > 1 else ' disabled'}>
        $for rating in allowed_ratings
          <option value="${rating.code}"$:{_RATING(current_rating, rating)}>${rating.name_with_age}</option>
      </select>
      $if len(allowed_ratings) > 1:
        <small class="input-detail fine-print color-lighter">By selecting "Mature (18+)" or "Explicit (18+)", you agree that you are 18 years of age or older, and that you are abiding by laws governed by your local state and/or country as well as by the <a href="/policy/tos">Weasyl Terms of Service</a>.</small>
      $else:
        <small class="input-detail fine-print color-lighter">You can’t select age-restricted ratings while you’re under 18.</small>
    </p>

    <label>Custom Profile Settings</label>

    <input type="hidden" name="tagging"$:{_CHECKED("k")} />

    <label class="input-checkbox">
      <input type="checkbox" name="hideprofile"$:{_CHECKED("h")} />
      Hide my profile from users who aren’t signed in
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="hidestats"$:{_CHECKED("i")} />
      Don’t show my user statistics on my profile
    </label>

    <label class="input-checkbox">
      <input type="checkbox" id="hidefavbar" name="hidefavbar"$:{_CHECKED("u")} />
      Don’t show my favorites on my profile
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="hidefavorites" data-disables="hidefavbar"$:{_CHECKED("v")} />
      Hide my favorites from other users
    </label>

    <label for="siteshouts">Shouts</label>
    <select name="shouts" class="input" id="siteshouts">
      <option value="">Allow all users to comment on my shouts page</option>
      <option value="x"$:{_SELECTED('x')}>Allow only friends to comment on my shouts page</option>
      <option value="w"$:{_SELECTED('w')}>Allow only site staff to comment on my shouts page</option>
    </select>

    <label for="sitenotes">Notes</label>
    <select name="notes" class="input" id="sitenotes">
      <option value="">Allow all users to send me private messages</option>
      <option value="z"$:{_SELECTED('z')}>Allow only friends to send me private messages</option>
      <option value="y"$:{_SELECTED('y')}>Allow only site staff to send me private messages</option>
    </select>

    <label>Default Follow User Settings</label>
      <p class="color-lighter" style="padding-bottom: 0.5em;"><i>These settings apply to all users you follow on Weasyl <b>in the future</b>, not to users you have <b>already followed.</b></i></p>
      <p class="color-lighter" style="padding-bottom: 0.5em;"><i>To change follow settings for individual users you have already followed, go to <a href="/manage/following">Users You Follow</a> and modify them in "Edit Settings".</i></p>

    <label class="input-checkbox">
      <input type="checkbox" name="follow_s"$:{_CHECKED("s")} />
      Submissions posted by the followed user
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="follow_c"$:{_CHECKED("c")} />
      Submissions collected by the followed user
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="follow_f"$:{_CHECKED("f")} />
      Characters posted by the followed user
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="follow_t"$:{_CHECKED("t")} />
      Stream statuses set by the followed user
    </label>

    <label class="input-checkbox">
      <input type="checkbox" name="follow_j"$:{_CHECKED("j")} />
      Journals posted by the followed user
    </label>

    <div class="clear" style="padding-top: 1em;">
      <button class="button positive" style="float:right;">Save</button>
    </div>
  </form>
</div>
