$def with (api_keys)
$:{RENDER("common/stage_title.html", ["API Keys", "Settings"])}

<div id="apikeys-content" class="content form clear">

  <div class="column">
    <h3>Add API Key</h3>

    <form name="add-api-key" action="" method="post" class="clear">
      <label for="add-key-description">Key Description</label>
      <input type="text" id="add-key-description" class="input last-input" name="add-key-description"
             placeholder="optional" />
      <h4>Important note</h4>
      <p>
        A user agent accessing Weasyl with your API key can currently <em>do
        anything as if they were logged in as you</em>. Do <em>not</em> give
        API keys to anyone or anything you don't trust.
      </p>
      <p style="margin-bottom: 0.5em;">
        However, user agents accessing Weasyl with your API key also
        will <em>never</em> be able to see your password.
      </p>
      <button name="add-api-key" value="y" class="button last-input positive" style="float: right;">
        New API Key
      </button>
    </form>
  </div>

  <div class="column">
    <h3>Manage API Keys</h3>

    <form name="manage-api-keys" action="" method="post" class="clear">
      $if api_keys:
        <ul id="api-token-list">
          $for token, description in api_keys:
            <li>
              <label class="input-checkbox">
                <input type="checkbox" name="delete-api-keys" value="${token}" />

                <em>
                  $if description:
                    ${description}
                  $else:
                    (no description)
                </em>
              </label>

              <tt class="api-token">${token}</tt>
            </li>
        </ul>
        <p style="margin: 0.5em;">
          Deleting an API key will make it immediately unusable.
        </p>
        <button class="button negative" style="float: right;">Delete Selected Keys</button>
      $else:
        <p style="padding-top: 1em;">You have no API keys!</p>

    </form>
  </div>

  <h3>How to use API keys</h3>
  <p>
    To connect to Weasyl using an API key, set the value of
    the <tt>X-Weasyl-API-Key</tt> HTTP header to the API key. This will
    override any cookie-based authentication.
  </p>

</div>
