$def with (username, existing_redirect, insufficient_days)
$:{TITLE("Change Username", "Settings", "/control")}
<div class="content">
  <form id="username_change" class="form skinny clear" action="/control/username" method="post">
    <label for="new_username">New username</label>
    <input id="new_username" class="input" type="text" name="new_username" value="${username.display}" required maxlength="25"
      $if insufficient_days is not None:
        disabled
      >

    $code:
      old_link = "/~" + username.sysname
      older_link = None if existing_redirect is None else "/~" + existing_redirect.sysname

    <div class="formatted-content" style="margin-top: 1em">
      <ul>
        <li>Your username will be changed to the one you entered.</li>
        <li>The profile link with your current username, <a href="${old_link}">https://www.weasyl.com${old_link}</a>, will keep working and redirect to your new username. (You’ll have the option to release the username completely after making the change.)</li>

        $if older_link is not None:
          <li>Your older username, <a href="${older_link}">https://www.weasyl.com${older_link}</a>, will stop working and be free for someone else to claim.</li>

        <li>You won’t be able to change your username again for 30 days.</li>
      </ul>
    </div>

    $if insufficient_days is not None:
      <p style="margin-top: 1em"><strong>You last changed your username ${insufficient_days} day${'' if insufficient_days == 1 else 's'} ago, so it’s too soon to change it again.</strong></p>

    <div class="clear" style="margin-top: 1em">
      <button name="do" value="change" class="button positive" style="float:right;"
        $if insufficient_days is not None:
          disabled
        >Change Username</button>
    </div>
  </form>

  $if existing_redirect is not None:
    <form id="username_release" class="form skinny clear" action="/control/username" method="post">
      <p style="margin-top: 2em">Your old username, <strong>${existing_redirect.display}</strong>, is reserved, and anyone visiting <a href="${older_link}">https://www.weasyl.com${older_link}</a> will be redirected to your current one.</p>

      <p style="margin-top: 1em">You can release your old username. The link will stop working and the name will be free for someone else to claim.</p>

      <div style="margin-top: 1em">
        <button name="do" value="release" class="button negative" style="float:right;">Release Old Username</button>
      </div>
    </form>
</div>
