$def with (avatar, exists)
$:{RENDER("common/stage_title.html", ["Edit Avatar", "Settings"])}

<div id="manage-avatar-content" class="content">
  $if(exists):
    <form id="manage-avatar" class="form skinny clear" action="/manage/avatar" method="post">
      <h3>Finalize Avatar</h3>

      <div id="manage-avatar-image"><img id="imageselect" src="${avatar}" alt="image" style="display: block; margin: 0 auto;" /></div>
      <p style="padding-top: 1em;">You may optionally select a portion of the image to use as your avatar. The final image will be resized to fit within 100×100px.</p>

      <input type="hidden" id="x1" name="x1" value="0" />
      <input type="hidden" id="y1" name="y1" value="0" />
      <input type="hidden" id="x2" name="x2" value="0" />
      <input type="hidden" id="y2" name="y2" value="0" />
      <button class="button highlighted" style="float: right;">Finalize</button>

    </form>

  <form id="upload-avatar" class="form skinny clear" action="/control/uploadavatar" method="post" enctype="multipart/form-data">
    <h3>Upload an Image</h3>
    <input type="file" name="image" accept="image/*" />
    <p style="padding-top: 1em; color: #f00000;">Do not upload an avatar that is not suitable for all audiences, as this content can be viewed by anyone.</p>
    <button class="button positive" style="float: right; margin-top: 2em;">Upload</button>
  </form>

</div>
