$:{RENDER("common/stage_title.html", ["Edit Banner", "Settings"])}

<div id="manage-banner-content" class="content">
  <form name="managebanner" class="form skinny clear" action="/manage/banner" method="post" enctype="multipart/form-data">
    <h3 style="padding-bottom: 0.5em;">Upload an Image</h3>
    <input type="file" name="image" accept="image/*" />

    <p style="padding-top: 1em;">Banners will be resized to fit within 1650×250px.</p>
    <p style="padding-top: 1em;">To remove your current banner without replacing it, click <strong>Continue</strong> without selecting an image file.</p>
    <p style="padding: 1em 0 2em 0; color: #f00000;">Do not upload a banner that is not suitable for all audiences, as this content can be viewed by anyone.</p>

    <button class="button positive" style="float: right;">Continue</button>
  </form>
</div>
