$def with (settings)
$:{RENDER("common/stage_title.html", ["Collection Settings", "Settings"])}
$code:
  def _CHECKED(x):
    return ' checked' if settings[x] else ''

<div id="manage_collection_options" class="content">
  <form class="form skinny" action="/control/collections" method="post">
    <h3>Collection Settings</h3>
    <label class="input-checkbox" style="margin-top:1.5em">
      <input type="checkbox" name="allow_request"$:{_CHECKED("allow_request")} />
      Allow users to request my submissions as a collection
    </label>

    <label class="input-checkbox last-input">
      <input type="checkbox" name="allow_notification"$:{_CHECKED("allow_notification")} />
      Recieve notifications for comments and favorites on items I've collected
    </label>

    <div class="clear">
      <button class="button positive" style="float:right;">Save</button>
    </div>
  </form>
</div>
