$def with (query, userid)
$:{RENDER("common/stage_title.html", ["Pending Collections", "Settings"])}
$ _LIST_ITEM = COMPILE("common/thumbnail_list_item.html")
$code:
  card_viewer = get_card_viewer()
  cards = card_viewer.get_cards(query)

<div id="manage-collections" class="content">
  $if query:
    <form method="post">
      <div id="messages-checkboxes">
        $for i, card in zip(query, cards):
          $:{_LIST_ITEM(i, card, caption="collection_pending" if i["collectorid"] == userid else "collection_requested")}

        <div id="buttons">
          <a class="button back" href="/manage/collections?feature=pending&amp;backid=${query[0]['submitid']}">Back</a>
          <button class="button" name="action" value="accept">Accept Selected</button>
          <button class="button negative" name="action" value="reject" data-confirm="Are you sure you want to reject the selected collections?">Reject Selected</button>
          <a class="button next" href="/manage/collections?feature=pending&amp;nextid=${query[-1]['submitid']}">Next</a>
        </div>
      </div>
    </form>
  $else:
    <p id="caption">There are no collections to display.</p>
</div>
