$def with (query)
$:{RENDER("common/stage_title.html", ["Accepted Collections", "Settings"])}
$ _LIST_ITEM = COMPILE("common/thumbnail_list_item.html")
$code:
  card_viewer = get_card_viewer()
  cards = card_viewer.get_cards(query)

<div id="manage_collections_content" class="content" style="padding-top: 2.5em;">
  $if query:
    <form action="/collection/remove" method="post" data-confirm="Are you sure you want to remove the selected collections?">
      $for i, card in zip(query, cards):
        $:{_LIST_ITEM(i, card, caption="collection_accepted")}

      <div id="buttons">
        <a class="button back" href="/manage/collections?feature=accepted&amp;backid=${query[0]['submitid']}">Back</a>
        <button class="button negative">Remove Selected</button>
        <a class="button next" href="/manage/collections?feature=accepted&amp;nextid=${query[-1]['submitid']}">Next</a>
      </div>
    </form>
  $else:
    <p id="caption">There are no collections to display.</p>
</div>
