$def with (folders)
$:{RENDER("common/stage_title.html", ["Submission Folders", "Settings"])}

<div id="manage-folders-content" class="content">

  <form id="create-folder" action="/control/createfolder" method="post" class="form skinny">
    <h3>Create Folder</h3>

    <label for="foldersnew">Folder Title:</label>
    <input type="text" name="title" class="input" id="foldersnew" />

    <label for="foldersparent">Parent Folder:</label>
    <select name="parentid" id="foldersparent" class="input last-input">
      <option value="0">No folder selected</option>
      $for i in [j for j in folders if not j['subfolder']]:
        <option value="${i['folderid']}">${i['title']}</option>
    </select>

    <button class="button positive" style="float: right;">Create Folder</button>
  </form>

  <form id="rename-folder" action="/control/renamefolder" method="post" class="form skinny">
    <h3>Rename Folder</h3>

    <label for="foldersnew">Folder Title:</label>
    <input type="text" name="title" class="input" id="foldersnew" />

    <label for="folderscurrent">Current Folder Name:</label>
    <select name="folderid" id="folderscurrent" class="input last-input">
      <option value="0">No folder selected</option>
      $for i in folders:
        <option value="${i['folderid']}">${i['title']}</option>
    </select>

    <button class="button positive" style="float: right;">Rename Folder</button>
  </form>

  <form id="move-folder" action="/control/movefolder" method="post" class="form skinny">
    <h3>Move Folder</h3>

    <label for="folderscurrent">Current Folder:</label>
    <select name="folderid" id="folderscurrent" class="input last-input">
      <option value="0">No folder selected</option>
      $for i in [j for j in folders if not j['haschildren']]:
        <option value="${i['folderid']}">${i['title']}</option>
    </select>

    <label for="foldersnewparent">New Parent Folder:</label>
    <select name="parentid" id="foldersnewparent" class="input last-input">
      <option value="0">Root</option>
      $for i in [j for j in folders if not j['subfolder']]:
        <option value="${i['folderid']}">${i['title']}</option>
    </select>

    <button class="button positive" style="float: right;">Move Folder</button>
  </form>

  <form id="remove-folder" action="/control/removefolder" method="post" class="form skinny">
    <h3>Remove Folder</h3>

    <p>Removing a folder will also remove its subfolders. The submissions in each removed folder will be moved to your root folder.</p>

    <label for="foldersremove">Folder Title:</label>
    <select name="folderid" id="foldersremove" class="input last-input">
      <option value="0">No folder selected</option>
      $for i in folders:
        <option value="${i['folderid']}">${i['title']}</option>
    </select>

    <button class="button negative" style="float: right;">Remove Folder</button>
  </form>

  $if folders:
    <div style="max-width: 30em; margin: 0 auto">
      <h3>Edit Folder Options</h3>
      <ul>
      $for i in folders:
        <li><a href="/control/editfolder/${i['folderid']}">${i['title']}</a></li>
      </ul>
    </div>

</div>
