$def with (info)
$:{RENDER("common/stage_title.html", ["Submission Folders", "Settings"])}
$code:
  def _CHECKED(c, name):
    return ''.join([
      ' value="%s"' % (c,),
      ' checked' if name in info.settings else '',
    ])

<div class="content">

  <div class="form skinny clear">
    <h3>${info.title}</h3>
    <form method="post">
      <p>
      <label class="input-checkbox">
        <input type="checkbox" name="settings" $:{_CHECKED("f", "featured-filter")} />
        This is a featured submissions folder <em class="color-lighter">
          (A random item will be chosen from all featured submission folders to
          be shown as your "featured" submission on <a href="/~">your profile page</a>.)</em>
      </label>
      </p>
      <br>
      <p>
      <strong>Submissions created in this folder:</strong>
      <label class="input-checkbox last-input">
        <input type="checkbox" name="settings" $:{_CHECKED("n", "no-notifications")} />
        Do not generate "new submission" notifications to your followers
      </label>
      </p>
      <p>
      <strong>Submissions inside this folder:</strong>
      <label class="input-checkbox">
        <input type="checkbox" name="settings" $:{_CHECKED("m", "index-filter")} />
        Will not appear on <a href="https://www.weasyl.com/">Weasyl's front page</a>
      </label>
      <label class="input-checkbox last-input">
        <input type="checkbox" name="settings" $:{_CHECKED("u", "profile-filter")} />
        Will not appear on <a href="/~">your profile page</a> or <a href="/submissions">your submissions page</a>
      </label>
      </p>

      <button class="button positive" style="float: right;">Update Settings</button>
    </form>
  </div>
</div>
