$def with (query)
$:{TITLE("Users You Follow", "Settings", "/control")}

<div class="content" id="following-users">
  $if(query):
    <ul class="grid avatar-grid">
    $for i in query:
      <li class="grid-unit">
        <figure class="thumbnail">
          $ avatar = i['user_media']['avatar'][0]
          <a class="avatar" href="/~${LOGIN(i['username'])}" title="${i['username']}">
            <img src="${avatar['display_url']}" alt="avatar of ${i['username']}" />
          </a>
          <figcaption class="caption centered big">
            <h5><a class="username one-line" href="/~${LOGIN(i['username'])}" title="${i['username']}">${i['username']}</a></h5>
            <a class="button positive" href="/manage/following?userid=${i['userid']}">Edit Settings</a>
            <form action="/unfollowuser" method="post" data-confirm="Unfollow this user?">
              $:{CSRF()}
              <input type="hidden" name="userid" value="${i['userid']}" />
              <button class="button negative">Unfollow</button>
            </form>
          </figcaption>
        </figure>

    </ul><!-- /.thumbnail-grid -->
    <div>
      <a class="button" href="/manage/following?backid=${query[0]['userid']}">Back</a>
      <a class="button" href="/manage/following?nextid=${query[-1]['userid']}">Next</a>
    </div>
  $else:
    <p>There are no followed users to display.</p>
</div>
