$def with (profile, settings)
$:{RENDER("common/stage_title.html", ["Followed User", "Settings"])}
$code:
  def _CHECKED(x):
    return ' checked="checked"' if x in settings else ''

<div class="content">

  <div class="form skinny clear">
    <h3>${profile['username']}</h3>
    <form name="managefollowing" action="/manage/following" method="post">
      <input type="hidden" name="userid" value="${profile['userid']}" />

      <label for="followsubmit" class="input-checkbox">
        <input type="checkbox" id="followsubmit" name="submit"$:{_CHECKED("s")} />
        Submissions posted by this user
      </label>
      <label for="followcollect" class="input-checkbox">
        <input type="checkbox" id="followcollect" name="collect"$:{_CHECKED("c")} />
        Submissions collected by this user
      </label>
      <label for="followchar" class="input-checkbox">
        <input type="checkbox" id="followchar" name="char"$:{_CHECKED("f")} />
        Characters posted by this user
      </label>
      <label for="followstream" class="input-checkbox">
        <input type="checkbox" id="followstream" name="stream"$:{_CHECKED("t")} />
        Stream statuses set by this user
      </label>
      <label for="followjournal" class="input-checkbox last-input">
        <input type="checkbox" id="followjournal" name="journal"$:{_CHECKED("j")} />
        Journals posted by this user
      </label>

      <button class="button positive" style="float: right;">Update Settings</button>
    </form>
  </div>
</div>
