$def with (query)
$:{TITLE("Friends", "Settings", "/control")}

<div class="content" id="friends-accepted">
  $if(query):
    <ul class="grid avatar-grid">
    $for i in query:
      <li class="grid-unit">
        <figure class="thumbnail">
          $ avatar = i['user_media']['avatar'][0]
          <a class="avatar" href="/~${LOGIN(i['username'])}" title="${i['username']}">
            <img src="${avatar['display_url']}" alt="avatar of ${i['username']}" />
          </a>
          <figcaption class="caption centered big">
            <h5><a class="username one-line" href="/~${LOGIN(i['username'])}" title="${i['username']}">${i['username']}</a></h5>
            <form action="/unfrienduser" method="post">
              $:{CSRF()}
              <input type="hidden" name="userid" value="${i['userid']}" />
              <input type="hidden" name="feature" value="accepted" />
              <button type="submit" class="button negative">Unfriend</button>
            </form>
          </figcaption>
        </figure>

    </ul><!-- /.grid -->
  $else:
    <p>You have not accepted any friend requests.</p>
</div>
