$def with (query)
$:{TITLE("Friend Requests", "Settings", "/control")}

<div class="content" id="friends-pending">
  $if(query):
    <ul class="grid avatar-grid">
    $for i in query:
      <li class="grid-unit">
        <figure class="thumbnail">
          $ avatar = i['user_media']['avatar'][0]
          <a class="avatar" href="/~${LOGIN(i['username'])}" title="${i['username']}">
            <img src="${avatar['display_url']}" alt="avatar of ${i['username']}" />
          </a>
          <figcaption class="caption centered big">
            <h5><a class="username one-line" href="/~${LOGIN(i['username'])}" title="${i['username']}">${i['username']}</a></h5>
            <form action="/frienduser" method="post">
              $:{CSRF()}
              <input type="hidden" name="userid" value="${i['userid']}" />
              <input type="hidden" name="feature" value="pending" />
              <input type="hidden" name="action" value="sendfriendrequest" />
              <button type="submit" class="button positive">Accept</button>
            </form>
            <form action="/unfrienduser" method="post">
              $:{CSRF()}
              <input type="hidden" name="userid" value="${i['userid']}" />
              <input type="hidden" name="feature" value="pending" />
              <button type="submit" class="button negative">Ignore</button>
            </form>
          </figcaption>
        </figure>

    </ul>
  $else:
    <p>You do not have any pending friend requests</p>
</div>
