$def with (query)
$:{TITLE("Friends", "Settings", "/control")}

<div class="content content-vpad">
  $if(query):
    <ul class="avatar-grid">
    $for i in query:
      <li>
        <figure>
          $ avatar = i['user_media']['avatar'][0]
          <a class="avatar" href="/~${LOGIN(i['username'])}" title="${i['username']}">
            <img src="${avatar['display_url']}" alt="avatar of ${i['username']}" />
          </a>
          <figcaption>
            <h5><a class="username one-line" href="/~${LOGIN(i['username'])}" title="${i['username']}">${i['username']}</a></h5>
            <form action="/frienduser" method="post">
              <input type="hidden" name="userid" value="${i['userid']}" />
              <input type="hidden" name="feature" value="accepted" />
              <button name="action" value="unfriend" class="button negative">Unfriend</button>
            </form>
          </figcaption>
        </figure>

    </ul>
  $else:
    <p>You have not accepted any friend requests.</p>
</div>
