$def with (query)
$:{RENDER("common/stage_title.html", ["Ignored Users", "Settings"])}

<div class="content">

  <div class="form skinny">
    <form name="controlignoreuser" action="/control/ignoreuser" method="post">
      <h3>Add Users to Ignore List</h3>
      <p>Enter the usernames of users who you wish to ignore while browsing the site. You can enter multiple usernames by separating each name with a semicolon (ex: user1;user2)</p>

      <label for="ignoreusername">Usernames:</label>
      <input type="text" name="username" class="input last-input" id="ignoreusername" />

      <button class="button negative">Ignore User(s)</button>
    </form>

    <form name="controlunignoreuser" action="/control/unignoreuser" method="post">
      <h3>Remove Users from Ignore List</h3>
      <p>Enter the usernames of users who you no longer wish to ignore. You can enter multiple usernames by separating each name with a semicolon</p>

      <label for="ignoreremoveusername">Usernames:</label>
      <input type="text" name="username" class="input last-input" id="ignoreremoveusername" />

      <button class="button positive">Un-Ignore User(s)</button>
    </form>

    <h3>Users You Already Ignore</h3>

    $if query:
      <ul>
      $for i in query:
        <li><a href="/~${LOGIN(i['username'])}">${i['username']}</a></li>
      </ul>
    $else:
      <p>(nobody!)</p>
  </div>
</div>
