$def with (blocktag, filter_ratings)
$:{RENDER("common/stage_title.html", ["Blocked Tags", "Settings"])}

<div id="filters-content" class="content">
  <form method="post" class="form skinny clear">
    <h3>Block New Tags</h3>

    <p>Enter tags to block if you don't want to see content marked with any of these tags. You can choose the range of ratings for which these tags will be blocked.</p>

    <label for="tagfilters_title">Tags</label>
    <textarea name="title" class="input tags-textarea" rows="3"></textarea>
    <p class="color-lighter tags-help"><i>Separate tags with a space. Use an underscore for multiple words in a tag, ex. red_fox</i></p>

    <label for="tagfilters_rating">Ratings</label>
    <select name="rating" id="tagfilters_rating" class="input">
    $for rating in filter_ratings:
      <option value="${rating.code}">${rating.block_text}</option>
    </select>

    <div class="buttons clear">
      <button class="button positive" name="do" value="create">Block tags</button>
    </div>
  </form>

  <form method="post" class="filters-blocked">
    <h3>Blocked Tags</h3>

    $if blocktag:
      <table class="filters-list">
        <thead>
          <tr>
            <th></th>
            <th>Tag</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          $for i in blocktag:
            $ title = i['title']
            <tr>
              <td>
                <label>
                  <input id="select-tag-${title}" type="checkbox" name="title" value="${title}" />
                </label>
              </td>
              <td>
                <label for="select-tag-${title}">
                  ${title}
                </label>
              </td>
              <td>
                <label for="select-tag-${title}">
                  ${R.CODE_MAP[i['rating']].nice_name}${'+' if i['rating'] != R.EXPLICIT.code else ''}
                </label>
              </td>
            </tr>
        </tbody>
      </table>
      <div class="buttons clear">
        <button class="button negative" name="do" value="remove">Unblock selected tags</button>
      </div>
    $else:
      <p>No tags blocked.</p>

  </form>
</div>
