$def with (blocktag, filter_ratings)
$:{RENDER("common/stage_title.html", ["Tag Filters", "Settings"])}

<div id="filters-content" class="content">
  <form method="POST" class="form skinny clear">
    $:{CSRF()}

    <h3>Create Filters</h3>

    <p>Enter a tag to add to your filters. To enter a tag composed of multiple words, separate each word with an underscore character, as in <strong>new_york_city</strong>.</p><br/>

    <label for="tagfilters_title">Content Tag:</label>
    <input type="text" name="title" id="tagfilters_title" class="input" />

    <p class="color-lighter tags-help"><i>Create a <strong>blacklist filter</strong> if you don't want to see content that is marked with this tag. You can choose the range of ratings for which this tag will be blocked.</i></p><br/>

    <label for="tagfilters_rating">Rating to Filter:</label>
    <select name="rating" id="tagfilters_rating" class="input">
    $for rating in filter_ratings:
      <option value="${rating.code}">${rating.block_text}</option>
    </select>

    <div id="tagfilters_content_buttons" class="clear">
      <button class="button positive" name="do" value="create">Create Filter</button>
      <button class="button negative" name="do" value="remove">Remove Filter</button>
      <a class="button" href="/control" style="float:right">Cancel</a>
    </div>

    <h3>Blacklist Filters</h3>

    <div id="tagfilters_standard" class="tagfilters clear">
      $if blocktag:
        $for i in blocktag:
          <span>
            <strong>${i['title']}</strong>
            ${R.CODE_MAP[i['rating']].nice_name}${'+' if i['rating'] != R.EXPLICIT.code else ''}
          </span>
      $else:
        There are no blacklist filters to display.
    </div>
  </form>
</div>
