$def with (query)
$:{RENDER("common/stage_title.html", ["Old Thumbnail Selection", "Settings"])}

<div class="content">
  <form method="POST">
    $:{CSRF()}

    $if query:
      <div class="formatted-content constrained">
        <h3>This tool can restore old-style thumbnails for your submissions or reset a restored thumbnail
          on a visual submission with weasyl's generated default. Note that restoring an old-style thumbnail
          will overwrite the custom thumbnail, if any, on a submission.
        </h3>
      </div>
      <div class="thumb-opt-out-controls">
        <button id="select-old" class="button" type="button">Select All <strong>Old</strong></button>
        <button id="select-new" class="button" type="button">Select All <strong>New</strong></button>
      </div>

      <ul class="thumb-opt-out-list">
        $for submission in query:
          $code:
            id = submission['submitid']
            media = submission['sub_media']
            thumbnail_legacy = media.get('thumbnail-legacy')
            thumbnail_generated = media['thumbnail-generated']
            thumbnail_custom = media.get('thumbnail-custom')

            if thumbnail_custom and thumbnail_custom[0]['mediaid'] == thumbnail_legacy[0]['mediaid']:
              thumbnail_custom = None
              is_legacy = True
            else:
              is_legacy = False

            thumb_old = thumbnail_legacy[0]
            thumb_new = (thumbnail_custom or thumbnail_generated)[0]
            if thumb_new['display_url'] == M.MACRO_BLANK_THUMB:
              subtype = submission.get('subtype', 0)

              if 2000 <= subtype < 3000:
                thumb_new['display_url'] = '/static/images/default-thumbs/lit.png'
              elif 3000 <= subtype < 3040:
                thumb_new['display_url'] = '/static/images/default-thumbs/music.png'
              elif 3040 <= subtype < 4000:
                thumb_new['display_url'] = '/static/images/default-thumbs/multi.png'

          <li class="thumb-opt-out-item">
            <h3 class="thumb-opt-out-name">${submission['title']}</h3>

            <label class="thumb-opt-out-label clear old">
              <input type="radio" name="${id}_thumb" value="old" class="thumb-opt-out-radio"$:{' checked' if is_legacy else ''} />
              <img src="${thumb_old['display_url']}" alt="Old thumbnail" class="thumb-opt-out-thumb" />
              <span class="thumb-opt-out-arrow"></span>
            </label>

            <label class="thumb-opt-out-label clear new">
              <input type="radio" name="${id}_thumb" value="new" class="thumb-opt-out-radio"$:{'' if is_legacy else ' checked'} />
              <img src="${thumb_new['display_url']}" alt="New thumbnail" class="thumb-opt-out-thumb" />
              <span class="thumb-opt-out-arrow"></span>
            </label>
          </li>
      </ul>

      <div class="thumb-opt-out-submit">
        <button class="button positive">Save Selections</button>
      </div>
    $else:
      <p class="thumb-opt-out-nothing">You have no submissions eligible for opt-out. Hooray!</p>
  </form>
</div>

<script>
  (function () {
    function checkAllOfValue(val) {
      var els = document.querySelectorAll('input[value="' + val + '"]');
      for (var i = 0; i < els.length; i++) {
        els[i].checked = true;
      }
    }

    document.getElementById('select-old').addEventListener('click', function () {
      checkAllOfValue('old');
    });
    document.getElementById('select-new').addEventListener('click', function () {
      checkAllOfValue('new');
    });
  })();
</script>
