$def with (feature, targetid, thumbnail, exists)
$:{RENDER("common/stage_title.html", ["Submission Thumbnail" if feature == "submit" else "Character Thumbnail", "Manage"])}

<div id="manage_thumbnail_content" class="content">

  $if(exists):
    <h3>Choose Thumbnail</h3>
    <div style="text-align: center;"><img id="imageselect" src="${thumbnail}" alt="image" /></div>
    <p style="text-align: center; padding: 0.5em 0 1em;">Click and drag to choose a thumbnail. You may also upload a custom thumbnail or continue without choosing to have one generated automatically</p>
  $else:
    <h3>Upload Thumbnail</h3>
    <p style="padding: 0.5em 0 1em;">Press <strong>Upload</strong> to select an image from which you will create the thumbnail for this ${'submission' if feature == 'submit' else 'character'}.</p>

  <form name="manage_thumbnail" action="/manage/thumbnail" method="post" enctype="multipart/form-data">
    $:{CSRF()}
    <input type="hidden" name="${feature}id" value="${targetid}" />
    <input type="hidden" id="x1" name="x1" value="0" />
    <input type="hidden" id="y1" name="y1" value="0" />
    <input type="hidden" id="x2" name="x2" value="0" />
    <input type="hidden" id="y2" name="y2" value="0" />

    <div id="manage_thumbnail_file" style="display:none;">
      <input type="file" name="thumbfile" accept="image/*" />
    </div>
  </form>

  <div id="manage_thumbnail_buttons" style="text-align: center;">
    <a class="button" href="javascript:void(0);" onclick="document.getElementById('manage_thumbnail_file').style.display='block';">Upload</a>
    <a class="button positive" href="javascript:void(0);" onclick="_leaveConfirm=true; document.manage_thumbnail.submit();">Continue</a>
  </div>

</div><!-- /content -->
