<div class="stage clear">
  <h2 class="page-title">
    Halloweasyl 2014
  </h2>
</div><!-- /stage -->

<div id="search-stage" class="stage clear">
  <ul class="thumbnail-grid">

<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="768291"><a href="/submission/768291/master-weasyl">
    
    <img class="lazy" data-src="/static/media/ff/54/ed/ff54ed6cdb1e12c70a247d674648164536686d969745cce33d035c7556d9f15b.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Master Weasyl" crossorigin="anonymous" />
    <noscript><img src="/static/media/ff/54/ed/ff54ed6cdb1e12c70a247d674648164536686d969745cce33d035c7556d9f15b.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Master Weasyl">Master Weasyl</h5>
    <h6 class="byline"><i>by</i> <a href="/~itallant" class="username">iTallaNT</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="767677"><a href="/submission/767677/live-long-and-prosper">
    
    <img class="lazy" data-src="/static/media/6f/8c/92/6f8c922ced8bb806189b92cacaed5b1c2d5dd4aee2b6843564cf11513e8423f5.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Live Long and Prosper!" crossorigin="anonymous" />
    <noscript><img src="/static/media/6f/8c/92/6f8c922ced8bb806189b92cacaed5b1c2d5dd4aee2b6843564cf11513e8423f5.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Live Long and Prosper!">Live Long and Prosper!</h5>
    <h6 class="byline"><i>by</i> <a href="/~vessels" class="username">Vessels</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="767635"><a href="/submission/767635/halloweasyl-entry-zacharie-from-off">
    
    <img class="lazy" data-src="/static/media/5a/8f/b4/5a8fb464ef9c4ba539fa15b05d39268cfe587f529402152a151c6c4cd2166aa0.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Halloweasyl Entry - Zacharie from OFF" crossorigin="anonymous" />
    <noscript><img src="/static/media/5a/8f/b4/5a8fb464ef9c4ba539fa15b05d39268cfe587f529402152a151c6c4cd2166aa0.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Halloweasyl Entry - Zacharie from OFF">Halloweasyl Entry - Zacharie from OFF</h5>
    <h6 class="byline"><i>by</i> <a href="/~mainarashenzai" class="username">MainaraShenzai</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="767367"><a href="/submission/767367/otterly-80-s-wesley">
    
    <img class="lazy" data-src="/static/media/d4/8c/28/d48c2847b8104c7d2eb501c828f366148a1e83acb2b02ece4505bb191112616e.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Otterly 80&#39;s Wesley" crossorigin="anonymous" />
    <noscript><img src="/static/media/d4/8c/28/d48c2847b8104c7d2eb501c828f366148a1e83acb2b02ece4505bb191112616e.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Otterly 80&#39;s Wesley">Otterly 80&#39;s Wesley</h5>
    <h6 class="byline"><i>by</i> <a href="/~relish" class="username">Relish</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="767347"><a href="/submission/767347/weasyl-of-the-night">
    
    <img class="lazy" data-src="/static/media/c3/bb/81/c3bb81acea9f139b18dcae71369ae58ef3e0f8a24d79e9081b13b477546c912a.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Weasyl of the Night" crossorigin="anonymous" />
    <noscript><img src="/static/media/c3/bb/81/c3bb81acea9f139b18dcae71369ae58ef3e0f8a24d79e9081b13b477546c912a.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Weasyl of the Night">Weasyl of the Night</h5>
    <h6 class="byline"><i>by</i> <a href="/~chip" class="username">chip</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="767017"><a href="/submission/767017/led-weasel">
    
    <img class="lazy" data-src="/static/media/1a/1c/b0/1a1cb0edd69f6a36a2e40f759e204e55fc596e757256703b7fe5a9dd051c7ed3.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="LED Weasel" crossorigin="anonymous" />
    <noscript><img src="/static/media/1a/1c/b0/1a1cb0edd69f6a36a2e40f759e204e55fc596e757256703b7fe5a9dd051c7ed3.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="LED Weasel">LED Weasel</h5>
    <h6 class="byline"><i>by</i> <a href="/~tealmoon" class="username">TealMoon</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="766983"><a href="/submission/766983/has-anyone-seen-my-weapon">
    
    <img class="lazy" data-src="/static/media/61/3c/ce/613cce5b11defc83f6548b8bde85e62e36d1756d38b0610ff2210c2cc100da65.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Has anyone seen my Weapon ?" crossorigin="anonymous" />
    <noscript><img src="/static/media/61/3c/ce/613cce5b11defc83f6548b8bde85e62e36d1756d38b0610ff2210c2cc100da65.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Has anyone seen my Weapon ?">Has anyone seen my Weapon ?</h5>
    <h6 class="byline"><i>by</i> <a href="/~teejay87" class="username">TeeJay87</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="766603"><a href="/submission/766603/tron-wesley-and-mcpumpkin">
    
    <img class="lazy" data-src="/static/media/da/ca/de/dacadeb51f6795a9fa12d05bea55789691a92bb2a4e221947cf845f57c90618e.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Tron Wesley and MCPumpkin" crossorigin="anonymous" />
    <noscript><img src="/static/media/da/ca/de/dacadeb51f6795a9fa12d05bea55789691a92bb2a4e221947cf845f57c90618e.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Tron Wesley and MCPumpkin">Tron Wesley and MCPumpkin</h5>
    <h6 class="byline"><i>by</i> <a href="/~nullum" class="username">Nullum</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="766084"><a href="/submission/766084/believe-in-wesley">
    
    <img class="lazy" data-src="/static/media/a0/44/2b/a0442be313780b720aa06bc98079de49d727b900a6b1ed0bb33a7b05f614509a.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Believe in Wesley" crossorigin="anonymous" />
    <noscript><img src="/static/media/a0/44/2b/a0442be313780b720aa06bc98079de49d727b900a6b1ed0bb33a7b05f614509a.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Believe in Wesley">Believe in Wesley</h5>
    <h6 class="byline"><i>by</i> <a href="/~agitoho" class="username">Agitoho</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="764283"><a href="/submission/764283/trick-or-rip">
    
    <img class="lazy" data-src="/static/media/3c/7f/99/3c7f998bacc54619d3803910100334980f6ed1c473a70967900877a0f9cce3c8.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Trick or Rip?!" crossorigin="anonymous" />
    <noscript><img src="/static/media/3c/7f/99/3c7f998bacc54619d3803910100334980f6ed1c473a70967900877a0f9cce3c8.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Trick or Rip?!">Trick or Rip?!</h5>
    <h6 class="byline"><i>by</i> <a href="/~vessels" class="username">Vessels</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="764167"><a href="/submission/764167/which-site-is-this-again">
    
    <img class="lazy" data-src="/static/media/a9/91/4c/a9914ceb398ed9dd608ef6111013ded2c4bf858f6653da865df1def1d445ddc3.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Which site is this again?" crossorigin="anonymous" />
    <noscript><img src="/static/media/a9/91/4c/a9914ceb398ed9dd608ef6111013ded2c4bf858f6653da865df1def1d445ddc3.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Which site is this again?">Which site is this again?</h5>
    <h6 class="byline"><i>by</i> <a href="/~kjorteo" class="username">Kjorteo</a></h6>
  </figcaption>

  </figure>








      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="764082"><a href="/submission/764082/i-m-really-feelin-it-halloween-event-entry">
    
    <img class="lazy" data-src="/static/media/9e/1f/3b/9e1f3bef816e98ccc7c4f7bbc0cf916defb6a39e6afc5f8916b7195aa41b83c5.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="I&#39;m really feelin&#39; it! (Halloween event entry)" crossorigin="anonymous" />
    <noscript><img src="/static/media/9e/1f/3b/9e1f3bef816e98ccc7c4f7bbc0cf916defb6a39e6afc5f8916b7195aa41b83c5.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="I&#39;m really feelin&#39; it! (Halloween event entry)">I&#39;m really feelin&#39; it! (Halloween event entry)</h5>
    <h6 class="byline"><i>by</i> <a href="/~rowedahelicon" class="username">rowedahelicon</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763966"><a href="/submission/763966/it-s-peanut-butter-jelly-time">
    
    <img class="lazy" data-src="/static/media/a8/86/1b/a8861b61bdbc6c72869dce00c8ffc7c02e87597d6f64b964f59b4b506a107cc8.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="It&#39;s Peanut-Butter-Jelly Time!" crossorigin="anonymous" />
    <noscript><img src="/static/media/a8/86/1b/a8861b61bdbc6c72869dce00c8ffc7c02e87597d6f64b964f59b4b506a107cc8.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="It&#39;s Peanut-Butter-Jelly Time!">It&#39;s Peanut-Butter-Jelly Time!</h5>
    <h6 class="byline"><i>by</i> <a href="/~jaspers" class="username">Jaspers</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763902"><a href="/submission/763902/stop-that-laughing">
    
    <img class="lazy" data-src="/static/media/90/33/95/9033957194325c5cc33eb597d0095e6da80fcebb058bde4b558cd73467c5f8ed.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="STOP THAT LAUGHING" crossorigin="anonymous" />
    <noscript><img src="/static/media/90/33/95/9033957194325c5cc33eb597d0095e6da80fcebb058bde4b558cd73467c5f8ed.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="STOP THAT LAUGHING">STOP THAT LAUGHING</h5>
    <h6 class="byline"><i>by</i> <a href="/~mookcat" class="username">Mookcat</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763885"><a href="/submission/763885/sugar-plum-wesley">
    
    <img class="lazy" data-src="/static/media/4c/b8/12/4cb812c691d4acaf08c4e836492466a6e315e3b766c0455b08146f94aac790a0.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Sugar Plum Wesley" crossorigin="anonymous" />
    <noscript><img src="/static/media/4c/b8/12/4cb812c691d4acaf08c4e836492466a6e315e3b766c0455b08146f94aac790a0.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Sugar Plum Wesley">Sugar Plum Wesley</h5>
    <h6 class="byline"><i>by</i> <a href="/~rusheloc" class="username">RushEloc</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763797"><a href="/submission/763797/we-have-such-sights-to-show-you">
    
    <img class="lazy" data-src="/static/media/f0/a2/ff/f0a2ffa19b69896bc1e7d1c1293753f1b5d1ac9081149c2ecb52d27913ea9665.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="We have such sights to show you..." crossorigin="anonymous" />
    <noscript><img src="/static/media/f0/a2/ff/f0a2ffa19b69896bc1e7d1c1293753f1b5d1ac9081149c2ecb52d27913ea9665.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="We have such sights to show you...">We have such sights to show you...</h5>
    <h6 class="byline"><i>by</i> <a href="/~saer" class="username">Saer</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763595"><a href="/submission/763595/it-s-a-weasel">
    
    <img class="lazy" data-src="/static/media/ac/03/7a/ac037a88ab22329c13d41d232ad559c94084b24c8e903eaf829bb3ff76befb67.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="It&#39;s a Weasel!" crossorigin="anonymous" />
    <noscript><img src="/static/media/ac/03/7a/ac037a88ab22329c13d41d232ad559c94084b24c8e903eaf829bb3ff76befb67.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="It&#39;s a Weasel!">It&#39;s a Weasel!</h5>
    <h6 class="byline"><i>by</i> <a href="/~meroe1313" class="username">meroe1313</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="763494"><a href="/submission/763494/halloweasyl-2014">
    
    <img class="lazy" data-src="/static/media/d0/99/ac/d099ace847a484209382c3105651ea9245407b244e396cec359234207a2d3c98.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="halloweasyl 2014" crossorigin="anonymous" />
    <noscript><img src="/static/media/d0/99/ac/d099ace847a484209382c3105651ea9245407b244e396cec359234207a2d3c98.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="halloweasyl 2014">halloweasyl 2014</h5>
    <h6 class="byline"><i>by</i> <a href="/~hukley" class="username">Hukley</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762900"><a href="/submission/762900/welcome-to-prime-time">
    
    <img class="lazy" data-src="/static/media/87/e4/5c/87e45c280a0b977101acaa2736018104e7abbfb8c3168158eb74953ff6e4c1ed.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Welcome To Prime Time...!" crossorigin="anonymous" />
    <noscript><img src="/static/media/87/e4/5c/87e45c280a0b977101acaa2736018104e7abbfb8c3168158eb74953ff6e4c1ed.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Welcome To Prime Time...!">Welcome To Prime Time...!</h5>
    <h6 class="byline"><i>by</i> <a href="/~jandan" class="username">Jandan</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762407"><a href="/submission/762407/shut-up-wesley">
    
    <img class="lazy" data-src="/static/media/c0/73/11/c073111045a1e8ee04434831f7febe3385174c9bc0cd29e6da0e018c1845c874.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="SHUT UP WESLEY" crossorigin="anonymous" />
    <noscript><img src="/static/media/c0/73/11/c073111045a1e8ee04434831f7febe3385174c9bc0cd29e6da0e018c1845c874.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="SHUT UP WESLEY">SHUT UP WESLEY</h5>
    <h6 class="byline"><i>by</i> <a href="/~miffthefox" class="username">MiffTheFox</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762368"><a href="/submission/762368/halloweasyl-2014">
    
    <img class="lazy" data-src="/static/media/ed/b0/b9/edb0b9aeeebb5d0bffa8b5fc8040ca9a12638d9981ec78b85faefb7a69b5686c.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Halloweasyl 2014" crossorigin="anonymous" />
    <noscript><img src="/static/media/ed/b0/b9/edb0b9aeeebb5d0bffa8b5fc8040ca9a12638d9981ec78b85faefb7a69b5686c.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Halloweasyl 2014">Halloweasyl 2014</h5>
    <h6 class="byline"><i>by</i> <a href="/~fionaa" class="username">Fionaa</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762332"><a href="/submission/762332/happy-halloweasyl">
    
    <img class="lazy" data-src="/static/media/1f/0c/16/1f0c16483799ad0b8f4490e39c0f63195193f96164f7222643bf863333c42599.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Happy Halloweasyl!" crossorigin="anonymous" />
    <noscript><img src="/static/media/1f/0c/16/1f0c16483799ad0b8f4490e39c0f63195193f96164f7222643bf863333c42599.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Happy Halloweasyl!">Happy Halloweasyl!</h5>
    <h6 class="byline"><i>by</i> <a href="/~themolt" class="username">TheMolt</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762305"><a href="/submission/762305/spooky-zombie-costume">
    
    <img class="lazy" data-src="/static/media/b8/a9/fa/b8a9fa252480e7aa88fb984605da180cfc200d37b9c24266e8173954212eb513.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="SPOOKY ZOMBIE COSTUME" crossorigin="anonymous" />
    <noscript><img src="/static/media/b8/a9/fa/b8a9fa252480e7aa88fb984605da180cfc200d37b9c24266e8173954212eb513.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="SPOOKY ZOMBIE COSTUME">SPOOKY ZOMBIE COSTUME</h5>
    <h6 class="byline"><i>by</i> <a href="/~evilsonic" class="username">EvilSonic</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762289"><a href="/submission/762289/halloween-event">
    
    <img class="lazy" data-src="/static/media/d6/c4/f3/d6c4f3c1fc990772c0c363274810ab5f48f110738bb7deb56a8993005be649e6.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="halloween event!" crossorigin="anonymous" />
    <noscript><img src="/static/media/d6/c4/f3/d6c4f3c1fc990772c0c363274810ab5f48f110738bb7deb56a8993005be649e6.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="halloween event!">halloween event!</h5>
    <h6 class="byline"><i>by</i> <a href="/~perceptor" class="username">Perceptor</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762229"><a href="/submission/762229/sparkle-ween">
    
    <img class="lazy" data-src="/static/media/8c/5d/1a/8c5d1a4c616bee762b18857fd2131df81f0ce59ab5e1bec5db8ebf800201f15b.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Sparkle&#39;Ween" crossorigin="anonymous" />
    <noscript><img src="/static/media/8c/5d/1a/8c5d1a4c616bee762b18857fd2131df81f0ce59ab5e1bec5db8ebf800201f15b.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Sparkle&#39;Ween">Sparkle&#39;Ween</h5>
    <h6 class="byline"><i>by</i> <a href="/~noxid" class="username">Noxid</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762090"><a href="/submission/762090/halloweasyl-2014">
    
    <img class="lazy" data-src="/static/media/c7/6d/f1/c76df17417311cc57f22387d3ab7435eba09b3e2a4f2502898325ea6a13862b0.jpg" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Halloweasyl 2014" crossorigin="anonymous" />
    <noscript><img src="/static/media/c7/6d/f1/c76df17417311cc57f22387d3ab7435eba09b3e2a4f2502898325ea6a13862b0.jpg" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Halloweasyl 2014">Halloweasyl 2014</h5>
    <h6 class="byline"><i>by</i> <a href="/~sherwood" class="username">Sherwood</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="762037"><a href="/submission/762037/uh-oops">
    
    <img class="lazy" data-src="/static/media/18/f3/cc/18f3ccc47baddc1d35fc54e1825c35de81cfbec18b46bfe491231ddec29444f2.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="uh..... oops............." crossorigin="anonymous" />
    <noscript><img src="/static/media/18/f3/cc/18f3ccc47baddc1d35fc54e1825c35de81cfbec18b46bfe491231ddec29444f2.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="uh..... oops.............">uh..... oops.............</h5>
    <h6 class="byline"><i>by</i> <a href="/~katzenair" class="username">katzenair</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="761978"><a href="/submission/761978/halloweasyl">
    
    <img class="lazy" data-src="/static/media/a6/f3/22/a6f322b9e9c6dedee57609c714757b3c57cd5457512ca1795af302dadb7c3b0d.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Halloweasyl" crossorigin="anonymous" />
    <noscript><img src="/static/media/a6/f3/22/a6f322b9e9c6dedee57609c714757b3c57cd5457512ca1795af302dadb7c3b0d.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Halloweasyl">Halloweasyl</h5>
    <h6 class="byline"><i>by</i> <a href="/~question" class="username">question</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="761950"><a href="/submission/761950/wesley-skelington">
    
    <img class="lazy" data-src="/static/media/88/b4/d1/88b4d1805d97cad56eccf9746aafbbe715b184e8a16f677ded99de7af7e6b73e.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Wesley Skelington" crossorigin="anonymous" />
    <noscript><img src="/static/media/88/b4/d1/88b4d1805d97cad56eccf9746aafbbe715b184e8a16f677ded99de7af7e6b73e.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Wesley Skelington">Wesley Skelington</h5>
    <h6 class="byline"><i>by</i> <a href="/~lupeyroo" class="username">lupeyroo</a></h6>
  </figcaption>

  </figure>







      
<li class="grid-item welcome">
  <figure class="thumbnail">

  <div class="thumb"
    data-id="761882"><a href="/submission/761882/skull-monster-wesley">
    
    <img class="lazy" data-src="/static/media/e0/6a/0d/e06a0d653dcbb643ca41e93e4572fe39f8987e7858342c851a50afac258ca4c5.png" src="/static/images/thumbnail-blank.png" alt="thumbnail" title="Skull Monster Wesley" crossorigin="anonymous" />
    <noscript><img src="/static/media/e0/6a/0d/e06a0d653dcbb643ca41e93e4572fe39f8987e7858342c851a50afac258ca4c5.png" alt="thumb" /></noscript>
    
    </a>
  </div>

  <figcaption class="caption">
    <h5 class="title" title="Skull Monster Wesley">Skull Monster Wesley</h5>
    <h6 class="byline"><i>by</i> <a href="/~devildog" class="username">Devil Dog</a></h6>
  </figcaption>

  </figure>







  </ul><!-- /.thumbnail-grid -->
</div><!-- /#search-stage -->
