$def with (username)
Hello!

You are receiving this message because someone attempted to create an account using this email address, which is already registered to the account named "${username}". Only one Weasyl account may be associated with an email address.

If you are attempting to change your account name, please send an email from your registered email for your Weasyl account, ${username}, to support@weasyl.com to request a username change.

In the event that you forgot your password, you may reset it at https://www.weasyl.com/forgotpassword

https://www.weasyl.com
