$def with (token, terms)
Hello!

You are receiving this message so that you may confirm your recently purchased ${terms} months of Weasyl premium access. To credit your account these months, please point your web browser to the following link:

https://www.weasyl.com/verify/premium?token=${token}

Please note that although you are receiving this message at the email address you donated with, your Weasyl account does not necessarily need to be linked to this email address in order for you to receive your premium perks. All you have to do is sign into your account and follow the link above.

Thank you for your support! Your contribution helps Weasyl continue to grow and improve, and we hope you enjoy your premium experience as our thanks to you.

https://www.weasyl.com
